  .box:hover .icon-cont { animation: shady 4s linear infinite; }
  
  @keyframes shady {
    0%    { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
    20%   { box-shadow: 0 0 0 100px rgba(255, 255, 255, 0), 0 0 0 0px rgba(3, 108, 129, 0);   }
    20.1% { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
    50%   { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
    70%   { box-shadow: 0 0 0 100px rgba(255, 255, 255, 0), 0 0 0 0px rgba(3, 108, 129, 0);   }
    70.1% { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
    100%  { box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.5), 0 0 0 0px rgba(3, 108, 129, 0.5); }
  }

  
  .mallnav {
    top: 15vmin;
    right: 5vmin;
  }
  
  .surroundings,
  .levels {
    position: absolute;
    top: 50%;
    left: 60%;
  }

  .content__item {
    padding: 0 1em;
    height: 80%;
    background-color: #E8AA46;
  }
  @media only screen and (max-width: 767px) {
    .content__item {
      height: 115%;
    }
  }


  .content__button {
    top: -80%;
  }
  @media only screen and (max-width: 767px) {
    .content__button {
      top: -115%;
    }
  }  


  /* INFO BOX */
  
  .fac-container {
    max-width: 1200px;
    /* text-align: center; */
    margin: -10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
  }
  @media only screen and (max-width: 767px) {
    .fac-container{
      flex-wrap: wrap-reverse;
    }
  }
  
  
   .box {
    width: 16.66%;
    margin: 0.2%;
    padding: 0 2.67%;
    box-sizing: border-box;
    background: #801A52;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    /* cursor: pointer; */
  }
  @media only screen and (max-width: 767px) {
    .box{
      flex-shrink: 0;
      margin: 0;
    }
  
    .box:not(.box01){
      width: 33.3%;
      padding: 0 16px;
    }
  }
  
  .box .icon-cont {
    border: 6px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 16px auto;
    display: block; 
    text-align: center;
    box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
  }
@media only screen and (max-width: 767px) {
  .box .icon-cont{
    display: none;
  }
}
  
  
  .box .icon-cont i {
    color: #fff;
    opacity: 0.6;
    font-size: 2.5em;
    line-height: 63px;
  }
  .box:hover .icon-cont {
    animation: shady 4s linear infinite;
  }
  

  
  .box h3 {
    color: #fff;
    /* font-family: 'Open Sans', Arial, sans-serif; */
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 12%;
    border-bottom: 1px solid rgba(255,255,255,1);
  }
  @media only screen and (max-width: 767px) {
    .box h3{
      padding: 16px 0;
    }
  }


  .box01{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  @media only screen and (max-width: 767px) {
    .box01{
      /* flex-direction: column; */
      width: 100%;
      margin-top: 16px;
    }
  }

  
  
  .box span{ color: #fff; }
  
  .box strong{
    display: block;
    padding: 12%;
    font-size: 24px;
    color: #fff;
  }

  
  .fac-list{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
  }

@media only screen and (max-width: 767px) {
  .fac-list{
    margin-top: 36px;
  }
}
  

  .fac-info{
    /* padding: 16px; */
    color: #fff;
    line-height: 1.5;
  }
  /* @media only screen and (max-width: 767px) {
    .fac-info{
    }
  } */



  .fac-info h3    {  font-size: 28px;}
  .fac-info span  {  font-size: 24px;}
  .fac-info small {  font-size: 16px;}


  .fac-info h3,
  .fac-info p{
    text-align: left;
    border-bottom: 0;
    padding: 0 32px;
    padding-top: 16px;
  }


  .fac-img  { width: 53%; }
  @media only screen and (max-width: 767px) {
    .fac-img  { display: none; }
  }

  .fac-info { width: 100%; }


  .fac-img img{
    width: 100%;
    vertical-align: middle;
  }



  .fac-btn-group{
    padding: 0 32px;;
    text-align: right;
    margin-top: -16px;
  }


  
  .fac-btn{
    margin-top: 16px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 8px 16px;
    border-radius: 4px;
    width: 100px;
    opacity: .7;
    background-color: #E8AA46;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 767px) {
    .fac-status{
      display: flex;
      flex-direction: row;
    }
  }

  /* Style the tab */
.content__item .tab {
    /* overflow: hidden; */
  }
  
  /* Style the buttons that are used to open the tab content */
  .content__item .tab button {
    background-color: #fff;;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 32px;
    transition: 0.3s;
    color: #E8AA46;
    margin-top: -32px;
    position: relative;
    z-index: 10;
  }
@media only screen and (max-width: 767px) {
  .content__item .tab button {
    padding: 8px 16px;
    margin-top: 16px;
  }
}



  /* Change background color of buttons on hover */
  .content__item .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .content__item .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .content__item .tabcontent {
    display: none;
  }
  
  /* default show fac-no */
  .fac-container:nth-child(2){
    display: flex;
  }