@charset "UTF-8";
header {
  width: 100%;
  font-family: 'HanWangZonYi';
  src: url(../font/HanWangZonYi.ttf);
  background-color: #F00; }

header:after {
  display: block;
  content: '';
  clear: both; }

.logo {
  float: left;
  margin-left: 213px;
  margin-top: 59px; }

.logo img {
  width: 65%; }

header ul {
  float: right;
  margin-right: 100px;
  margin-top: 30px; }

header ul li {
  float: left;
  margin-right: 45px;
  font-size: 26px;
  line-height: 145px; }

header ul li a {
  text-decoration: none;
  color: #0052b2;
  text-shadow: #fff 0px 2px, #fff 0px -2px, #fff 2px 0px, #fff -2px 0px; }

header ul li:last-child {
  line-height: 1;
  padding-top: 45px; }

* {
  outline: 1px solid #222;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

h1,
h2,
h3,
h4 {
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

h2 {
  font-size: 3.5em;
  margin: 0.83em 0;
  padding: 10px; }

p {
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif;
  margin: 1em 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative; }

.min {
  width: 100%; }

.bg-top {
  background-color: #0f0111;
  background-image: url("../../images/about-material/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.bg-blue {
  background-color: #0f0111;
  color: #fff; }

.header-indent {
  padding-top: 80px; }

.container-big {
  max-width: 1200px;
  margin: auto; }

.block-item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6em; }

.block-item .block-text:first-child {
  padding-right: 4em; }

.block-text {
  width: 50%; }

.block-aboutus {
  opacity: .7;
  line-height: 1.4; }

.bolck-image {
  width: 50%; }

.an-first {
  width: 608px;
  height: calc((608px / 3.2) * 3);
  position: relative;
  float: right; }

.block-item .block-text:last-child {
  padding-left: 4em; }

.block-item-introduction {
  display: block;
  overflow: hidden; }

.sports-introduction {
  width: 90%;
  float: right;
  background-size: 100%;
  background-image: url("../../images/about-material/Introduction-page/Star-track.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: top right;
  padding-bottom: 40%; }

.basketball h3 {
  position: absolute;
  font-size: 2em;
  top: 40%;
  right: 20%; }

.basketball-o {
  position: absolute;
  width: 24%;
  top: 21%;
  right: -4.5%; }

.badminton h3 {
  position: absolute;
  font-size: 2em;
  top: 40%;
  right: 20%; }

.badminton-o {
  position: absolute;
  width: 10%; }

.bowling h3 {
  position: absolute;
  font-size: 2em;
  top: 40%;
  right: 20%; }

.bowling-o {
  width: 10%; }

.rock-climbing h3 {
  position: absolute;
  font-size: 2em;
  top: 40%;
  right: 20%; }

.rock-climbing-o {
  width: 10%; }

.business-info {
  position: relative;
  overflow: hidden; }

.l-color-block {
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -5%;
  width: 500px;
  height: 200%;
  background-color: #ffb505;
  transform: rotate(-20deg); }

.r-color-block {
  position: absolute;
  z-index: -1;
  top: -8%;
  right: -10%;
  width: 10%;
  height: 100%;
  background-color: #ffb505;
  transform: rotate(-20deg); }

.businfo {
  height: 660px; }

.bg-buttom {
  background-image: url("../../images/about-material/about-bg2.png");
  background-repeat: no-repeat;
  background-size: cover; }

.slide-site {
  padding: 0 1em; }

.container-side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em; }

.site-text {
  width: 50%;
  padding-bottom: 60px;
  height: 560px; }

.side {
  width: 50%;
  padding-bottom: 60px;
  height: 560px; }

footer {
  height: 80px;
  background-color: #ffb505; }

.an-first > img,
.an-first > div {
  position: absolute;
  opacity: 1; }

.an-first > img {
  width: auto; }

.an-first.start > img,
.an-first.start > div {
  opacity: 1;
  transform: translate(0, 0);
  animation-duration: 4s; }

.an-first.start .an-first-area-1 {
  animation-name: area; }

.an-first.start .an-first-area-2 {
  animation-name: area-2; }

.an-first.start .an-first-area-3 {
  animation-name: area-3; }

.an-first.start .an-first-area-4 {
  animation-name: area-4; }

.an-first.start .an-first-fire {
  animation-name: first-fire; }

.an-first.start .an-first-building {
  animation-name: first-building; }

.an-first.start .an-first-building-2 {
  animation-name: first-building-2; }

.an-first.start .an-first-crane {
  animation-name: first-crane; }

@media screen and (max-width: 768px) {
  .an-first {
    width: 360px;
    height: calc((360px / 3.2) * 3); } }

.an-first-area-1 {
  left: 0;
  bottom: 35%;
  max-width: 95%;
  transform: translateY(-20%); }

.an-first-area-2 {
  left: 0;
  bottom: 28%;
  max-width: 94%;
  transform: translateY(20%); }

.an-first-area-3 {
  left: 0;
  bottom: 18%;
  max-width: 100%;
  transform: translateY(25%); }

.an-first-area-4 {
  left: 8%;
  bottom: 0;
  max-width: 65%;
  transform: translateY(15%); }

.an-first-fire {
  right: 32%;
  bottom: 43%;
  max-width: 9%;
  transform: translateY(25%); }

.an-first-building {
  right: 22%;
  top: 20%;
  max-width: 20%;
  transform: translate(28%, -26%); }

.an-first-building-2 {
  right: 12%;
  top: 4%;
  max-width: 12%;
  transform: translate(45%, -15%); }

.an-first-crane {
  bottom: 57%;
  left: 34%;
  max-width: 20%;
  transform: translate(15%, -10%); }

@keyframes area {
  0% {
    transform: translateY(-20%);
    opacity: 0; }
  25% {
    transform: translateY(5%);
    opacity: 1; } }

@keyframes area-2 {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  25% {
    transform: translateY(-20%);
    opacity: 1; } }

@keyframes area-3 {
  0% {
    transform: translateY(25%);
    opacity: 0; }
  30% {
    transform: translateY(-25%);
    opacity: 1; } }

@keyframes area-4 {
  0% {
    transform: translateY(15%);
    opacity: 0; }
  10% {
    transform: translateY(15%);
    opacity: 0; }
  35% {
    transform: translateY(-15%);
    opacity: 1; } }

@keyframes first-fire {
  0% {
    opacity: 0;
    transform: translateY(25%); }
  15% {
    opacity: 0;
    transform: translateY(25%); }
  35% {
    opacity: 1;
    transform: translateY(-25%); } }

@keyframes first-building {
  0% {
    transform: translate(28%, -26%);
    opacity: 0; }
  12% {
    transform: translate(28%, -26%);
    opacity: 0; }
  27% {
    transform: translate(-28%, 26%);
    opacity: 1; } }

@keyframes first-building-2 {
  0% {
    transform: translate(45%, -15%);
    opacity: 0; }
  15% {
    transform: translate(45%, -15%);
    opacity: 0; }
  35% {
    transform: translate(-45%, 15%);
    opacity: 1; } }

@keyframes first-crane {
  0% {
    opacity: 0;
    transform: translate(15%, -10%); }
  20% {
    opacity: 0;
    transform: translate(15%, -10%); }
  45% {
    opacity: 1;
    transform: translate(-15%, -10%); } }

.an-crane {
  width: 570px;
  height: calc((570px / 3.3) * 3);
  position: relative;
  cursor: pointer; }

.an-crane > img,
.an-crane > div {
  position: absolute; }

.an-crane > img {
  width: auto; }

.an-crane.start > img,
.an-crane.start > div,
.an-crane.start .an-crane-bg-shadow,
.an-crane.start .an-crane-1-wrap,
.an-crane.start .an-crane-2-wrap {
  opacity: 1;
  animation-duration: 2s; }

.an-crane.start .an-crane-bg-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg; }

.an-crane.start .an-crane-bg-shadow {
  animation-name: crane-bg-shadow; }

.an-crane.start .an-crane-area-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg-area; }

.an-crane.start .an-crane-area-2 {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-area-2; }

.an-crane.start .an-crane-1-wrap {
  animation-name: crane-1; }

.an-crane.start .an-crane-2-wrap {
  animation-name: crane-2; }

.an-crane.start .an-crane-3-wrap {
  animation-duration: 4s;
  animation-name: crane-block;
  animation-iteration-count: infinite; }

.an-crane.activate .an-crane-1-wrap {
  animation: crane-1-2 5s infinite; }

.an-crane.activate .an-crane-2-wrap {
  animation: crane-1-3 4s infinite; }

.an-crane.activate .an-crane-area-wrap {
  animation: crane-bg-area-2 4s infinite; }

.an-crane.activate .an-crane-area-2 {
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

@media screen and (max-width: 767px) {
  .an-crane {
    overflow-x: hidden; } }

@media screen and (max-width: 768px) {
  .an-crane {
    width: 360px;
    height: calc((360px / 3.2) * 3); } }

.an-crane-bg-wrap {
  max-width: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 63%;
  opacity: 0;
  transform: translate(20%, -20%); }

.an-crane-bg-wrap > img {
  position: absolute; }

.an-crane-bg {
  width: 100%;
  top: 0;
  left: 0; }

.an-crane-bg-shadow {
  width: 100%;
  left: 0;
  top: 18%; }

.an-crane-area-wrap {
  left: 0;
  top: 30%;
  max-width: 100%;
  width: 100%;
  max-height: 43%;
  height: 100%;
  opacity: 0;
  transform: translate(25%, -25%); }

.an-crane-area-wrap > img {
  position: absolute; }

.an-crane-area {
  left: 0;
  top: 0;
  max-width: 100%; }

.an-crane-1-wrap {
  position: absolute;
  right: 21%;
  top: -16%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 18%; }

.an-crane-2-wrap {
  position: absolute;
  top: 0%;
  left: -60%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 95%; }

.an-crane-3-wrap {
  position: absolute;
  top: 22%;
  left: -28%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 35%; }

.an-crane-1 {
  max-width: 100%; }

.an-crane-2 {
  max-width: 100%;
  position: relative;
  z-index: 2; }

.an-crane-3 {
  max-width: 28px;
  position: relative;
  z-index: 2; }

.an-crane-block {
  position: absolute;
  min-width: 130px;
  transform: translate(-90%, -75%); }

@media screen and (max-width: 768px) {
  .an-crane-block {
    min-width: 60px; } }

.an-crane-area-2 {
  max-width: 50%;
  left: 3%;
  top: 24%;
  opacity: 0;
  transform: translate(-60%, -20%); }

@keyframes crane-bg {
  0% {
    opacity: 0;
    transform: translate(20%, -20%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-bg-shadow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  55% {
    opacity: 1; } }

@keyframes crane-bg-area {
  0% {
    opacity: 0;
    transform: translate(25%, -25%); }
  10% {
    opacity: 0;
    transform: translate(25%, -25%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-bg-area-2 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: translate(0, 10%); }
  100% {
    transform: translate(0, 0); } }

@keyframes crane-bg-area-3 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: translate(10px, 10%); }
  100% {
    transform: translate(0, 0); } }

@keyframes crane-area-2 {
  0% {
    opacity: 0;
    transform: translate(-60%, -20%); }
  10% {
    opacity: 0;
    transform: translate(-60%, -20%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-1 {
  0% {
    transform: rotate(80deg); }
  70% {
    transform: rotate(0deg); } }

@keyframes crane-1-2 {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(-8deg); }
  100% {
    transform: rotate(0); } }

@keyframes crane-1-3 {
  0% {
    transform: rotate(0deg);
    top: 0;
    left: -60%; }
  60% {
    transform: rotate(35deg);
    top: 6px;
    left: -75%; }
  100% {
    transform: rotate(0);
    top: 0;
    left: -60%; } }

@keyframes crane-2 {
  0% {
    transform: rotate(80deg); }
  85% {
    transform: rotate(0deg); } }

@keyframes crane-block {
  0% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(12deg); } }

@keyframes breatheBall {
  0% {
    transform: scale(1);
    opacity: .6; }
  100% {
    transform: scale(1.1);
    opacity: 1; } }

#star-line {
  width: 100%;
  display: block;
  position: absolute; }

.badminton-o {
  offset-path: path("M1328.2,237.5c-324.2,49.9-567.8,156-556.7,247.3c12,98.4,314.5,142.3,675.7,98.4s644.2-159.5,632.2-257.8S1764.9, 183, 1403.7, 227C1378.1, 230.2, 1353, 233.7, 1328.2, 237.5");
  offset-distance: 10%;
  animation: badminton 10s linear infinite; }

.bowling-o {
  offset-path: path("M1213.9,40.3C507.8,148.9-22.5,379.9,1.9,578.9C28,793.1,686.8,889,1473.2,793.1S2876,446,2849.7,231.8c-26.3-214.2-684.9-310-1471.3-214.2C1323.5, 24.4, 1268.7, 31.9, 1213.9, 40.3");
  offset-distance: 10%;
  animation: badminton 10s linear infinite; }

.rock-climbing-o {
  offset-path: path("M504.7,517.4C521.6,656,947.8,718,1456.6,656S2364,431.4,2347,292.9c-17-138.6-443.1-200.6-951.8-138.5c-35.5, 4.4-71, 9.2-106.5, 14.6C832, 239.3, 488.9, 388.7, 504.7, 517.4z");
  offset-distance: 10%;
  animation: badminton 10s linear infinite; }

@keyframes badminton {
  from {
    offset-distance: 0%; }
  to {
    offset-distance: 100%;
    /* transform: scale(0.1); */ } }

@media screen and (max-width: 768px) {
  .bg-top {
    width: 100%;
    height: 100%; }
  .block-item {
    flex-direction: column-reverse;
    padding-bottom: 2em; }
  .block-item .block-text:first-child {
    padding-right: 0em; }
  .block-aboutus {
    line-height: 30px;
    padding: 1em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .block-text {
    width: 100%; }
  .bolck-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .block-item .block-text:last-child {
    padding-left: 0em; } }
