@charset "UTF-8";
.wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 100%; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%; } }

header {
  width: 100%;
  font-family: 'HanWangZonYi';
  position: absolute;
  z-index: 99; }

header:after {
  display: block;
  content: '';
  clear: both; }

.humberger_btn {
  display: none; }

.logo {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  width: 265px; }

.logo img {
  width: 100%;
  vertical-align: top; }

header ul {
  float: right;
  margin-top: 40px; }

header ul li {
  float: left;
  margin-right: 30px;
  position: relative;
  z-index: 2; }

header a {
  display: block;
  position: relative;
  text-decoration: none;
  color: #0052b2;
  letter-spacing: 5px;
  text-shadow: #fff 1px 1px, #fff 1px -1px, #fff -1px 1px, #fff -1px -1px;
  z-index: 3;
  font-size: 20px; }

header a:after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: -20%;
  width: 90%;
  height: 50%;
  transform: skewX(-40deg);
  background-color: #ffb505;
  z-index: -1;
  opacity: 0;
  display: block; }

header ul li a:hover:after {
  opacity: 1;
  left: 10px;
  transition: .5s; }

.login {
  float: right;
  margin-top: 40px;
  margin-right: 15px;
  position: relative;
  z-index: 2; }

#loginicon {
  width: 100%; }

@media screen and (max-width: 1200px) {
  .logo {
    width: 205px; }
  header a {
    font-size: 16px; } }

@media screen and (max-width: 768px) {
  header {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    height: 60px; }
  .humberger_btn {
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 3; }
  .humberger_line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ffb505;
    border-radius: 2px;
    width: 30px;
    height: 5px;
    transition: .5s; }
  .humberger_line.top {
    top: 20px; }
  .humberger_line.mid {
    top: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .humberger_line.bot {
    bottom: 20px; }
  .humberger_btn.active .humberger_line.top {
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center;
    background-color: #ffb505; }
  .humberger_btn.active .humberger_line.mid {
    opacity: 0.3;
    background-color: #ffb505;
    height: 20px;
    border-radius: 50%;
    border: 0;
    transform: translateX(-50%) translateY(-50%) scale(0.7, 0.7); }
  .humberger_btn.active .humberger_line.bot {
    bottom: initial;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    background-color: #ffb505; }
  .logo {
    text-align: center;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    width: 100px;
    float: none; }
  .humberger_btn.active ~ ul {
    left: 0; }
  header ul {
    position: absolute;
    float: none;
    margin: 0;
    top: 60px;
    width: 100%;
    left: -100%;
    height: 100vh;
    background-color: #fff; }
  header ul li {
    float: none;
    margin: 0;
    text-align: center;
    font-size: 20px;
    padding-top: 6.5%; }
  header ul li a:after {
    display: none; }
  .login {
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%); } }

/*lightbox*/
h1,
h2 {
  font-family: 'HanWangZonYi'; }

* {
  box-sizing: border-box; }

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%; }

body::-webkit-scrollbar {
  display: none; }

body {
  -ms-overflow-style: none;
  height: 100%;
  width: 100vw;
  overflow: auto; }

h1,
h2,
h3,
h4 {
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.block-text h2 {
  font-size: 3.5em;
  margin: 0.83em 0;
  padding: 10px;
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.business-text h2 {
  font-size: 3.5em;
  padding: 10px;
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.site-text h2 {
  font-size: 3.5em;
  padding: 10px;
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.block-aboutus p {
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif;
  margin: 1em 0;
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.site-text p {
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif;
  margin: 1em 0;
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.min {
  width: 100%; }

.bg-top {
  background-color: #0f0111;
  background-image: url("../images/about-material/about-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.bg-blue {
  background-color: #0f0111;
  color: #fff; }

.header-indent {
  padding-top: 205px; }

.container-big {
  max-width: 1200px;
  margin: auto; }

.block-item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 6em; }

.block-item .block-text:first-child {
  padding-right: 4em; }

.block-text {
  width: 50%; }

.block-aboutus {
  opacity: 0.7;
  line-height: 1.4; }

.bolck-image {
  width: 50%; }

.an-first {
  width: 608px;
  height: calc((608px / 3.2) * 3);
  position: relative;
  float: right; }

.block-item .block-text:last-child {
  padding-left: 4em; }

.block-item-introduction {
  display: block;
  overflow: hidden; }

.sports-introduction {
  width: 90%;
  float: right;
  background-size: 100%;
  background-image: url("../images/about-material/Introduction-page/Star-track.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position: top right;
  padding-bottom: 50%; }

.sports-introduction a {
  color: #fff; }

.basketball h3 {
  position: absolute;
  font-size: 2em;
  top: 40%;
  right: 20%; }

.basketball-o {
  position: absolute;
  width: 20%;
  top: 25%;
  right: -4.5%; }

.badminton h3 {
  position: absolute;
  font-size: 2em;
  top: 30%;
  right: 35%; }

.badminton-o {
  position: absolute;
  border-radius: 50%;
  width: 20%;
  top: 5%;
  right: 45%; }

.bowling h3 {
  position: absolute;
  font-size: 2em;
  top: 80%;
  right: 70%; }

.bowling-o {
  position: absolute;
  width: 20%;
  top: 50%;
  right: 80%; }

.rock-climbing h3 {
  position: absolute;
  font-size: 2em;
  top: 70%;
  right: 25%; }

.rock-climbing-o {
  position: absolute;
  border-radius: 50%;
  width: 15%;
  top: 55%;
  right: 35%; }

.point-txt1 {
  position: absolute;
  top: -25px;
  right: 80%; }

.point-txt2 {
  position: absolute;
  top: -25px;
  right: 80%; }

.point-txt3 {
  position: absolute;
  top: -25px;
  right: 80%; }

.point-txt4 {
  position: absolute;
  top: -25px;
  right: 80%; }

.business-info {
  position: relative;
  overflow: hidden; }

.l-color-block {
  position: absolute;
  z-index: -1;
  top: -10%;
  left: -5%;
  width: 500px;
  height: 200%;
  background-color: #ffb505;
  transform: rotate(-20deg); }

.r-color-block {
  position: absolute;
  z-index: -1;
  top: -8%;
  right: -10%;
  width: 10%;
  height: 100%;
  background-color: #ffb505;
  transform: rotate(-20deg); }

.businfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative; }

.business-text {
  align-self: center;
  margin-top: 6em;
  margin-bottom: 6em; }

.business-text h3 {
  font-size: 2em;
  line-height: 1.3em;
  font-weight: bold;
  padding: 10px; }

.business-text span {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1.5em;
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif; }

.phone {
  padding: 1em; }

.time {
  padding: 1em; }

.landmark {
  padding: 1em; }

.phone img {
  width: 50px;
  height: 50px;
  vertical-align: middle; }

.time img {
  width: 50px;
  height: 50px;
  vertical-align: middle; }

.landmark img {
  width: 50px;
  height: 50px;
  vertical-align: middle; }

.container {
  width: 100%; }

.layer div {
  position: absolute; }

.redman {
  top: 10px;
  right: 1%; }

.redman img {
  width: 60%; }

.blackman {
  top: 300px;
  right: 70%; }

.blackman img {
  width: 70%; }

.fastball {
  top: 50px;
  right: 15%; }

.fastball img {
  width: 50%; }

.speed-ball {
  top: 10px;
  left: 73%; }

.speed-ball img {
  width: 50%; }

.bg-buttom {
  background-image: url("../images/about-material/about-bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff; }

.slide-site {
  padding: 0 1em; }

.container-side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2em; }

.site-text {
  width: 50%;
  padding-bottom: 20px;
  padding-right: 10px; }

.site-text p {
  font-family: "Questrial", " Microsoft JhengHei", "微軟正黑體", sans-serif;
  margin: 1em 0;
  opacity: 0.7;
  line-height: 1.4; }

#map {
  width: 100%;
  height: 300px; }

.cell img {
  width: 100%;
  margin: auto; }

.side {
  width: 50%;
  padding-bottom: 20px;
  padding-left: 10px; }

footer {
  height: 80px;
  background-color: #ffb505; }

.an-first > img,
.an-first > div {
  position: absolute;
  opacity: 0; }

.an-first > img {
  width: auto; }

.an-first.start > img,
.an-first.start > div {
  opacity: 1;
  transform: translate(0, 0);
  animation-duration: 4s; }

.an-first.start .an-first-area-1 {
  animation-name: area; }

.an-first.start .an-first-area-2 {
  animation-name: area-2; }

.an-first.start .an-first-area-3 {
  animation-name: area-3; }

.an-first.start .an-first-area-4 {
  animation-name: area-4; }

.an-first.start .an-first-fire {
  animation-name: first-fire; }

.an-first.start .an-first-building {
  animation-name: first-building; }

.an-first.start .an-first-building-2 {
  animation-name: first-building-2; }

.an-first.start .an-first-crane {
  animation-name: first-crane; }

@media screen and (max-width: 1200px) {
  .an-first {
    width: 500px;
    height: calc((500px / 3.2) * 3); } }

@media screen and (max-width: 768px) {
  .an-first {
    width: 360px;
    height: calc((360px / 3.2) * 3); } }

.block-image-video {
  position: relative;
  height: calc((500px / 3.2) * 3); }

.block-image-video:hover .block-video {
  cursor: url(../images/about-material/about-animation/video/arrow-quattro-8c19783f05e08cb519ba717790202f1c8af49e67fc94211cc97e28261c1be3ec.svg) 30 45, auto; }

.block-image-video:hover .block-video {
  box-shadow: 0 4px 30px 0 rgba(211, 208, 47, 0.781); }

.block-video {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.5s ease, transform 0.2s ease;
  transition: box-shadow 0.5s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  overflow: hidden; }

.block-video .video-item {
  position: absolute;
  width: 135%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.an-first-area-1 {
  left: 0;
  bottom: 35%;
  max-width: 95%;
  transform: translateY(-20%); }

.an-first-area-2 {
  left: 0;
  bottom: 28%;
  max-width: 94%;
  transform: translateY(20%); }

.an-first-area-3 {
  left: 0;
  bottom: 18%;
  max-width: 100%;
  transform: translateY(25%); }

.an-first-area-4 {
  left: 8%;
  bottom: 0;
  max-width: 65%;
  transform: translateY(15%); }

.an-first-fire {
  right: 32%;
  bottom: 43%;
  max-width: 9%;
  transform: translateY(25%); }

.an-first-building {
  right: 22%;
  top: 20%;
  max-width: 20%;
  transform: translate(28%, -26%); }

.an-first-building-2 {
  right: 12%;
  top: 4%;
  max-width: 12%;
  transform: translate(45%, -15%); }

.an-first-crane {
  bottom: 57%;
  left: 34%;
  max-width: 20%;
  transform: translate(15%, -10%); }

@keyframes area {
  0% {
    transform: translateY(-20%);
    opacity: 0; }
  25% {
    transform: translateY(5%);
    opacity: 1; } }

@keyframes area-2 {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  25% {
    transform: translateY(-20%);
    opacity: 1; } }

@keyframes area-3 {
  0% {
    transform: translateY(25%);
    opacity: 0; }
  30% {
    transform: translateY(-25%);
    opacity: 1; } }

@keyframes area-4 {
  0% {
    transform: translateY(15%);
    opacity: 0; }
  10% {
    transform: translateY(15%);
    opacity: 0; }
  35% {
    transform: translateY(-15%);
    opacity: 1; } }

@keyframes first-fire {
  0% {
    opacity: 0;
    transform: translateY(25%); }
  15% {
    opacity: 0;
    transform: translateY(25%); }
  35% {
    opacity: 1;
    transform: translateY(-25%); } }

@keyframes first-building {
  0% {
    transform: translate(28%, -26%);
    opacity: 0; }
  12% {
    transform: translate(28%, -26%);
    opacity: 0; }
  27% {
    transform: translate(-28%, 26%);
    opacity: 1; } }

@keyframes first-building-2 {
  0% {
    transform: translate(45%, -15%);
    opacity: 0; }
  15% {
    transform: translate(45%, -15%);
    opacity: 0; }
  35% {
    transform: translate(-45%, 15%);
    opacity: 1; } }

@keyframes first-crane {
  0% {
    opacity: 0;
    transform: translate(15%, -10%); }
  20% {
    opacity: 0;
    transform: translate(15%, -10%); }
  45% {
    opacity: 1;
    transform: translate(-15%, -10%); } }

.an-crane {
  width: 570px;
  height: calc((570px / 3.3) * 3);
  position: relative;
  cursor: pointer; }

.an-crane > img,
.an-crane > div {
  position: absolute; }

.an-crane > img {
  width: auto; }

.an-crane.start > img,
.an-crane.start > div,
.an-crane.start .an-crane-bg-shadow,
.an-crane.start .an-crane-1-wrap,
.an-crane.start .an-crane-2-wrap {
  opacity: 1;
  animation-duration: 2s; }

.an-crane.start .an-crane-bg-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg; }

.an-crane.start .an-crane-bg-shadow {
  animation-name: crane-bg-shadow; }

.an-crane.start .an-crane-area-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg-area; }

.an-crane.start .an-crane-area-2 {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-area-2; }

.an-crane.start .an-crane-1-wrap {
  animation-name: crane-1; }

.an-crane.start .an-crane-2-wrap {
  animation-name: crane-2; }

.an-crane.start .an-crane-3-wrap {
  animation-duration: 4s;
  animation-name: crane-block;
  animation-iteration-count: infinite; }

.an-crane.activate .an-crane-1-wrap {
  animation: crane-1-2 5s infinite; }

.an-crane.activate .an-crane-2-wrap {
  animation: crane-1-3 4s infinite; }

.an-crane.activate .an-crane-area-wrap {
  animation: crane-bg-area-2 4s infinite; }

.an-crane.activate .an-crane-area-2 {
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

@media screen and (max-width: 767px) {
  .an-crane {
    overflow-x: hidden; } }

@media screen and (max-width: 1200px) {
  .an-crane {
    width: 500px;
    height: calc((500px / 3.2) * 3); } }

@media screen and (max-width: 768px) {
  .an-crane {
    width: 360px;
    height: calc((360px / 3.2) * 3); } }

.an-crane-bg-wrap {
  max-width: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 63%;
  opacity: 0;
  transform: translate(20%, -20%); }

.an-crane-bg-wrap > img {
  position: absolute; }

.an-crane-bg {
  width: 100%;
  top: 0;
  left: 0; }

.an-crane-bg-shadow {
  width: 100%;
  left: 0;
  top: 18%; }

.an-crane-area-wrap {
  left: 0;
  top: 30%;
  max-width: 100%;
  width: 100%;
  max-height: 43%;
  height: 100%;
  opacity: 0;
  transform: translate(25%, -25%); }

.an-crane-area-wrap > img {
  position: absolute; }

.an-crane-area {
  left: 0;
  top: 0;
  max-width: 100%; }

.an-crane-1-wrap {
  position: absolute;
  right: 21%;
  top: -16%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 18%; }

.an-crane-2-wrap {
  position: absolute;
  top: 0%;
  left: -60%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 95%; }

.an-crane-3-wrap {
  position: absolute;
  top: 22%;
  left: -28%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 35%; }

.an-crane-1 {
  max-width: 100%; }

.an-crane-2 {
  max-width: 100%;
  position: relative;
  z-index: 2; }

.an-crane-3 {
  max-width: 28px;
  position: relative;
  z-index: 2; }

.an-crane-block {
  position: absolute;
  min-width: 130px;
  transform: translate(-90%, -75%); }

@media screen and (max-width: 768px) {
  .an-crane-block {
    min-width: 60px; } }

.an-crane-area-2 {
  max-width: 50%;
  left: 3%;
  top: 24%;
  opacity: 0;
  transform: translate(-60%, -20%); }

@keyframes crane-bg {
  0% {
    opacity: 0;
    transform: translate(20%, -20%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-bg-shadow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  55% {
    opacity: 1; } }

@keyframes crane-bg-area {
  0% {
    opacity: 0;
    transform: translate(25%, -25%); }
  10% {
    opacity: 0;
    transform: translate(25%, -25%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-bg-area-2 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: translate(0, 10%); }
  100% {
    transform: translate(0, 0); } }

@keyframes crane-bg-area-3 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: translate(10px, 10%); }
  100% {
    transform: translate(0, 0); } }

@keyframes crane-area-2 {
  0% {
    opacity: 0;
    transform: translate(-60%, -20%); }
  10% {
    opacity: 0;
    transform: translate(-60%, -20%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-1 {
  0% {
    transform: rotate(80deg); }
  70% {
    transform: rotate(0deg); } }

@keyframes crane-1-2 {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(-8deg); }
  100% {
    transform: rotate(0); } }

@keyframes crane-1-3 {
  0% {
    transform: rotate(0deg);
    top: 0;
    left: -60%; }
  60% {
    transform: rotate(35deg);
    top: 6px;
    left: -75%; }
  100% {
    transform: rotate(0);
    top: 0;
    left: -60%; } }

@keyframes crane-2 {
  0% {
    transform: rotate(80deg); }
  85% {
    transform: rotate(0deg); } }

@keyframes crane-block {
  0% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(12deg); } }

.ball-animation {
  animation: breatheBall 3s ease-in alternate infinite; }

@keyframes breatheBall {
  0% {
    transform: scale(1);
    opacity: 0.6; }
  100% {
    transform: scale(1.1);
    opacity: 1; } }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: white;
  cursor: pointer; }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: #333; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

* {
  box-sizing: border-box; }

body {
  /* font-family: sans-serif;
  color: #333; */ }

.container {
  /* border: 1px solid; */
  /* margin-bottom: 50px; */ }

.container:after {
  content: '';
  display: block;
  clear: both; }

/* .container:focus { border: 1px blue dotted; } */
.cell {
  width: 100%;
  /* height: 500px; */
  /* border: 0px solid white; */
  /* background: #CCC; */ }

.cell.is-selected {
  /* outline: 4px solid hsla(0, 0%, 0%, 0.25);
  outline-offset: -4px; */ }

/* .cell:nth-child(6n) { background: hsl(0, 80%, 70%); }
.cell:nth-child(6n+1) { background: hsl(60, 80%, 70%); }
.cell:nth-child(6n+2) { background: hsl(120, 80%, 70%); }
.cell:nth-child(6n+3) { background: hsl(180, 80%, 70%); }
.cell:nth-child(6n+4) { background: hsl(240, 80%, 70%); }
.cell:nth-child(6n+5) { background: hsl(300, 80%, 70%); }

.cell.n1 { background: #D22; background: hsl(0, 80%, 70%); }
.cell.n2 { background: #DD2; background: hsl(60, 80%, 70%); }
.cell.n3 { background: #2D2; background: hsl(120, 80%, 70%); }
.cell.n4 { background: #2DD; background: hsl(180, 80%, 70%); }
.cell.n5 { background: #22D; background: hsl(240, 80%, 70%); }
.cell.n6 { background: #D2D; background: hsl(300, 80%, 70%); } */
#half-width .cell {
  width: 48%;
  margin-right: 4%; }

.variable-width .cell {
  width: 20%;
  margin-right: 3%; }

.variable-width .cell.w2 {
  width: 30%; }

.variable-width .cell.w3 {
  width: 40%; }

.fixed-width .cell {
  width: 200px;
  margin-right: 20px; }

/* big number */
.cell b {
  display: block;
  font-size: 100px;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 10px; }

/* ---- couning ---- */
.counting {
  counter-reset: cell; }

.counting .cell:before {
  counter-increment: cell;
  content: counter(cell);
  display: block;
  font-size: 100px;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 10px;
  top: 10px; }

@media screen and (max-width: 1200px) {
  .bg-top {
    width: 100%;
    height: 100%; }
  .block-item {
    flex-direction: row;
    padding-bottom: 2em; }
  .header-indent {
    padding-top: 100px; }
  .block-item .block-text:first-child {
    padding-right: 0em; }
  .block-aboutus {
    line-height: 30px;
    padding: 1em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .block-text {
    width: 50%;
    padding: 0px 10px 10px 10px; }
  .block-text h2 {
    font-size: 2.5em;
    margin: 14px; }
  .bolck-image {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .block-image-video {
    height: auto; }
  .block-item .block-text:last-child {
    padding-left: 0em; }
  .business-text {
    align-self: center;
    margin-top: 3em;
    margin-bottom: 3em; }
  .business-text h2 {
    font-size: 3vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 1em; }
  .business-text h3 {
    font-size: 2vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 1em; }
  .landmark {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .redman {
    top: 10px;
    right: -450px; }
  .redman img {
    width: 30%; }
  .blackman img {
    width: 70%; }
  .fastball {
    top: -10px;
    right: -250px; }
  .fastball img {
    width: 40%; } }

@media screen and (max-width: 768px) {
  .bg-top {
    width: 100%;
    height: 100%; }
  .block-item {
    display: flex;
    padding-bottom: 2em; }
  .block-item .block-text:first-child {
    padding-right: 0em;
    order: 1; }
  .block-aboutus {
    line-height: 30px;
    padding: 1em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .block-text {
    width: 100%; }
  .bolck-image {
    width: 100%;
    align-self: center; }
  .block-image-video {
    height: auto;
    order: 0; }
  .block-item .block-text:last-child {
    padding-left: 0em; }
  .sports-introduction {
    min-width: 40%;
    padding-bottom: 10%; }
  .basketball {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .rock-climbing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .badminton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .bowling {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .basketball-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    left: 0%; }
  .basketball h3 {
    align-self: center;
    position: relative;
    font-size: 8vw;
    top: 0%;
    left: 0%; }
  .rock-climbing-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    right: 0%; }
  .rock-climbing h3 {
    align-self: center;
    position: relative;
    font-size: 8vw;
    top: 0%;
    left: 0%; }
  .badminton-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    right: 0%; }
  .badminton h3 {
    align-self: center;
    position: relative;
    font-size: 8vw;
    top: 0%;
    left: 0%; }
  .bowling-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    right: 0%; }
  .bowling h3 {
    align-self: center;
    position: relative;
    font-size: 7vw;
    top: 0%;
    left: 0%; }
  .point-txt1 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .point-txt2 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .point-txt3 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .point-txt4 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .l-color-block {
    position: absolute;
    z-index: -1;
    top: -10%;
    left: -5%;
    width: 0vw;
    height: 200%;
    background-color: #ffb505;
    transform: rotate(-20deg); }
  .r-color-block {
    position: absolute;
    z-index: -1;
    top: -8%;
    right: -10%;
    width: 100px;
    height: 40%;
    background-color: #ffb505;
    transform: rotate(-20deg); }
  .business-text {
    align-self: center;
    margin-top: 3em;
    margin-bottom: 3em; }
  .business-text h2 {
    font-size: 8vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 1em; }
  .business-text h3 {
    font-size: 5vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 1em; }
  .phone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .landmark {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .business-text span {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 5vw;
    padding: 1.5em; }
  .redman {
    top: 10px;
    right: -450px; }
  .redman img {
    width: 30%; }
  .blackman img {
    width: 70%;
    display: none; }
  .fastball {
    top: -10px;
    right: -250px; }
  .fastball img {
    width: 40%; }
  .container-side {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between; }
  .site-text h2 {
    font-size: 8vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 0.5em; }
  .site-text p {
    line-height: 30px;
    padding: 1em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .site-text {
    width: 100%; }
  .side {
    width: 100%; } }
