header {
  width: 100%;
  font-family: 'HanWangZonYi';
  position: absolute;
  z-index: 99; }

header:after {
  display: block;
  content: '';
  clear: both; }

.logo {
  float: left;
  margin-left: 11%;
  margin-top: 3%;
  width: 17%; }

.logo img {
  width: 100%; }

header ul {
  float: right;
  width: 43.8%;
  margin-right: 5.2%;
  margin-top: 1.5%; }

header ul li {
  float: left;
  margin-right: 5.3%;
  font-size: 1.3vw;
  padding-top: 6.5%; }

header ul li a {
  text-decoration: none;
  color: #0052b2;
  text-shadow: #fff 0px 2px, #fff 0px -2px, #fff 2px 0px, #fff -2px 0px; }

header ul li:last-child {
  line-height: 1;
  padding-top: 5.3%;
  width: 6%; }

#loginicon {
  width: 100%; }

h1, h2 {
  font-family: 'HanWangZonYi';
  font-size: 5vw; }

* {
  margin: 0;
  padding: 0;
  /*outline: 1px solid #f00;*/ }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.clearfix:after {
  display: inline-block;
  content: '';
  width: 100%;
  height: 0;
  clear: both; }

.container {
  display: flex;
  flex-direction: row;
  overflow: hidden; }

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column; } }

.area {
  width: calc(50%/3);
  height: 100vh;
  /*transform: skew(-10deg);*/
  position: relative;
  overflow: hidden; }

@media only screen and (max-width: 767px) {
  .area {
    width: 100%;
    height: 25vh;
    transform: skew(0deg); } }

.mask:before {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer; }

.area:nth-child(1) .mask:before {
  background-color: rgba(255, 255, 255, 0.4); }

.area:nth-child(2) .mask:before {
  background-color: rgba(255, 255, 0, 0.4); }

.area:nth-child(3) .mask:before {
  background-color: rgba(0, 255, 0, 0.4); }

.area:nth-child(4) .mask:before {
  background-color: rgba(255, 0, 255, 0.4); }

/*bg skew fixed*/
.area2 .content,
.area3 .content {
  transform: skew(10deg); }

@media only screen and (max-width: 767px) {
  .content {
    transform: skew(0deg); } }

.content img {
  height: 100vh;
  position: relative;
  z-index: -1;
  top: 0;
  left: -20%; }

.active .mask:before {
  display: none;
  cursor: default; }

.accordion {
  color: #444;
  /*cursor: pointer;*/
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s; }

.area2 .panel,
.area3 .panel {
  transform: skew(10deg); }

.active .panel {
  padding: 24px;
  max-width: 70%; }

@media only screen and (max-width: 767px) {
  .active .panel {
    transform: skew(0deg);
    max-width: 80%; } }

.panel {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 0px;
  height: 500px;
  overflow: hidden;
  /*transition: max-width 0.4s ease-out;*/
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  margin: auto; }

@media only screen and (max-width: 767px) {
  .panel {
    height: 57vh; } }

/*TABLE LAYOUT*/
.table-date,
.table-select {
  display: inline-block;
  border-collapse: collapse;
  /*border: 1px solid #333;*/
  padding: 16px; }

.table-select {
  margin-left: 40%;
  margin-top: 10%; }

@media only screen and (max-width: 767px) {
  .table-date {
    padding: 8px 0; }
  .table-select {
    margin-left: 0;
    margin-top: 5%; } }

/*blue bgcolore area*/
.table-date:before {
  display: inline-block;
  content: '';
  width: 150%;
  height: 53vh;
  background-color: #0052B2;
  position: absolute;
  top: -16px;
  left: -16px;
  z-index: -1; }

@media only screen and (max-width: 767px) {
  .table-date:before {
    height: 61vh;
    width: 110%; } }

/* white outline*/
.table-date:after {
  display: inline-block;
  content: '';
  width: 350px;
  height: 100px;
  outline: 1px solid #fff;
  position: absolute;
  right: -16px;
  bottom: -16px;
  z-index: -1; }

@media only screen and (max-width: 767px) {
  .table-date:after {
    display: none; } }

/*yellow outline*/
.table-select:after {
  display: inline-block;
  content: '';
  width: 350px;
  height: 250px;
  /*background-color: #FFD884;*/
  outline: 3px solid #FFD884;
  position: absolute;
  right: -16px;
  bottom: -16px;
  z-index: -1; }

@media only screen and (max-width: 767px) {
  .table-select:after {
    display: none; } }

.table-date td,
.table-date th {
  padding: 8px;
  text-align: center; }

.table-select th,
.table-select td {
  padding: 8px;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .table-date th,
  .table-date td {
    padding: 6px; } }

.table-select tr,
.table-select th {
  border-bottom: 1px solid #fff; }

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 4px;
  width: 80px;
  opacity: .7; }

.btn:hover {
  opacity: 1; }

.area h3 {
  position: absolute;
  top: 16px;
  left: 32px;
  font-size: 32px;
  color: #fff;
  z-index: 3; }

.area2 h3,
.area3 h3 {
  transform: skew(10deg); }

@media only screen and (max-width: 767px) {
  .area h3 {
    transform: skew(0deg);
    font-size: 24px; } }

/*COLOR CODE*/
.dim-blue {
  background-color: #0052B2; }

.dim-orange {
  background-color: #FB9A00; }

.dim-gray {
  background-color: #BFBFBF; }

.dim-yellow {
  background-color: #FFD884; }

.text-white {
  color: #fff; }

.text-yellow,
.text-hover-yellow:hover {
  color: #FFD884; }

.box-shadow {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.6); }

.border-white {
  border: 3px solid #fff; }

.border-blue {
  border: 3px solid #0052B2; }

.padding-16 {
  padding: 16px; }

.padding-32 {
  padding: 32px 0; }

.margin-top-16 {
  margin-top: 16px; }

.margin-bottom-16 {
  margin-bottom: 16px; }

.text-left {
  text-align: left; }

.left {
  float: left; }

.default {
  cursor: default; }

.opacity-1,
.opacity-1:hover {
  opacity: 1; }

/*slant shape*/
.area1 {
  -webkit-clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 84% 100%, 0% 100%); }

/*slant shape*/
.area4 {
  -webkit-clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%); }

@media only screen and (max-width: 767px) {
  .area1,
  .area4 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

.area2,
.area3 {
  transform: skew(-10deg);
  width: calc(50%/3 + 4.5%); }

/*shape white fixed*/
.area2 {
  margin-left: -4.5%; }

.area3 {
  margin-right: -4.5%; }

@media only screen and (max-width: 767px) {
  .area2,
  .area3 {
    width: 100%;
    transform: skew(0deg); }
  .area2 {
    margin-left: 0; }
  .area3 {
    margin-right: 0; } }

.active {
  width: 54.5%;
  /*margin 4.5%*/ }

@media only screen and (max-width: 767px) {
  .active {
    width: 100%;
    height: 75vh; } }

/*COLOR CODE*/
.dim-blue {
  background-color: #0052B2; }

.dim-orange {
  background-color: #FB9A00; }

.dim-gray {
  background-color: #BFBFBF; }

.dim-yellow {
  background-color: #FFD884; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  /*padding: 100px 0;*/
  /*border: 1px solid #888;*/
  width: 30%; }

@media only screen and (max-width: 767px) {
  .modal-content {
    width: 90%; } }

/* The Close Button */
.close {
  /*color: #aaa;*/
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer; }

.table-modal {
  display: block;
  width: 75%;
  border-collapse: collapse;
  margin: auto;
  padding: 16px; }

@media only screen and (max-width: 767px) {
  .table-modal {
    display: table;
    border-collapse: separate; } }

.table-modal tr:not(:last-child) {
  /*border-bottom: 1px solid white;*/ }

.table-modal th,
.table-modal td {
  width: 25%; }

.table-modal th,
.table-modal td {
  /*padding: 8px 16px;*/
  padding: 16px; }

@media only screen and (max-width: 767px) {
  .table-modal th,
  .table-modal td {
    display: block;
    width: 100%;
    box-sizing: border-box;
    /*border-bottom: 1px solid white;*/ }
  .table-modal tr {
    width: 50%;
    float: left; } }

.modal-btn {
  text-align: center; }

.an-first > img,
.an-first > div {
  position: absolute;
  opacity: 0; }

.an-first > img {
  width: auto; }

.an-first.start > img,
.an-first.start > div {
  opacity: 1;
  transform: translate(0, 0);
  animation-duration: 4s; }

.an-first.start .an-first-area-1 {
  animation-name: area; }

.an-first.start .an-first-area-2 {
  animation-name: area-2; }

.an-first.start .an-first-area-3 {
  animation-name: area-3; }

.an-first.start .an-first-area-4 {
  animation-name: area-4; }

.an-first.start .an-first-fire {
  animation-name: first-fire; }

.an-first.start .an-first-building {
  animation-name: first-building; }

.an-first.start .an-first-building-2 {
  animation-name: first-building-2; }

.an-first.start .an-first-crane {
  animation-name: first-crane; }

@media screen and (max-width: 768px) {
  .an-first {
    width: 360px;
    height: calc((360px / 3.2) * 3); } }

.block-image-video {
  position: relative;
  height: calc((500px / 3.2) * 3); }

.block-image-video:hover .block-video {
  cursor: url(../../../images/about-material/about-animation/video/arrow-quattro-8c19783f05e08cb519ba717790202f1c8af49e67fc94211cc97e28261c1be3ec.svg) 30 45, auto; }

.block-image-video:hover .block-video {
  box-shadow: 0 4px 30px 0 rgba(211, 208, 47, 0.781); }

.block-video {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease, -webkit-transform .2s ease;
  overflow: hidden; }

.block-video .video-item {
  position: absolute;
  width: 135%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.an-first-area-1 {
  left: 0;
  bottom: 35%;
  max-width: 95%;
  transform: translateY(-20%); }

.an-first-area-2 {
  left: 0;
  bottom: 28%;
  max-width: 94%;
  transform: translateY(20%); }

.an-first-area-3 {
  left: 0;
  bottom: 18%;
  max-width: 100%;
  transform: translateY(25%); }

.an-first-area-4 {
  left: 8%;
  bottom: 0;
  max-width: 65%;
  transform: translateY(15%); }

.an-first-fire {
  right: 32%;
  bottom: 43%;
  max-width: 9%;
  transform: translateY(25%); }

.an-first-building {
  right: 22%;
  top: 20%;
  max-width: 20%;
  transform: translate(28%, -26%); }

.an-first-building-2 {
  right: 12%;
  top: 4%;
  max-width: 12%;
  transform: translate(45%, -15%); }

.an-first-crane {
  bottom: 57%;
  left: 34%;
  max-width: 20%;
  transform: translate(15%, -10%); }

@keyframes area {
  0% {
    transform: translateY(-20%);
    opacity: 0; }
  25% {
    transform: translateY(5%);
    opacity: 1; } }

@keyframes area-2 {
  0% {
    transform: translateY(20%);
    opacity: 0; }
  25% {
    transform: translateY(-20%);
    opacity: 1; } }

@keyframes area-3 {
  0% {
    transform: translateY(25%);
    opacity: 0; }
  30% {
    transform: translateY(-25%);
    opacity: 1; } }

@keyframes area-4 {
  0% {
    transform: translateY(15%);
    opacity: 0; }
  10% {
    transform: translateY(15%);
    opacity: 0; }
  35% {
    transform: translateY(-15%);
    opacity: 1; } }

@keyframes first-fire {
  0% {
    opacity: 0;
    transform: translateY(25%); }
  15% {
    opacity: 0;
    transform: translateY(25%); }
  35% {
    opacity: 1;
    transform: translateY(-25%); } }

@keyframes first-building {
  0% {
    transform: translate(28%, -26%);
    opacity: 0; }
  12% {
    transform: translate(28%, -26%);
    opacity: 0; }
  27% {
    transform: translate(-28%, 26%);
    opacity: 1; } }

@keyframes first-building-2 {
  0% {
    transform: translate(45%, -15%);
    opacity: 0; }
  15% {
    transform: translate(45%, -15%);
    opacity: 0; }
  35% {
    transform: translate(-45%, 15%);
    opacity: 1; } }

@keyframes first-crane {
  0% {
    opacity: 0;
    transform: translate(15%, -10%); }
  20% {
    opacity: 0;
    transform: translate(15%, -10%); }
  45% {
    opacity: 1;
    transform: translate(-15%, -10%); } }

.an-crane {
  width: 570px;
  height: calc((570px / 3.3) * 3);
  position: relative;
  cursor: pointer; }

.an-crane > img,
.an-crane > div {
  position: absolute; }

.an-crane > img {
  width: auto; }

.an-crane.start > img,
.an-crane.start > div,
.an-crane.start .an-crane-bg-shadow,
.an-crane.start .an-crane-1-wrap,
.an-crane.start .an-crane-2-wrap {
  opacity: 1;
  animation-duration: 2s; }

.an-crane.start .an-crane-bg-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg; }

.an-crane.start .an-crane-bg-shadow {
  animation-name: crane-bg-shadow; }

.an-crane.start .an-crane-area-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg-area; }

.an-crane.start .an-crane-area-2 {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-area-2; }

.an-crane.start .an-crane-1-wrap {
  animation-name: crane-1; }

.an-crane.start .an-crane-2-wrap {
  animation-name: crane-2; }

.an-crane.start .an-crane-3-wrap {
  animation-duration: 4s;
  animation-name: crane-block;
  animation-iteration-count: infinite; }

.an-crane.activate .an-crane-1-wrap {
  animation: crane-1-2 5s infinite; }

.an-crane.activate .an-crane-2-wrap {
  animation: crane-1-3 4s infinite; }

.an-crane.activate .an-crane-area-wrap {
  animation: crane-bg-area-2 4s infinite; }

.an-crane.activate .an-crane-area-2 {
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

@media screen and (max-width: 767px) {
  .an-crane {
    overflow-x: hidden; } }

@media screen and (max-width: 768px) {
  .an-crane {
    width: 360px;
    height: calc((360px / 3.2) * 3); } }

.an-crane-bg-wrap {
  max-width: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 63%;
  opacity: 0;
  transform: translate(20%, -20%); }

.an-crane-bg-wrap > img {
  position: absolute; }

.an-crane-bg {
  width: 100%;
  top: 0;
  left: 0; }

.an-crane-bg-shadow {
  width: 100%;
  left: 0;
  top: 18%; }

.an-crane-area-wrap {
  left: 0;
  top: 30%;
  max-width: 100%;
  width: 100%;
  max-height: 43%;
  height: 100%;
  opacity: 0;
  transform: translate(25%, -25%); }

.an-crane-area-wrap > img {
  position: absolute; }

.an-crane-area {
  left: 0;
  top: 0;
  max-width: 100%; }

.an-crane-1-wrap {
  position: absolute;
  right: 21%;
  top: -16%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 18%; }

.an-crane-2-wrap {
  position: absolute;
  top: 0%;
  left: -60%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 95%; }

.an-crane-3-wrap {
  position: absolute;
  top: 22%;
  left: -28%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 35%; }

.an-crane-1 {
  max-width: 100%; }

.an-crane-2 {
  max-width: 100%;
  position: relative;
  z-index: 2; }

.an-crane-3 {
  max-width: 28px;
  position: relative;
  z-index: 2; }

.an-crane-block {
  position: absolute;
  min-width: 130px;
  transform: translate(-90%, -75%); }

@media screen and (max-width: 768px) {
  .an-crane-block {
    min-width: 60px; } }

.an-crane-area-2 {
  max-width: 50%;
  left: 3%;
  top: 24%;
  opacity: 0;
  transform: translate(-60%, -20%); }

@keyframes crane-bg {
  0% {
    opacity: 0;
    transform: translate(20%, -20%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-bg-shadow {
  0% {
    opacity: 0; }
  10% {
    opacity: 0; }
  55% {
    opacity: 1; } }

@keyframes crane-bg-area {
  0% {
    opacity: 0;
    transform: translate(25%, -25%); }
  10% {
    opacity: 0;
    transform: translate(25%, -25%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-bg-area-2 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: translate(0, 10%); }
  100% {
    transform: translate(0, 0); } }

@keyframes crane-bg-area-3 {
  0% {
    transform: translate(0, 0); }
  60% {
    transform: translate(10px, 10%); }
  100% {
    transform: translate(0, 0); } }

@keyframes crane-area-2 {
  0% {
    opacity: 0;
    transform: translate(-60%, -20%); }
  10% {
    opacity: 0;
    transform: translate(-60%, -20%); }
  50% {
    opacity: 1;
    transform: translate(0, 0); } }

@keyframes crane-1 {
  0% {
    transform: rotate(80deg); }
  70% {
    transform: rotate(0deg); } }

@keyframes crane-1-2 {
  0% {
    transform: rotate(0deg); }
  60% {
    transform: rotate(-8deg); }
  100% {
    transform: rotate(0); } }

@keyframes crane-1-3 {
  0% {
    transform: rotate(0deg);
    top: 0;
    left: -60%; }
  60% {
    transform: rotate(35deg);
    top: 6px;
    left: -75%; }
  100% {
    transform: rotate(0);
    top: 0;
    left: -60%; } }

@keyframes crane-2 {
  0% {
    transform: rotate(80deg); }
  85% {
    transform: rotate(0deg); } }

@keyframes crane-block {
  0% {
    transform: rotate(12deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(12deg); } }

.ball-animation {
  animation: breatheBall 3s ease-in alternate infinite; }

@keyframes breatheBall {
  0% {
    transform: scale(1);
    opacity: 0.6; }
  100% {
    transform: scale(1.1);
    opacity: 1; } }

@media screen and (max-width: 768px) {
  .bg-top {
    width: 100%;
    height: 100%; }
  .block-item {
    flex-direction: column-reverse;
    padding-bottom: 2em; }
  .block-item .block-text:first-child {
    padding-right: 0em; }
  .block-aboutus {
    line-height: 30px;
    padding: 1em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .block-text {
    width: 100%; }
  .bolck-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .block-image-video {
    height: auto; }
  .block-item .block-text:last-child {
    padding-left: 0em; }
  .sports-introduction {
    min-width: 40%;
    padding-bottom: 10%; }
  .basketball {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .rock-climbing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .badminton {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .bowling {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; }
  .basketball-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    left: 0%; }
  .basketball h3 {
    align-self: center;
    position: relative;
    font-size: 8vw;
    top: 0%;
    left: 0%; }
  .rock-climbing-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    right: 0%; }
  .rock-climbing h3 {
    align-self: center;
    position: relative;
    font-size: 8vw;
    top: 0%;
    left: 0%; }
  .badminton-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    right: 0%; }
  .badminton h3 {
    align-self: center;
    position: relative;
    font-size: 8vw;
    top: 0%;
    left: 0%; }
  .bowling-o {
    display: block;
    margin: auto;
    position: static;
    min-width: 50%;
    top: 0%;
    right: 0%; }
  .bowling h3 {
    align-self: center;
    position: relative;
    font-size: 7vw;
    top: 0%;
    left: 0%; }
  .point-txt1 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .point-txt2 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .point-txt3 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .point-txt4 {
    position: absolute;
    top: -28px;
    left: -7%; }
  .l-color-block {
    position: absolute;
    z-index: -1;
    top: -10%;
    left: -5%;
    width: 0vw;
    height: 200%;
    background-color: #ffb505;
    transform: rotate(-20deg); }
  .r-color-block {
    position: absolute;
    z-index: -1;
    top: -8%;
    right: -10%;
    width: 100px;
    height: 40%;
    background-color: #ffb505;
    transform: rotate(-20deg); }
  .business-text {
    align-self: center;
    margin-top: 3em;
    margin-bottom: 3em; }
  .business-text h2 {
    font-size: 8vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 1em; }
  .business-text h3 {
    font-size: 5vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 1em; }
  .phone {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .time {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .landmark {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .business-text span {
    display: inline-block;
    box-sizing: border-box;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 5vw;
    padding: 1.5em; }
  .sportman1 img {
    width: 40%;
    position: relative;
    top: 60px;
    left: 50%; }
  .sportman2 img {
    width: 40%;
    position: relative;
    left: 70%; }
  .container-side {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: space-between; }
  .site-text h2 {
    font-size: 8vw;
    line-height: 1.3em;
    font-weight: bold;
    padding: 0.5em; }
  .site-text p {
    line-height: 30px;
    padding: 1em;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5); }
  .site-text {
    width: 100%; }
  .side {
    width: 100%; } }
