html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2 {
  font-family: 'HanWangZonYi';
  src: url(../font/HanWangZonYi.woff);
  font-size: 5vw; }

header {
  width: 100%;
  font-family: 'HanWangZonYi';
  src: url(../font/HanWangZonYi.woff);
  background-color: #F00; }

header:after {
  display: block;
  content: '';
  clear: both; }

.logo {
  float: left;
  margin-left: 213px;
  margin-top: 59px; }

.logo img {
  width: 65%; }

header ul {
  float: right;
  margin-right: 100px;
  margin-top: 30px; }

header ul li {
  float: left;
  margin-right: 45px;
  font-size: 26px;
  line-height: 145px; }

header ul li a {
  text-decoration: none;
  color: #0052b2;
  text-shadow: #fff 0px 2px, #fff 0px -2px, #fff 2px 0px, #fff -2px 0px; }

header ul li:last-child {
  line-height: 1;
  padding-top: 45px; }
