html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*lightbox*/
h1,
h2 {
  font-family: 'HanWangZonYi';
  font-size: 5vw; }

header {
  width: 100%;
  font-family: 'HanWangZonYi';
  position: absolute;
  z-index: 99; }

header:after {
  display: block;
  content: '';
  clear: both; }

.logo {
  float: left;
  margin-left: 11%;
  margin-top: 1.5%;
  width: 17%; }

.logo img {
  width: 100%; }

header ul {
  float: right;
  width: 43.8%;
  margin-right: 5.2%; }

header ul li {
  float: left;
  margin-right: 5.3%;
  font-size: 1.3vw;
  padding-top: 6.5%; }

header ul li a {
  text-decoration: none;
  color: #0052b2;
  text-shadow: #fff 0px 2px, #fff 0px -2px, #fff 2px 0px, #fff -2px 0px; }

header ul li:last-child {
  line-height: 1;
  padding-top: 5.3%;
  width: 6%; }

#loginicon {
  width: 100%; }

@media screen and (max-width: 1200px) {
  header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed; }
  .logo {
    margin-left: 5%;
    margin-top: .5%;
    margin-bottom: .5%; } }
