body{ box-sizing: border-box; }

a{ text-decoration: none; }

.clearfix:after{
	display: inline-block;
	content: '';
	width: 100%;
	height: 0;
	clear: both;
}

.container{
	// margin-top: 25vh;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}
@media only screen and (max-width: 767px) {
    .container {
		flex-direction: column;
		padding-top: 60px;
	}
}


.area{
	width: calc(50%/3);
	height: 100vh;
	position: relative;
	overflow: hidden;
}
@media only screen and (max-width: 767px) {
    .area {
    	width: 100%;
    	height: 25vh;
    }
}

.mask:before{
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	cursor: pointer;
}

.area:nth-child(1) .mask:before{ background-color: rgba(33,61,122,.7);  }
.area:nth-child(2) .mask:before{ background-color: rgba(192,85,140,.7);}
.area:nth-child(3) .mask:before{ background-color: rgba(227,142,112,.7);  }
.area:nth-child(4) .mask:before{ background-color: rgba(205,171,85,.7);}


.content{
	height: 100vh;
	background-repeat: no-repeat;
	background-size:cover;
}
 .area:nth-child(1) .content{
	background-image: url(../images/booking/01basketball.jpg);
	background-position: 45%;
}
 .area:nth-child(2) .content{
	background-image: url(../images/booking/04bowling.jpg);
	background-position: 70%;
}
 .area:nth-child(3) .content{
	background-image: url(../images/booking/03climbling.jpg);
	background-position: 40%;
}
 .area:nth-child(4) .content{
	background-image: url(../images/booking/02badminton.jpg);
	background-position: 50%;
 }

.activeNow .mask:before{
	/*display: none;*/
	cursor: default;
}

.accordion {
    /*color: #444;*/
    /*border: none;*/
    /*outline: none;*/
    transition: 0.4s;
}


.area h3{
	width: 50%;
	height: 5%;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	/*font-size: 32px;*/
	color: #fff;
	z-index: 2;
}



@media only screen and (max-width: 767px) {
    .area h3 {
    	font-size: 24px;
    }
}


.activeNow{
	width: 50%;
}
@media only screen and (max-width: 767px) {
    .activeNow {
        width: 100%;
        height: 75vh;
    }
}


.activeNow h3{
	display: none;
}

/*BOOKING PANEL AREA*/

.activeNow .panel{
	padding: 16px;
	max-width: 75%;
}
@media only screen and (max-width: 767px) {
    .activeNow .panel {
        max-width: 100%;
    }
}


.panel h3{
	display: block;
	position: relative;
}

.panel {
    max-width: 0px;
    height: 75vmin;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin: auto;
}
@media only screen and (max-width: 767px) {
    .panel {
        height: auto;
    }
}

/*BOOKING TABLE LAYOUT*/
.table-date,
.table-select
{
	border-collapse: collapse;
	padding: 16px;
	position: relative;
	table-layout: fixed;
    width: 75%;
    margin: auto;
}

.table-date{
	text-align: center;
}

.table-select{
	margin-top: 10%;
}

.table-select-scroll,
.table-select-thead{
	width: 100%;
	display: block;
}
.table-select-scroll{
	overflow: auto;
	height: 40vmin;
}

@media only screen and (max-width: 767px) {
	.table-date,
    .table-select {
    	width: 100%;
    	text-align: center;
    }
}

.date-btn{position: relative;}
.date-btn:after{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	line-height: 32px;
	z-index: 0;
}

.date:nth-child(1) .date-btn:after { content: 'SUN'; }
.date:nth-child(2) .date-btn:after { content: 'MON'; }
.date:nth-child(3) .date-btn:after { content: 'TUE'; }
.date:nth-child(4) .date-btn:after { content: 'WED'; }
.date:nth-child(5) .date-btn:after { content: 'THU'; }
.date:nth-child(6) .date-btn:after { content: 'FRI'; }
.date:nth-child(7) .date-btn:after { content: 'SAT'; }


.table-select th,
.table-select td{
	padding: 8px;
	text-align: center;
	width: 10%;
}



.table-select tr:nth-child(1) td{
	padding-top: 32px;
}

@media only screen and (max-width: 767px) {
	.table-select tr:nth-child(1) td{
		padding-top: 16px;
	}
}


.table-select th{
	border-bottom: 1px solid #fff;
}

.btn{
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 8px 0;
	border-radius: 4px;
	width: 100%;
	opacity: .7;
}

.btn:hover{
	opacity: 1;
}

.date-btn{
	display: inline-block;
	width: 56px;
	height: 56px;
	text-align: center;
	line-height: 32px;
	background-color: #fff;
	border-radius: 8px;
	cursor: pointer;
}
@media only screen and (max-width: 767px) {
	.date-btn{
		width: 48px;
		height: 48px;
	}
}


.date-btn:hover{
	background-color: #fa0;
}


/*COLOR CODE*/
.dim-blue	{background-color: #0052B2;}
.dim-orange {background-color: #FB9A00;}
.dim-gray	{background-color: #BFBFBF;}
.dim-yellow {background-color: #FFD884;}

.text-white {color: #fff;}

.text-lg {font-size: 24px;}
.text-xlg {font-size: 36px;}
.text-xxlg {font-size: 48px;}

.align-left {text-align: left;}


.text-yellow,
.text-hover-yellow:hover
{color: #FFD884;}

.box-shadow{ box-shadow: 8px 8px 10px rgba(0,0,0,.6);}

.border-white{ border: 3px solid #fff;}
.border-blue{border: 3px solid #0052B2;}

.padding-md{ padding: 16px; }
.padding-16{ padding: 16px 0; }
.padding-32{ padding: 32px 0; }

.margin-top-16{margin-top: 16px;}
.margin-bottom-16{ margin-bottom: 16px; }



.left{
	float: left;
}

.default {cursor: default;}
.opacity-1,
.opacity-1:hover
{opacity: 1;}

// modal section

/*COLOR CODE*/
.dim-blue   {background-color: #0052B2;}
.dim-orange {background-color: #FB9A00;}
.dim-gray   {background-color: #BFBFBF;}
.dim-yellow {background-color: #FFD884;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 20% auto; /* 15% from the top and centered */
    width: 50%;
}
@media only screen and (max-width: 767px) {
    .modal-content{ width: 90%; }
}


/* The Close Button */
.close {
    /*color: #fff;*/
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.table-modal{
    width: 95%;
    margin: auto;
    border-collapse: collapse;
}
@media only screen and (max-width: 767px) {
    .table-modal{
        display: table;
        border-collapse: separate;
    }
}

.table-modal tr{
    border-bottom: 1px solid #333;
}
@media only screen and (max-width: 767px) {
    .table-modal tr{
        border-bottom: 0;
    }
}


.table-modal th,
.table-modal td{
    padding: 16px;
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .table-modal th,
    .table-modal td{
        display: block;
        width: 100%;
    }

    .table-modal tr{
        width: 50%;
        float: left;
    }
}

.modal-btn-container{
    display: flex;
    flex-direction: row;
}

.modal-btn{
    width: 50%;
    text-align: center;
    padding: 16px;
}

.table-date .date:nth-child(1) .date-btn{
	background-color: #FB9A00;
}


/*scroll樣式更換*/
#queryFac1::-webkit-scrollbar,
#queryFac2::-webkit-scrollbar,
#queryFac3::-webkit-scrollbar,
#queryFac4::-webkit-scrollbar
{
  /*background-color: #ffb505;*/
  background-color: rgb(0, 82, 178);
}
#queryFac1::-webkit-scrollbar-thumb,
#queryFac2::-webkit-scrollbar-thumb,
#queryFac3::-webkit-scrollbar-thumb,
#queryFac4::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  /*background-color: rgb(0, 82, 178);*/
  background-color: #ffb505;
}
#queryFac1::-webkit-scrollbar-thumb:hover,
#queryFac2::-webkit-scrollbar-thumb:hover,
#queryFac3::-webkit-scrollbar-thumb:hover,
#queryFac4::-webkit-scrollbar-thumb:hover {
  /*background-color: rgb(0, 67, 143);*/
  background-color: #ffb505;
}
#queryFac1::-webkit-scrollbar-thumb:active,
#queryFac2::-webkit-scrollbar-thumb:active,
#queryFac3::-webkit-scrollbar-thumb:active,
#queryFac4::-webkit-scrollbar-thumb:active {
  background-color: rgb(1, 48, 102);
}
#queryFac1::-webkit-scrollbar-track,
#queryFac2::-webkit-scrollbar-track,
#queryFac3::-webkit-scrollbar-track,
#queryFac4::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}
#queryFac1::-webkit-scrollbar-button,
#queryFac2::-webkit-scrollbar-button,
#queryFac3::-webkit-scrollbar-button,
#queryFac4::-webkit-scrollbar-button {
  /*color: rgb(0, 82, 178);*/
  color: #ffb505;
}