@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
body {
  // text-align: center;
  font-family: '微軟正黑體';
  // background-color: #0052B2;
  background-color: #f6f6f6;
  background-image: url('../images/boo_bowling.png'),
                    url('../images/boo_basket.png');
  background-size: 35%,18%;
  background-repeat: no-repeat,no-repeat;
  background-position: right bottom,-5px 35%; 
}
.ticket {
  display: block;
  position: absolute;
  top:50%;
  transform: translateY(-60%);
  left:45px;
  width: 350px;
  // opacity: 0;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1px;
  transition: .5s ease;
  box-shadow: 0 0 10px rgba(3, 3, 3, 0.5);
}
.ticket.right{
  left:calc( 100% - 395px);
}
.ticket.inverse.right{
  opacity: 0;
}
.ticket header {
  width: auto;
  position: relative;
  height: 50px !important;
  padding: 10px;
  border-radius: 10px;
  z-index: 2 !important;
}
.ticket header .company-name {
  line-height: 30px;
  text-align: left;
}
.ticket header .gate {
  position: absolute;
  right: 15px;
  top: 10px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
}
.ticket header:after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  position: absolute;
  bottom: -8px;
  right: -8px;
  border-radius: 50%;
  box-shadow: inset 12px 0px 18px -11px rgba(3, 3, 3, 0.5);
}
.ticket header:before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  position: absolute;
  bottom: -8px;
  left: -8px;
  border-radius: 50%;
  box-shadow: inset -12px 0px 18px -11px rgba(3, 3, 3, 0.5);
}
.ticket .airports {
  padding: 5px 10px 10px 10px;
  /*height: 100px;*/
  text-align: center;
  position: relative;
  border-bottom: 2px dashed #000;
}
.ticket .airports .airport {
  position: relative;
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.ticket .airports .airport .airport-name {
  color: #FFB405;
  font-size: 16px;
  // font-weight: bold;
}
.ticket .airports .airport .airport-code {
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0;
}
.ticket .airports .airport .dep-arr-label {
  color: #9299A0;
  font-size: 12px;
  font-weight: 500;
}

.ticket .airports:after {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  position: absolute;
  bottom: -8px;
  right: -8px;
  border-radius: 50%;
  box-shadow: inset 12px 0px 18px -11px rgba(3, 3, 3, 0.5);
}
.ticket .airports:before {
  content: '';
  width: 16px;
  height: 16px;
  background-color: #f6f6f6;
  position: absolute;
  bottom: -8px;
  left: -8px;
  border-radius: 50%;
  box-shadow: inset -12px 0px 18px -11px rgba(3, 3, 3, 0.5);
}
.ticket .place {
  padding: 10px;
  text-align: center;
  /*height: 330px;*/

  
}
.ticket .place-block {
  display: inline-block;
  width: 30%;
  margin: 10px auto;
}
.ticket .place-block .place-label {
  color: #FFB405;
  text-transform: uppercase;
  // font-weight: bold;
  // font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
.ticket .place-block .place-value {
  color: #9299A0;
  font-size: 12px;
  font-weight: 500;
}
.ticket .qr {
  width: 220px;
  height: 220px;
  margin: 20px auto 10px;
  border-radius: 10px;
  overflow: hidden;
}
.ticket .qr img {
  width: 100%;
  height: 100%;
}


.ticket footer{
  display: inline-block;
}

.ticket .footer-text{
  color: #FFB405;  font-size: 16px;
}

.ticket.inverse {
  background-color: #F8F8F8;
}
.ticket.inverse header {
  background-color: #0052B2;
}
.ticket.inverse .airports {
  border-bottom-color: #D3D6DA;
}
.ticket.inverse .airport:first-child:after {
  color: #D3D6DA;
}
.ticket.inverse .airport .airport-code {
  color: #707884;
  font-weight: 500;
}
.group h2{
  font-size: 36px;
  color:#0052B2;
}

@media screen and (max-width: 1200px) {
  .book_and_team{
    width: 100%;
  }
  .ticket{
    // margin-top: 75px;
  }
}