* {
    @include all();
    /*outline: 1px solid red;*/
   
    
}
body{
    font-family: $about-font;
    background-color: #f8f8f8;
  	
  
}

/*------------------------------*/
.div {
    width: 100%;
    height: 90px;
    /*outline: 1px solid red;*/
}

@media screen and (min-width: 768px){
    .div {
    width: 100%;
    height: 150px;
}
}

/*----------------------------------*/


@keyframes title2 {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

.evaluate_title{
	width: 100%;
	margin:auto;
	position: relative;
	font-family: 'HanWangZonYi';
  font-size: 48px;
  background-color: #0052b2;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  padding-bottom: 25px; 
}


.evaluate_line {
  position: absolute;
  transform: scaleX(0);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  transform-origin: right;
  background-color: #FFB405;
  animation: title2 1s  forwards; }


/*-------------------------------------*/


#evaluate_wrap{
	width: 100%;
	margin:auto;
}

.fac_img{
	width: 100%;
	padding: 5%;


}

.evaluate_content{
	width: 100%;
	
	
}


@media screen and (min-width: 960px){

	#evaluate_wrap{
	margin:auto;
	display: flex;
	justify-content: space-between;
}

.fac_img{
	width: 49%;
	padding: 3%;

}

.evaluate_content{
	width: 49%;
	padding: 2%;
}
}



@media screen and (min-width: 1200px) {
  .evaluate_title{
    width: 1200px;
  }

	#evaluate_wrap{
		width: 1200px;
		margin:auto;
	}

}

/*------------------------------*/
.pic_wrap{

	margin: auto;
	padding: 1%;
	position: relative;
	/*background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#acf), to(#8ad), color-stop(0.1, #9be));*/
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
   /* -webkit-border-bottom-right-radius: 60px 60px;
    -webkit-box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.2);*/
	box-shadow: 10px 10px #FFB405;
	
}


/*.pic_wrap:before{
    content:'';    
    width: 25px;
    height: 20px;
    position: absolute;
    bottom:0;
    right:0;
    -webkit-border-bottom-right-radius: 30px;
    -webkit-box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transform:
    rotate(-20deg)
    skew(-40deg,-3deg)
    translate(-13px,-13px);
}

.pic_wrap:after{
    content: '';
    z-index: -1;
    width: 100px;
    height: 100px;
    position:absolute;
    bottom:0;
    right:0;
    background: rgba(0, 0, 0, 0.2);
    display: inline-block;
    -webkit-box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(0deg)
                        translate(-45px,-20px)
                           skew(20deg);
}*/



.fac_img img{
	width: 100%;



}

.fac_name{
	width: 100%;
	text-align: center;
	font-size:22px;
	letter-spacing: 2px;
	color:#ddd;
	padding:15px 0;
}


.star_content{
	width: 100%;
	visibility: hidden;
	color:#000;
}


span{
	display: inline-block;
	widows: 49%;
	
}



.evaluate_content ul{

	display: flex;
	width: 90%;
	margin: 0 auto 15px auto;
}

.evaluate_content li{
	font-size: 55px;
	color:#e7e7e7;
	cursor: pointer;
}

textarea{
	display: block;
	width: 90%;
	height: 160px;
	font-size: 18px;
	resize:none;
	background-color: #e7e7e7;
	border:2.5px solid #ffb405;
	letter-spacing: 2.5px;
	padding:8px;margin: auto;


}

.evaluate_btn{
	width: 100%;
	margin: 20px auto 0 auto;
}



.evaluate_btn input[type="reset"],
.evaluate_btn input[type="submit"]{
	width: 48%;
	font-size: 18px;
	@include btn_style();

}


@media screen and (min-width: 960px){


.pic_wrap{
	width: 80%;
	padding: 2%;
	min-width: 370px;
	
	
}




.fac_name{

	font-size:26px;

}


.star_content{
	width: 40%;

}




.evaluate_btn{
	width: 40%;
	
}


}


