*{
	// outline: 1px solid red;
}
.wrapper{
	width: 1200px;
	margin:0 auto;
	position: relative;
	height: 100%;
}
.wrapper:after {
	display: block;
	content: '';
	clear: both; 
}
.section{
	overflow: hidden;
	position: relative;
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0 !important;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: #0052b2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	opacity: 1;
}

a{
	text-decoration: none;
}
#home_bg1_vd{
    min-width: 100%; 
    min-height: 100%;
}
.home_pg1_bluebox1{
	position: absolute;
	left:-10vw;
	top:0;
	background-color: #0052b2;
	height: 100vh;
	width:45vw;
	transform: skewX(23deg) scaleY(0);
	transform-origin: top;
}
.home_pg1.active .home_pg1_bluebox1{
	transform: skewX(23deg) scaleY(1);
	transition: .5s;
	transition-delay: .5s;
}
.home_pg1_yellowbox:after{
	display: block;
	content: '';
	position: absolute;
	height: 100vh;
	width: 0.4vw;
	background-color: #70daf2;
	left: -2vw;
}
.home_pg1_txt{
	position: absolute;
	color:#fff;
	transform: skewX(-23deg) translateY(-50%);
	top:50%;
	width: 100%;
	left: calc(1vw + 20% );
	z-index: 2;
	opacity: 0;	
}
.home_pg1.active .home_pg1_txt{
	opacity: 1;
	transition-delay: 1.3s;
}
.home_pg1_txt h1{
	font-size:8vw;
	line-height:9vw;
	margin: 0;
}
.home_pg1_btng{
	margin-left: 3vw;
	margin-top: 2vw;
}
.home_pg1_btn{
	display: inline-block;
	background-color: #fff;
	width: 7.2vw;
	height: 3vw;
	font-size: 1.8vw;
	text-align: center;
	border-radius: 50px;
	line-height: 3vw;
	margin:0 0.5vw;
	color: #0052b2;
	font-weight: bold;
}
.home_pg1_yellowbox{
	position: absolute;
	left:0;
	width: 20%;
	height: 100vh;
	background-color: #ffb505;
	transform: scaleY(0);
	transform-origin: top;

	
}
.home_pg1.active .home_pg1_yellowbox{
	transform: scaleY(1);
	transition: .5s;
	transition-delay: .8s;
}
.home_pg1_bluebox2{
	position: absolute;
	right: 0;
	top:0;
	background-color: #0052b2;
	height: 100vh;
	width:5vw;
	transform: skewX(23deg) scaleY(0);
	transform-origin: top;
}
.home_pg1.active .home_pg1_bluebox2{
	transform: skewX(23deg) scaleY(1);
	transition: .5s;
	transition-delay: .5s;
}

@media screen and (max-width: 1200px) {
	  .wrapper {
		width: 100%; }
	  .home_pg1_bluebox1 {
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: transparent;
		height: 100vh;
		width: 100%;
		transform: skewX(0deg) scaleX(0); 
	}
	  .home_pg1.active .home_pg1_bluebox1 {
		transform: skewX(0deg) scaleX(1);
		transition: 0s; }
	  .home_pg1_txt {
		top:50%;
		transform: skewX(0deg) translateY(-50%);
		text-align: center;
		width: 100%;
		left: 0;
		opacity: 1; }
	  .home_pg1_txt h1 {
		font-size: 10vw;
		line-height: 12vw; }
	  .home_pg1_btng {
		margin-top: 3vw; }
	  .home_pg1_btn {
		width: 14vw;
		height: 6vw;
		font-size: 3vw;
		text-align: center;
		line-height: 6vw;
		margin: 0 0.5vw;
	 }
	  .home_pg1_yellowbox {
		display: none; }
	  .home_pg1_bluebox2 {
		left: 0;
		top: 0;
		height: 50vh;
		width: 100%;
		transform: skewX(0deg) scaleY(0);
		transform-origin: bottom; }
	  .home_pg1_bluebox2:after {
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #ffb505;
		z-index: 2;
		transform: scaleY(0);
		transform-origin: bottom; }
	  .home_pg1_bluebox2:before {
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 3;
		transform: scaleY(0);
		transform-origin: bottom; }
	  .home_pg1.active .home_pg1_bluebox2 {
		transform: skewX(0deg) scaleY(1);
		top: -50vh;
		transition: transform .1s 0s, top .5s .8s; }
	  .home_pg1.active .home_pg1_bluebox2:after {
		transform: scaleY(1);
		transition: .5s;
		transition-delay: .3s; }
	  .home_pg1.active .home_pg1_bluebox2:before {
		transform: scaleY(1);
		transition: .5s;
		transition-delay: .5s; }
	  .home_pg1_bluebox3 {
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: #0052b2;
		height: 50vh;
		width: 100%;
		transform: skewX(0deg) scaleY(0);
		transform-origin: top; }
	  .home_pg1_bluebox3:after {
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #ffb505;
		z-index: 2;
		transform: scaleY(0);
		transform-origin: top; }
	  .home_pg1_bluebox3:before {
		position: absolute;
		display: block;
		content: '';
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 3;
		transform: scaleY(0);
		transform-origin: top; }
	  .home_pg1.active .home_pg1_bluebox3 {
		transform: skewX(0deg) scaleY(1);
		bottom: -50vh;
		transition: transform .1s 0s, bottom .5s .8s; }
	  .home_pg1.active .home_pg1_bluebox3:after {
		transform: scaleY(1);
		transition: .5s;
		transition-delay: .3s; }
	  .home_pg1.active .home_pg1_bluebox3:before {
		transform: scaleY(1);
		transition: .5s;
		transition-delay: .5s; } 
}

.home_pg3{
	background-image: url("../images/index/bg2.png");
	background-position: top;
	background-size: cover;
}
.home_pg3_svg{
	position: absolute;
	width: 100%;
	height: 45vh;
	background-image: url("../images/index/b2Svg.png");
	background-size: cover;
	bottom: 0;
	left: 0;
}
.home_pg3 h2{
	text-align: center;
	font-size: 48px;
	color: #0052b2;
	padding-top: 20vh;
	margin-bottom: 8vh;
}
.home_team{
	font-size: 0;
	float: left;
	width: 75%;
}
.home_team::after{
	display: block;
	content:'';
	clear: both;
}
.teamItem{
	vertical-align: top;
	display: inline-block;
	width:25%;
	box-sizing: border-box;
	padding:0 15px;
	color:#777;
	font-size: 16px;
	line-height: 24px;
	font-family: 'HanWangZonYi';
	
}
.teamOne{
	width:100%;
	background-color: #fff; 
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	height: 0;
	padding-bottom:150%;
	overflow: hidden;
	position: relative;
}
.teamItem.all{
	z-index: 2;
	float: left;
}
.teamAll{
	padding-bottom:150%;
	width: 100%;
	height:0;
	background-image: url('../images/index/teamAll.png');
	background-size: cover;

}
.teamAll a{
	display: block;
}
.all_img{
	text-align: center;
	width: 100%;
}
.all_img img{
	width: 30%;
	margin-top: 45%;
}
.teamAll h3{
	text-align: center;
	color: #ffb505;
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-style: oblique;
	font-family: 'HanWangZonYi';
}
.allMore{
	position: relative;
	background-color: #fff;
	color: #0052b2;
	font-size: 18px;
	padding: 8px 15px ;
	width:50%;
	margin: 0 auto;
}
.teamDate_top{
	position: absolute;
	width: 25%;
	height:0;
	padding-bottom: 25%;
	top:0;
	right:0;
	text-align: center;
	background-color: #ffb505;
}
.dateGroup{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:#0052b2;
}
.teamMonth{
	font-size: 18px;
}
.teamDay{
	font-size: 26px;
}
.teamPic{
	width: 100%;
}
.teamPic img{
	width: 100%;
}
.teamInfo{
	text-align: left;
	padding: 30px 15px 15px;
	position: relative;
}
.teamName{
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #0052b2; 
	padding-bottom: 10px;
	font-style: oblique;
}
.teamTxt{
	font-size: 14px;
}
.teamMore{
	position: absolute;
	top:0;
	left:0;
	transform: translateY(-50%);
	background-color: #0052b2;
	color: #ffb505;
	font-size: 18px;
	padding: 8px 15px;
	width: 50%;
}
.teamMore a{
	position: relative;
	z-index: 3;
	color: #ffb505;
}
.moreSkew{
	position: absolute;
	width:10px; 
	height: 100%;
	top:0;
	right: 0;
	background-color: #ffb505;
	color: #0052b2;
	line-height: 40px;
	text-align: center;
}
.moreSkew:after{
	display: block;
	content: '';
	position: absolute;
	top:0;
	left:-15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 40px 15px;
	border-color: transparent transparent #ffb505 transparent;
}
.moreSkew:before{
	display: block;
	content: '';
	position: absolute;
	top:0;
	right:-15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 15px 0 0;
	border-color: #ffb505 transparent transparent transparent;
}

@media screen and (max-width: 1200px) {
	.allMore{
		font-size:1.3vw; 
	}
	.teamMore{
		font-size: 1.3vw;
	}
}

@media screen and (max-width: 767px) {
	#fp-nav{
		display: none;
	}
	.allMore{
		font-size:18px; 
		background-color: #ffb505;
		color:#0052b2
	}
	.allMore .moreSkew{
		display: none;
	}
	.teamMore{
		font-size: 18px;
	}
	.home_pg3{
		text-align: center;
	}
	.home_pg3 h2{
		padding-top: 15vh;
		margin-bottom: 3vh;
		font-size: 24px;
	}
	.teamItem.all{
		float: none;
		width: 80%;
		margin: 0 auto 10px;
	}
	.teamAll{
		padding-bottom:0;
		width: 100%;
		height:auto;
		background-image:none;
	}
	.all_img{
		display: none;
	}
	.home_team {
		width: 100%;
	}
	.teamGroup{
		width: 80%;
		margin: 0 auto;
	}
}





.home_pg4{

}
.home_pg4_bg{
	position: absolute;
	top:0;
	right: -65%;
	width: 65%;
	height: 100vh;
	background-image: url('../images/index/bg4.png');
	background-size: cover;
	background-position: left;
}
.home_pg4.active .home_pg4_bg{
	right:0;
	transition: .3s;
	transition-delay: .5s;
}
.home_pg4_bluebox1{
	position: absolute;
	width: 30%;
	top:0;
	height: 100vh;
	background-color: #0052b2;
	left:-15vw;
	width:40vw;
	transform: skewX(23deg) scaleY(0);
	transform-origin: top;	
	z-index: 3;
}
.home_pg4.active .home_pg4_bluebox1{
	transform: skewX(23deg) scaleY(1);
	transition: .5s;
	transition-delay: .5s;
}
.home_pg4_txt{
	position: absolute;	
	left: 20vw;
	top:35vh;
	transform: skewX(-23deg);
	opacity: 0;

}
.home_pg4.active .home_pg4_bluebox1 .home_pg4_txt{
	opacity: 1;
	transition-delay: 1.5s;
}
.home_pg4_txt h2{
	color:#fff;
	font-size: 3vw;
}
.home_pg4_txt p{
	color: #ffb505;
	font-size: 1.5vw;
	margin-top: 3vh;
}

.home_pg4_yellowbox{
	position: absolute;
	left: 0;
	height: 100vh;
	width: 25%;
	background-color: #ffb505;
	transform: scaleY(0);
	transform-origin: top;
	z-index: 4;
	
}
.home_pg4.active .home_pg4_yellowbox{
	transition: .5s;
	transition-delay: 1s;
	transform: scaleY(1);
}
.home_pg4_yellowbox:before{
	display: block;
	content: '';
	position: absolute;
	left: -2vw;
	height: 100vh;
	width: 0.4vw;
	background-color:#70daf2;
}
.home_pg4_yellowbox:after{
	display: block;
	content: '';
	position: absolute;
	right: -2vw;
	height: 100vh;
	width: 0.4vw;
	background-color:#70daf2;
	z-index: 99;
}
.home_pg4_whitebox{
	position: absolute;
	width: 100%;
	height: 5vw;
	bottom: 2vw;
	background-color: #fff;
	background-image: linear-gradient(to right,#fff 0%,#fff 23%,#ffb505 23%,#ffb505 25%,#fff 25%, #fff 100%);
	transform: scaleX(0);
	transform-origin: left;
	z-index: 5;
	
}
.home_pg4.active .home_pg4_whitebox{
	transform: scaleX(1);
	transition: .35s;
	transition-delay: 1.55s;
}
.home_pg4_bluebox2{
	position: absolute;
	width: 100%;
	height: 5vw;
	bottom: 2vw;
	background-color: #0052b2;
	transform: scaleX(0);
	transform-origin: left;
	
}
.home_pg4.active .home_pg4_bluebox2{
	transition: 1.05s;
	transition-delay: 1.5s;
	transform: scaleX(1);
}
.home_pg4_bluebox2 h3{
	text-align: right;
	color:#fff;
	line-height: 5vw;
	padding-right: 3vw;
	font-size: 3vw;
}
.pointCard{
	font-size: 0;
	text-align: right;
	position: relative;
	left:25%;
	width: 75%;
	top:25vh;
	z-index: 5;
}
.pointCard li{
	display: inline-block;
	// width:25%;
	padding: 0 15px;
	box-sizing: border-box;	
}

.card{
	position: relative;
	display: flex;
	text-align: left;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 0;
	border-radius: 10px;
	font-size: 16px;
	letter-spacing: 1px;
	box-sizing: border-box;
	padding-bottom: 150%;
	font-family: 'HanWangZonYi';
}
.cardP1{
	font-size: 30px;
	margin-top: 40%;
}
.cardP2{
	font-size: 20px;
}
.cardP3{
	margin: 15% auto 20%;
	font-size: 40px;
	 
}
.pointCard li:nth-child(1) .card .cardP3{
		color: #FFD884;
		text-shadow:
		-1px -1px 0 #fc8359,
		1px -1px 0 #fc8359,
		-1px 1px 0 #fc8359,
		1px 1px 0 #fc8359,
		// 2px 2px 2px #fc8359;
}
.pointCard li:nth-child(2) .card .cardP3{
		color: #fc8359;
		text-shadow:
		-1px -1px 0 #FFD884,
		1px -1px 0 #FFD884,
		-1px 1px 0 #FFD884,
		1px 1px 0 #FFD884,
		// 2px 2px 2px #FFD884;
}
.pointCard li:nth-child(3) .card .cardP3{
		color: #70DAF2;
		text-shadow:
		-1px -1px 0 #0052B2,
		1px -1px 0 #0052B2,
		-1px 1px 0 #0052B2,
		1px 1px 0 #0052B2,
		// 2px 2px 2px #0052B2;
}
.cardCost{
	font-size: 48px;
}
.cardPoint{
	font-size: 36px;
}
.cardFree{
	background-color: #fff;
	padding: 3px;
	border-radius: 50%;
}
.cardBuy{
	display: block;
	background-color: #fff;
	// padding: 12px 30px;
	text-align: center;
	padding: 5% 15%;
	border-radius: 30px;

}
.pointCard li:nth-child(1) .card{
	background-color: #FED783;
	color:#FB8258;
}
.pointCard li:nth-child(2) .card{
	background-color: #FB8258;
	color:#FED783;
}
.pointCard li:nth-child(3) .card{
	background-color: #6FD9F1;
	color:#0052B2;
}

.pointCard li:nth-child(1) .card .card_bg{
	position: absolute;
	top:2%;
	right: 2%;
	width: 25%;
	padding-bottom:20.1298701926%;
	background-image: url('../images/index/card1.png');
	background-size:cover; 
}
.pointCard li:nth-child(1) a{
	color: #ffd884;
}

.pointCard li:nth-child(2) .card .card_bg{
	position: absolute;
	top:2%;
	right: 2%;
	width: 25%;
	padding-bottom:20.1298701926%;
	background-image: url('../images/index/card2.png');
	background-size:cover; 
	
}
.pointCard li:nth-child(2) a{
	color: #fc8359;
}

.pointCard li:nth-child(3) .card .card_bg{
	position: absolute;
	top:2%;
	right: 2%;
	width: 25%;
	padding-bottom:20.1298701926%;
	background-image: url('../images/index/card3.png');
	background-size:cover; 
	
}
.pointCard li:nth-child(3) a{
	color:  #0052b2;
}

@media screen and (max-width: 1200px) {
	.home_pg4_bg{
	display: none;
}
	.home_pg4_bluebox1{
	width: 100%;
	top:15vh;
	height: 5vh;
	left:0;
	transform: skewX(0deg) scaleX(0);
	transform-origin: left;	
	z-index: 3;
}
	.home_pg4.active .home_pg4_bluebox1{
		transform: skewX(0deg) scaleX(1);
		transition: .5s;
		transition-delay: .5s;
	}

	.home_pg4_yellowbox{
		position: absolute;
		left: 0;
		top:initial;
		bottom: 0;
		height: 20%;
		width: 100%;
		background-color: #ffb505;
		transform: scaleX(0);
		transform-origin: right;
		z-index: 4;
		
	}
	.home_pg4.active .home_pg4_yellowbox{
		transition: .5s;
		transition-delay: 1s;
		transform: scaleX(1);
	}
	.home_pg4_whitebox{
	display: none;
}
	.pointCard{
	width: 80%;
	text-align: center;
	left: 0;
	margin: 0 auto;
}
	.pointCard li{
	}
	.cardP1{
		font-size: 2.5vw;
	}
	.cardP2{
		font-size: 2.2vw;
	}
	.cardP3{
		font-size: 3vw	
	}
	.cardCost{
		font-size: 4vw;
	}
	.cardPoint{
		font-size: 2.5vw;
	}
	.cardFree{
		font-size: 1.5vw;
		background-color: #fff;
		padding: 1px;
		border-radius: 50%;
	}
	.cardBuy{
		

	}
	.home_pg4_txt{
		width: 100%;
		left: 0;
		top:0;
		transform: skewX(0deg);
		opacity: 0;
		text-align: center;
	
	}
	.home_pg4.active .home_pg4_bluebox1 .home_pg4_txt{
		opacity: 1;
		transition-delay: 1.5s;
	}
	.home_pg4_txt h2{
		color :#ffb505;
		font-size: 24px;
	}
	.home_pg4_txt p{
		color: #ffb505;
		font-size: 1.5vw;
		margin-top: 3vh;
	}
	.home_pg4_bluebox2 h3{
		text-align:center;
		padding-right: 0;
	}

	.home_pg4_yellowbox:before{
		display: none;
	}
}
@media screen and (max-width: 767px) {
	.cardP1{
		font-size: 30px;
		margin-top: 40%;
	}
	.cardP2{
		font-size: 20px;
	}
	.cardP3{
		margin: 15% auto 20%;
		font-size: 40px;
	}
	.cardCost{
		font-size: 48px;
	}
	.cardPoint{
		font-size: 36px;
	}
	.cardFree{
		background-color: #fff;
		padding: 3px;
		border-radius: 50%;
	}
	.cardBuy{
		display: block;
		background-color: #fff;
		// padding: 12px 30px;
		text-align: center;
		padding: 5% 15%;
		border-radius: 30px;
	
	}
}


.home_pg5{
	background-color: #0052b2;

}
.home_pg5_whitebox1{
	width: 100%;
	position: absolute;
	height: 8vw;
	top:20vh;
	left:0;
	background-color: #fff;
	z-index: 2;
	transform: scaleX(0);
	transform-origin: left;
}
.home_pg5.active .home_pg5_whitebox1{
	transition: .5s;
	transition-delay: 1.5s;
	transform: scaleX(1);
}
.home_pg5_yellowbox1{
	height: 100vh;
	width: 13vw;
	background-color: #ffb505;
	position: absolute;
	left:0;
	top:0;
	transform: skewX(-23deg) scaleY(0);
	transform-origin: top;
	z-index: 1;
	
}
.home_pg5.active .home_pg5_yellowbox1{
	transform: skewX(-23deg) scaleY(1);
	transition: .5s;
	transition-delay: 1.3s;
}
.home_pg5_yellowbox2{
	height: 100vh;
	width: 30vw;
	background-color: #ffb505;
	position: absolute;
	right:5%;
	top:0;
	transform: skewX(-23deg) scaleY(0);
	transform-origin: top;
	z-index: 1;
}
.home_pg5.active .home_pg5_yellowbox2{
	transform: skewX(-23deg) scaleY(1);
	transition: .5s;
	transition-delay: 1s;
}
.home_pg5_yellowbox2 h3{
	position: absolute;
	bottom: 0%;
	right:0%;
	transform:rotateZ(180deg);
	writing-mode: vertical-lr ;
	color:#0052B2;
	font-size: 130px;
	font-weight: bold;
}
.home_pg5_yellowbox2:after{
	display: block;
	content: '';
	position: absolute;
	right:-2vw;
	height: 100%;
	width: 0.4vw;
	background-color: #70daf2;
}
.home_pg5_whitebox2{
	width: 35%;
	background-color: #fff;
	height: 100vh;
	position: absolute;
	left: 0;
	transform: scaleY(0);
	transform-origin: top;
}
.home_pg5.active .home_pg5_whitebox2{
	transform: scaleY(1);
	transition: .5s;
	transition-delay: 1.5s;
}
.home_pg5 h2{
	position: absolute;
	padding-left: 15px;
	top:calc(20% + 4vw);
	transform: translateY(-50%);
	color: #ffb505;
	font-size: 48px;
	z-index: 3;
	opacity: 0;
}
.home_pg5.active h2{
	opacity:1;
	transition-delay: 1.7s;
}
#home_map{
	border-radius: 10px;
	width:600px;
	box-shadow: 30px -20px #ffb505;
	z-index: 5;
	overflow: hidden;
}
.home_pg5_footer{
	position: relative;
	top:35vh;
	padding-top: 10px;
	padding-left: 15px;
	color:#fff;
	font-size: 20px;
	line-height: 36px;
	z-index: 4;
}
@media screen and (max-width: 1200px) {
	.home_pg5{
		text-align: center;
	}
	.home_pg5_yellowbox1{
	height: 100vh;
	width: 13vw;
	transform: skewX(0deg) scaleY(0);
	
}
	.home_pg5.active .home_pg5_yellowbox1{
	transform: skewX(0deg) scaleY(1);
	transition: .5s;
	transition-delay: 1.3s;
}
	.home_pg5_yellowbox2{
	height: 100vh;
	width: 13vw;
	right:0;
	top:0;
	transform: skewX(0deg) scaleY(0);
	transform-origin: bottom;
}
	.home_pg5.active .home_pg5_yellowbox2{
	transform: skewX(0deg) scaleY(1);
}
	.home_pg5_yellowbox2 h3{
	font-size: 8vw;
}
	.home_pg5_whitebox1{
		top:15vh;
	}
	.home_pg5 h2{
		padding-left: 0px;
		width: 100%;
		text-align: center;
		font-size: 24px;
		top:calc(15vh + 4vw);
		z-index: 3;
		opacity: 0;
	}
	#home_map{
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	box-shadow: none;
	z-index: 5;
	// overflow: hidden;
	width: 60%;
	height: 0;
	padding-bottom: 35.0000000875%;
}
	.home_pg5_footer{
	top:25vh;
	padding-left: 0px;
	text-align: center;
	color:#fff;
	font-size: 16px;
}

}