* {
    @include all();
}
body{
    font-family: $about-font;
  
}

/*-----------------------------------*/

#bar {
    width: 100px;
  
}

#pic_a{
     display: none;

}

#m_pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: auto;

}
#link_member{
    display: block;
    width: 100%;
   
}

/*--------------------------------------*/

/*singe*/

@media screen and (max-width: 768px){

    #sing_in,
    #enroll {
        margin-top: -50%;
        margin-right:-15px;
    }

}

#sing_in,
#enroll {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(219,219,219,.3),rgba(55,137,200,.4));
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}



#sing_wrap,
#enroll_wrap {
    width: 85%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 1px #888;
    text-align: center;
    position: relative;
    background-color: #fff;
    top: 200px;
    left: 0;
    margin:auto;
    padding: 15px;
}

#sing_in p,
#enroll p {
    font-size: $light_p;
    padding: 10px;
}

#close_1,
#close_2 {
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#table_login {
    width: 100%;
}

#table_login td {
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

#table_login input,
#enroll input {
    padding: 3px;
    border-radius: 5px;
}

#close_1,
#close_2,
#enroll_btn,
#login_btn {
    cursor: pointer;
}

#sing_wrap input[type="button"],
#enroll_wrap input[type="submit"] {
    background-color: rgba(254, 180, 4, .7);
    letter-spacing: 2px;
    padding: 3px 10px;
    border: transparent;
}

/*-------------------------------------------------------------*/

#check_id,
#check_psw {
    font-size: 14px;
    color: #f22;
    display: inline-block;
}

#check_id {
    margin-right: 5px;
}

#enroll_wrap #enroll_table{
    width: 100%;
    position: relative;
    float: none;
    margin-top: 0px;


}

#enroll_table .enroll_li {
    height: 36px;
    padding: 12px;
    float: none;
    margin-right: 0;
    position: relative;
    z-index: 0;
}