* {
  @include all();
}

body {
  font-family: $about-font;
}

/*-----------------------------------*/

#pic_a {
  display: none;
}

#m_pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
  margin-top: -7.5px;
}

#link_member {
  display: block;
  width: 100%;
}

/*--------------------------------------*/

/*singe*/

@media screen and (max-width: 1200px) {
  #m_pic {
    margin-top: -9.5px;
  }
}

@media screen and (max-width: 768px) {
  #m_pic {
    margin-top: 0
  }
  #sing_in {
    margin-top: -50%;
    margin-right: -15px;
  }
}

#sing_in{

  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 5;
}
@keyframes fadeup{
  from{
    opacity: 0;
    margin-top:50px 
  }
  to{
    opacity: 1;
    margin-top:0px 
  }
}

#sing_wrap{
  width: 85%;
  max-width: 300px;
  // border-radius: 10px;
  // box-shadow: 0px 0px 6px 1px #888;
  text-align: center;
  position: absolute;
  background-color: #0052b1;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  padding: 20px 0;
  animation: fadeup 1.5s;
}
@keyframes basketball_login{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.tennis_img{
  width: 25%;
  animation: basketball_login 1.5s;
}
#sing_in p{
  font-size: $light_p;
  padding: 10px;
  color:#fff;
}

#close_1{
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#table_login {
  width: 100%;
}

#table_login td {
  width: 100%;
  padding: 15px;
  font-size: 18px;
}
#table_login input,
#enroll input {
  padding: 5px;
  border-radius: 2px;
  width: 60%;
  border: 0px;
  color:#fff;
  background-color: rgba(255,255,255,.2);
  border:1px solid rgba(255,255,255,.7);
  font-weight: normal;
  text-align: center;
  transition: .3s;
  &::placeholder{
    color:#fff !important;
   }  
   &:hover{
    background-color: rgba(255,255,255,.5);
    }
  
    &:focus{
      background-color: white;
      border:1px solid rgba(255,255,255,.7);
      color: #0052b1;
    }
    
}

#close_1,
#login_btn {
  cursor: pointer;
}

#sing_wrap input[type="button"]{
  width: 60%;
  padding: 5px;
  border: 1px solid #fff;
  letter-spacing: 2px; 
  border-radius: 2px;
  /*border:1px solid #ffb505;*/
  background-color: #fff;
  color:#0052b1;
  cursor: pointer;
  box-shadow: none;
  transition: .3s;
  &:hover{
    background-color:#0052b1;
    color:#fff;
  }

}

#link_enroll{
  color:#FFB405;
  font-size: 16px;
  text-shadow: transparent 1px 1px, transparent 1px -1px, transparent -1px 1px, transparent -1px -1px;
  
}

/*-------------------------------------------------------------*/



// 隱藏下拉框框
.headerdropdown {
  position: absolute;
  top: 40px;
  width: 500%;
  margin-left: -143px;
  background: rgba(3, 3, 3, 0.575);
  padding-top: 100px;
  border-radius: 10px;
}

.headerdropdown::after {
  top: -16px;
  z-index: 999;
  content: '';
  position: absolute;
  left: calc(50% - -60px);
  width: 0;
  height: 0;
  background: 0 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: rgba(3, 3, 3, 0.575);
}

.headerdropdown {
  display: none;
  transition: .2s;
}

// #bar:hover .headerdropdown{
//     display: block;
// }
.downlink-ww {
  position: absolute !important;
  top: 10px !important;
  display: inline-block !important;
  width: 35px !important;
  height: 35px !important;
  margin: 0 !important;
}

.downlink-w {
  margin: 5px 63px !important;
  float: none !important;
  display: inline-block !important;
  width: 50px !important;
}

.downlink {
  font-size: 16px !important;
  &:after {
    display: none !important;
  }
  text-shadow: none !important;
  color: #fff !important;
  text-align: left !important;
}

#memberout {
  font-size: 16px !important;
  margin: 0px !important;
  color: #ffb505 !important;
  border: 0 none !important;
  background-color: transparent !important;
  letter-spacing: 5px !important;
  padding: 0px;
  cursor: pointer;
}