* {
    @include all();
  /*outline: 1px solid red;*/
  
}

html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: 100vw;
    overflow: auto;
}
body{
    font-family: $about-font;
    background-image: url(../images/about-material/about-bg.png);
    color:#fff;
}

a {
    text-decoration: none;
    color: $a_color;
    display: inline-block;
}

/*------------------------------------*/

.div {
    width: 100%;
    height: 70px;
}

@media screen and (min-width: 768px){
    .div {
    width: 100%;
    height: 180px;
}
}

/*---------------------------------------*/

section {
    width: 100%;
}

.wrap {
    width: 100%;
}

.member_item {
    width: 100%;
   
    padding: 5% 2% 0 2%;
    background-color: rgba(3,12,120,.78);
  
}

.content {
    width: 100%;
    padding:5% 2% 0 2%;
    
     background-color: rgba(3,12,120,.78);
   
}

/*768以上*/

@media screen and (min-width: 768px) {
    .wrap {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    .member_item {
        width: 32%;
    }
    .content {
        width: 68%;
    }
}

/*1024以上*/

@media screen and (min-width: 1024px) {
    .wrap {
        width: 70%;
    }
    .member_item {
        width: 30%;
    }
}

/*-------------------------------------------*/

/*member_item*/

#file {
    text-align: center;
}

.pic_wrap {
  width: 150px;
    height: 150px;
     margin: auto;

}

.pic {
    width: 150px;
    height: 150px;
    vertical-align: bottom;
    margin: auto;
    /*box-shadow:  0px 1.5px 0px #333,-4px 3px 0px  #ffb505*/
               ;
}

.change_pic {
    display: none;
}

input[type="file"] {
    width: 20px;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#show_name {
   @include s_show_name();
   display: none;
}

.m_item {
    width: 100%;
    display: flex;
    padding:20px 0;
}

.m_item li {
    width: calc(100% / 5);
    text-align: center;
    font-size: 16px;
    padding: 2px 0;
}

.m_item li a {
    border-bottom: 4px solid rgba(30,100,240,.7);
    padding-bottom: 5px;
}

/*768以上*/

@media screen and (min-width: 768px) {
    .pic_wrap {
        position: relative;
        width: 180px;
        height: 180px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .pic {
        width: 180px;
        height: 180px;
    }
    .change_pic {
        display: block;
        width: 180px;
        background-color: #888;
        color: #fff;
        text-align: center;
        position: absolute;
        padding: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: .5s;
    }
    label:hover .change_pic {
        opacity: 1;
    }
    #show_name {
        display: block;
       @include show_name();
    }

    #show_name span{
    display: inline-block;
    width: 100%;
    padding:5px;
   
}

#show_name img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-bottom;
}
    .m_item {
        width: 100%;
        display: block;
    }
    .m_item li {
        width: 100%;
        font-size: 20px;
        padding: 15px;
    }
    .line {
        display: inline-block;
        width: 5px;
        height: 20px;
        background-color: rgba(30,100,240,.7);
        vertical-align: bottom;
        margin-right: 4px;
    }
    .m_item li a {
        border-bottom: 1px solid transparent;
        padding-bottom: 0px;
    }
}

@media screen and (min-width: 1024px) {
    .pic_wrap {
        width: 90%;
    }
}

/*-------------------------------------------------*/

.member_content,
.change_paw {
    width: 100%;
    text-align: center;
}

.change_paw {
    margin-top: 40px;
}

#member_h1 {
    @include s_member_h1();
}

.first {
    margin-top: 30px;
}

.div_style {
    padding: 18px;
    font-size: 20px;
}



input[type="text"],
input[type="tel"],
input[type="password"] {
    @include input();
    font-size: 16px;
    text-align: center;
}

input[type="button"],
input[type="submit"]{
    @include btn_style();
      margin-top: 20px;

}


#btn_logout{
     margin-top: 0px;
}

.first #clear_border{
    border: transparent;
}

@media screen and (min-width: 768px){
    #member_h1 {
    @include member_h1();
}
}

/*1024以上*/

@media screen and (min-width: 1024px) {

}