*{
  @include all();
  /*outline: 1px solid red;*/
}


html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: 100vw;
    overflow: auto;
}
body{

    background-image: url(../images/sport-basketbol-basketball-2751.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

a {
    text-decoration: none;
    color: $a_color;
    display: inline-block;
}

/*------------------------------------------*/

.enroll_gap{
	width: 100%;
	height: 180px;
}

.enroll_wrap{
  width:1200px;
  padding: 0 15px;
  box-sizing: border-box;
	margin:auto;
	display: flex;
	justify-content: space-between;

}

.enroll_text{
	width: 48%;
	font-size: 36px;
	color:#fff;
}
@keyframes fadeup{
  from{
    opacity: 0;
    margin-top:50px 
  }
  to{
    opacity: 1;
    margin-top:0px 
  }
}
.enroll_frame{
  overflow: hidden;
  padding:20px 0;
  width: 50%;
  box-sizing: border-box;
  max-width:400px;
	color:#FFF;
	text-align: center;
	background-color: #0052b1;
  font-family: 'HanWangZonYi';
  font-size: 18px;
  animation: fadeup 1.5s;
	
}
@keyframes bowling{
  from{
    transform: rotate(0deg);
    left: -100%;
  }
  to{
    transform: rotate(720deg);
    left: -0%;
  }
}
.bowling_img{
  animation: bowling 1.5s ; 
  position: relative;
  img{
    width: 20%;
  }
}
/*-----------------------------------------------------*/
.enroll_content{
  width:80%;
  margin: auto;
  margin-top: 80px;
}

/*---------------------------------------------------*/
.enroll_frame p{
	 font-size: $light_p;
  padding: 10px;
}


 #enroll_table {
  width: 100%;
  position: relative;
  margin-top: 0px;
}

.enroll_li {
  height: 36px;
  padding: 12px;
  float: none;
  margin-right: 0;
  position: relative;
  z-index: 0;

}

#check_id,
#check_psw {
  font-size: 14px;
  color: #f22;
  display: inline-block;
  position: absolute;

  top:20px;
  right: 0;

}

/*--------------------------------*/
.enroll_li input:not(#enroll_send){
   height: 30px;
   width: 60%;
   letter-spacing: 2px;
   border-radius: 2px;
   background-color: rgba(255,255,255,.2);
   border:1px solid rgba(255,255,255,.7);
  // box-shadow: 2px 2px 1px 1px rgba(0,0,0,.3) inset;
   outline: 0px;
   padding: 5px;
   color:#fff ;
   font-weight: normal;
   text-align: center;
   transition: .3s;
   &::placeholder{
    color:#fff !important;
   }  
   &:hover{
    background-color: rgba(255,255,255,.5);
  }
    &:focus{
      background-color: white;
      
      border:1px solid rgba(255,255,255,.7);
      color: #0052b1;
    }
}

#enroll_send{ 
  width: 60%;
  padding: 5px;
  border: 1px solid #fff;
  letter-spacing: 2px; 
  border-radius: 2px;
  /*border:1px solid #ffb505;*/
  background-color: #fff;
  color:#0052b1;
  cursor: pointer;
  box-shadow: none;
  transition: .3s;
  &:hover{
    background-color:#0052b1;
    color:#fff;
  }
}


/*----------------------------------------*/
// 隱藏下拉框框
.headerdropdown {
  position: relative;
  top: 10px;
  width: 500%;
  margin-left: -143px;
  background: rgba(3, 3, 3, 0.2);
  padding-top: 100px;
  border-radius: 10px;
}

.headerdropdown::after {
  top: -16px;
  z-index: 999;
  content: '';
  position: absolute;
  left: calc(50% - -65px);
  width: 0;
  height: 0;
  background: 0 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: rgba(3, 3, 3, 0.2);
}

.headerdropdown {
  display: none;
  transition: .2s;
}

/* #bar:hover .headerdropdown{    
  display: block;
 }*/
.downlink-ww {
  position: absolute !important;
  top: 10px !important;
  display: inline-block !important;
  width: 35px !important;
  height: 35px !important;
  margin: 0 !important;
}

.downlink-w {
  margin: 5px 63px !important;
  float: none !important;
  display: inline-block !important;
  width: 50px !important;
}

.downlink {
  font-size: 16px !important;
  &:after {
    display: none !important;
  }
  text-shadow: none !important;
  color: #fff !important;
  text-align: left !important;
}

#memberout {
  font-size: 16px !important;
  margin: 0px !important;
  color: #ffb505 !important;
  border: 0 none !important;
  background-color: transparent !important;
  letter-spacing: 5px !important;
  padding: 0px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .enroll_wrap{
    width: 100%;
    justify-content: center;
  }
  .enroll_text{
    display: none;
  }
  .enroll_frame{
    width:100%;
    max-width: 300px;
  }
}