* {
    @include all();
  
}


html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
    width: 100vw;
    overflow: auto;
}
body{
    font-family: $about-font;
    background-image: url(../images/about-material/about-bg.png);
    color:#fff;

    
}

a {
    text-decoration: none;
    color: $a_color;
    display: inline-block;
}

/*------------------------------------*/

.div {
    width: 100%;
    height: 70px;
}

@media screen and (min-width: 768px){
    .div {
    width: 100%;
    height: 180px;
}
}

/*---------------------------------------*/

section {
    width: 100%;
}

.wrap {
    width: 100%;
}

.member_item {
    width: 100%;
    padding: 5% 2% 0 2%;
    background-color: rgba(3,12,120,.78);
}

.content {
    width: 100%;
    padding: 5% 2% 0 2%;
    background-color: rgba(3,12,120,.78);
}

/*768以上*/

@media screen and (min-width: 768px) {
    .wrap {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }
    .member_item {
        width: 32%;
    }
    .content {
        width: 68%;
    }
}

/*1024以上*/

@media screen and (min-width: 1024px) {
    .wrap {
        width: 70%;
    }
    .member_item {
        width: 30%;
    }
}

/*-------------------------------------------*/

/*member_item*/

#file {
    text-align: center;
}

.pic_wrap {
  width: 150px;
    height: 150px;
     margin: auto;
}

.pic {
    width: 150px;
    height: 150px;
    vertical-align: bottom;
    margin: auto;
}

.change_pic {
    display: none;
}

input[type="file"] {
    width: 20px;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

input[type="submit"],
input[type="button"]{

      @include btn_style();
}

#member_pic{
    margin-top: 20px;

}

#show_name {
   @include s_show_name();
   display: none;
}

.m_item {
    width: 100%;
    display: flex;
    padding:20px 0;

}

.m_item li {
   width: calc(100% / 5);
    text-align: center;
    font-size: 16px;
    padding: 2px 0;
}

.m_item li a {
    border-bottom: 4px solid #ffb505;
    padding-bottom: 5px;
}

#btn_logout{
     margin-top: 0px;
}

/*768以上*/

@media screen and (min-width: 768px) {
    .pic_wrap {
        position: relative;
        width: 180px;
        height: 180px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .pic {
        width: 180px;
        height: 180px;
    }
    .change_pic {
        display: block;
        width: 180px;
        background-color: #888;
        color: #fff;
        text-align: center;
        position: absolute;
        padding: 5px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        transition: .5s;
    }
    label:hover .change_pic {
        opacity: 1;
    }
    #show_name {
       @include show_name();
       display: block;

    }

    #show_name span{
    display: inline-block;
    width: 100%;
    padding:5px;
   
}

#show_name img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: text-bottom;
}


    .m_item {
        width: 100%;
        display: block;
    }
    .m_item li {
        width: 100%;
        font-size: 20px;
        padding: 15px;
    }
    .line {
        display: inline-block;
        width: 5px;
        height: 20px;
        background-color: rgba(30,100,240,.7);
        vertical-align: bottom;
        margin-right: 4px;
    }
    .m_item li a {
        border-bottom: 1px solid transparent;
        padding-bottom: 0px;
    }
}

#meminfo_active a{
    color: #ffb505;
}

#meminfo_active .line{
     background-color:#ffb505;
}

@media screen and (min-width: 1024px) {
    .pic_wrap {
        width: 90%;
    }
}

/*-------------------------------------------------*/

.group{
    width: 100%;
}

#member_h1{
     @include s_member_h1();
}

.group_title{
    font-size: 0px;
    width: 70%;
    margin: auto;
    margin-top: 30px;
}

.title{
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: auto;
    font-size: 18px;
    padding:4px 2px;
    letter-spacing: 1.5px;
    cursor: pointer;
  
  
}

.title_line{
    border-right: 2px solid yellow;
}

.group_content{
    width: 100%;
    position: relative;
}

#leader_content{
    display: block;

    background-color: rgba(255,255,255,.8);
    color:#000;
}

#staff_content{
    display: none;

    background-color: rgba(255,255,255,.8);
    color:#000;
}


.text_content{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
}

.text_title{
    display: none;
}

.my_group,
.other_group{
    width: 80%;
    margin:25px auto;
    border-bottom: 1px solid #ccc;
   
}

.my_group li,
.other_group li{
    font-size: 16px;
    padding: 12px;
}

.my_group span,
.other_group span{
    display:inline-block;
    width: 35%;
    font-size: 20px;
}

.my_group .link_group,
.other_group .link_group{
    font-weight:bold;
    color:#ffb505;
}



@media screen and (min-width: 1024px) {

    #member_h1{
     @include member_h1();
}


.group_title{
    width: 100%;
    margin-top: 30px;
}

#show_leader{
    background-color: rgba(255,255,255,.8);
    color:#000;
}

#show_staff{
    background-color: #022084;
    color:#fff;
}

.title{
    width: 160px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding:10px 40px 10px 15px;
    margin-right: 16px;
    position: relative;
}

.title:after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    right: 0;
    width: 0;
    height: 0;
    border-right: 58px solid #022084;
    border-bottom: 42px solid transparent;

}


.title_line{
    border-right: 0px solid transparent;
}

.text_content{
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      
}




.text_title,
.my_group,
.other_group{
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0;
}


.text_title{
      font-size: 20px;
      border-bottom: 1px solid #ccc;
 
}



.leader li,
.my_group li{
   padding:12px 0px;
  width: calc(100% / 5);
    
  
}

.staff li,
.other_group li{ 
    width: calc(100% / 6);
    padding:12px 0px;

}

.text_content span{
    display: none;
}


}


















































