* {
    @include all();
}
body{
    font-family: $about-font;
}

/*-----------------------------------*/

#bar {
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    /*outline: 1px solid red;*/
}

#m_pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#spanLogin {
    display: block;
    width: 40px;
    text-align: center;
}

/*--------------------------------------*/

/*singe*/

#sing_in,
#enroll {
    width: 100vw;
    height: 100vh;
    background-origin: linear-gradient(0deg, rgba(219, 219, 219, .5) 0%, rgba(320, 320, 320, .5) 100%);
    position: fixed;
    top: 0;
    right: 0;
    display: none;
}

#sing_wrap,
#enroll_wrap {
    width: 85%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 16px 4px #ccc;
    margin: auto;
    text-align: center;
    position: relative;
    background-color: #fff;
    top: 200px;
    padding: 15px;
}

#sing_in p,
#enroll p {
    font-size: $light_p;
    padding: 10px;
}

#close_1,
#close_2 {
    display: inline-block;
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#table_login {
    width: 100%;
}

#table_login td {
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

#table_login input,
#enroll input {
    padding: 3px;
    border-radius: 5px;
}

#close_1,
#close_2,
#enroll_btn,
#login_btn {
    cursor: pointer;
}

#sing_wrap input[type="button"],
#enroll_wrap input[type="submit"] {
    background-color: rgba(254, 180, 4, .7);
    letter-spacing: 2px;
    padding: 3px 10px;
    border: transparent;
}

/*-------------------------------------------------------------*/

#check_id,
#check_psw {
    font-size: 14px;
    color: #f22;
    display: inline-block;
}

#check_id {
    margin-right: 5px;
}

.enroll_li {
    height: 36px;
    padding: 12px;
}