* {
  // outline: 1px solid;
}

section {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100vh;
  .triangle-yellow {
    position: absolute;
    top: 0;
    left: 0;
    border-color: rgb(255, 181, 5) transparent transparent transparent;
    border-style: solid solid solid solid;
    /* 設定邊框大小可拼湊出任意形狀的三角形 */
    border-width: 150vw 35vw 0vw 0vw;
    /* 設定 width、height 可更好理解原理 */
  }
  .trapezoid-blue {
    position: absolute;
    top: 0;
    right: 50%;
    border-color: transparent rgb(0, 82, 178) transparent transparent;
    border-style: solid solid solid solid;
    /* 設定邊框大小可拼湊出任意形狀的三角形 */
    border-width: 150vw 35vw 0vw 0vw;
    /* 設定 width、height 可更好理解原理 */
  }
  .rectangle-blue {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 150vw;
    background-color: rgb(0, 82, 178);
  }
  #message {
    display: flex;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.466);
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 10px 0.5px;
    z-index: 2;
  }
  .field {
    width: 90%;
    height: 100%;
    position: relative;
    top: -180px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: auto;
    input {
      width: 100%;
      border-radius: 6px;
      height: 100%;
      border: 0;
      font-size: 0;
      background-color: #ffb505;
      transition: background 0.3s ease;
      color: #ffffff;
      &:focus {
        background-color: #ffb505;
        font-size: 23px;
        &::selection {
          background: rgba(188, 232, 255, 0.5);
        }
      }
      &.active {
        background-color: #ffb505;
        font-size: 23px;
      }
    }
    input,
    button {
      position: absolute;
      height: 70px;
    }
    button {
      background: rgba(0, 0, 0, 0.3);
      right: 0;
      border: 0;
      width: 115px;
      border-radius: 6px;
      font-size: 22px;
      cursor: pointer;
      transition: width 0.3s ease, background 0.3s ease, opacity 0.3s ease;
      opacity: 0;
      color: #ffb505;
      text-transform: uppercae;
      pointer-events: none;
      &.active {
        color: #ffffff;
        background: #ffb505;
        opacity: 1;
        pointer-events: auto;
        &:hover {
          background: #ffb505;
        }
      }
      &.full {
        width: 100%;
      }
    }
    input:focus+label {
      font-size: 19px;
      transform: translate(16px, 11px);
      color: rgba(255, 255, 255, 0.7);
    }
    label {
      position: absolute;
      color: rgba(255, 255, 255, 1);
      transform: translate(16px, 20px);
      transition: transform 0.3s ease, font-size 0.3s ease, color 0.3s 0.1s ease;
      font-size: 28px;
      &.active {
        font-size: 19px;
        transform: translate(16px, 11px);
        color: rgba(255, 255, 255, 0.7);
      }
    }
    input:focus+label+button {
      opacity: 1;
    }
    span {
      font-family: $span-family;
    }
  }
  .coach_img {
    width: 100%;
    overflow: hidden; // padding-top: 48.75%;
    height: 70vh;
    position: absolute;
    top: 20%;
    background-image: url("../images/chatrobot/gym-background.png");
    background-size: cover;
  }
  .coach_img img {
    // max-width: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; // right: 0;
    // bottom: 0;
    // margin: auto;
  }
}

// 機器人問答
#talk {
  padding: 2%;
}

.li_ans {
  margin: 2% 0;
  font-size: 1.5vw;
  text-align: left;
}

.rli_ans {
  margin: 2% 0;
  font-size: 1.5vw;
  text-align: right;
}

section #message {
  overflow-y: auto;
}

section .field {
  width: 50%;
  animation: input-w 2s;
}

section .ptm {
  animation: ptm 2s 2s;
}

@keyframes input-w {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes ptm {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}