@mixin font-face {
    font-family: 'HanWangZonYi'; // src:url(../font/HanWangZonYi.woff);
}

h1,
h2 {
    @include font-face();
    // font-size: 5vw;
}

// ==================會員中心設定========================
@mixin all() {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
@mixin s_member_h1() {
    width: 40%;
    font-size: 22px;
    text-align: center;
    letter-spacing: 4px;
    padding: 6px;
    background-color: rgba(30,100,240,.7);
}


@mixin member_h1() {
    width: 35%;
    font-size: 24px;
    text-align: right;
    padding: 8px;
   
}

@mixin input() {
    height: 30px;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: transparent;
    color:#fff;
    border:1px solid rgba(255,255,255,.7);
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.4) inset;
}



@mixin btn_style() {
    background-color: transparent;
    letter-spacing:2px;
    padding: 3px 10px;
    border:1px solid #ffb505;
    color:#ffb505;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
}

@mixin s_show_name(){
    display: block;
    width: 50%;
    margin:auto;
    padding:10px 0;
    border-bottom:2px solid #bbb;
    letter-spacing: 1px;


}


@mixin show_name(){
    width: 70%;
    margin: 40px;

}