header {
  width: 100%;
  font-family: 'HanWangZonYi';
  position: absolute;
  z-index: 99; }

header:after {
  display: block;
  content: '';
  clear: both; }

.logo {
  float: left;
  margin-left: 11%;
  margin-top: 1.5%;
  width: 17%; }

.logo img {
  width: 100%; }

header ul {
  float: right;
  width: 43.8%;
  margin-right: 5.2%; }

header ul li {
  float: left;
  margin-right: 5.3%;
  font-size: 1.3vw;
  padding-top: 6.5%; }

header ul li a {
  text-decoration: none;
  color: #0052b2;
  text-shadow: #fff 0px 2px, #fff 0px -2px, #fff 2px 0px, #fff -2px 0px; }

header ul li:last-child {
  line-height: 1;
  padding-top: 5.3%;
  width: 6%; }

#loginicon {
  width: 100%; }

@media screen and (max-width: 768px) {
  header {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed; }
  .logo {
    margin-left: 5%;
    margin-top: .5%;
    margin-bottom: .5%; } }

/*lightbox*/
h1,
h2 {
  font-family: 'HanWangZonYi';
  font-size: 5vw; }

/*!
 * fullPage 3.0.2
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: hidden;
  position: relative; }

.fp-scroller {
  overflow: hidden; }

.iScrollIndicator {
  border: 0 !important; }

.fp-notransition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }

#fp-nav.fp-right {
  right: 17px; }

#fp-nav.fp-left {
  left: 17px; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important; }

.fp-slidesNav.fp-bottom {
  bottom: 17px; }

.fp-slidesNav.fp-top {
  top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative; }

.fp-slidesNav ul li {
  display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1; }

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px; }

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important; }

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100vh; }

.section {
  overflow: hidden;
  position: relative; }

a {
  text-decoration: none; }

.home_pg1 {
  /*background-color: #ea573b;*/ }

#home_bg1_vd {
  min-width: 100%;
  min-height: 100%; }

.home_pg1_bluebox1 {
  position: absolute;
  left: -10vw;
  /*right: 80vw;*/
  top: 0;
  background-color: #0052b2;
  height: 100vh;
  width: 45vw;
  -webkit-transform: skewX(23deg) scaleY(0);
  -ms-transform: skewX(23deg) scaleY(0);
  transform: skewX(23deg) scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  /*	transition: .5s;
	transition-delay: .5s;*/ }

.home_pg1.active .home_pg1_bluebox1 {
  -webkit-transform: skewX(23deg) scaleY(1);
  -ms-transform: skewX(23deg) scaleY(1);
  transform: skewX(23deg) scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

.home_pg1_yellowbox:after {
  display: block;
  content: '';
  position: absolute;
  height: 100vh;
  width: 0.4vw;
  background-color: #70daf2;
  left: -2vw; }

.home_pg1_txt {
  position: absolute;
  color: #fff;
  -webkit-transform: skewX(-23deg);
  -ms-transform: skewX(-23deg);
  transform: skewX(-23deg);
  top: 30vh;
  width: 100%;
  left: calc(2vw + 25%);
  z-index: 9487;
  opacity: 0;
  /*transition-delay: 1.3s;*/ }

.home_pg1.active .home_pg1_txt {
  opacity: 1;
  -webkit-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  transition-delay: 1.3s; }

.home_pg1_txt h1 {
  font-size: 8vw; }

.home_pg1_btng {
  margin-left: 3vw;
  margin-top: 2vw; }

.home_pg1_btn {
  display: inline-block;
  background-color: #fff;
  width: 7vw;
  height: 3vw;
  font-size: 2vw;
  text-align: center;
  border-radius: 50px;
  line-height: 3vw;
  margin: 0 0.5vw;
  color: #0052b2;
  font-weight: bold; }

.home_pg1_yellowbox {
  position: absolute;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #ffb505;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

.home_pg1.active .home_pg1_yellowbox {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .8s;
  -o-transition-delay: .8s;
  transition-delay: .8s; }

.home_pg1_bluebox2 {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #0052b2;
  height: 100vh;
  width: 5vw;
  -webkit-transform: skewX(23deg) scaleY(0);
  -ms-transform: skewX(23deg) scaleY(0);
  transform: skewX(23deg) scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

.home_pg1.active .home_pg1_bluebox2 {
  -webkit-transform: skewX(23deg) scaleY(1);
  -ms-transform: skewX(23deg) scaleY(1);
  transform: skewX(23deg) scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 100%; }
  .home_pg1_bluebox1 {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    height: 100vh;
    width: 100%;
    -webkit-transform: skewX(0deg) scaleX(0);
    -ms-transform: skewX(0deg) scaleX(0);
    transform: skewX(0deg) scaleX(0); }
  .home_pg1.active .home_pg1_bluebox1 {
    -webkit-transform: skewX(0deg) scaleX(1);
    -ms-transform: skewX(0deg) scaleX(1);
    transform: skewX(0deg) scaleX(1);
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s; }
  .home_pg1_txt {
    position: absolute;
    color: #fff;
    -webkit-transform: skewX(0deg) translateY(-50%);
    -ms-transform: skewX(0deg) translateY(-50%);
    transform: skewX(0deg) translateY(-50%);
    top: 50%;
    text-align: center;
    width: 100%;
    left: 0;
    opacity: 1; }
  .home_pg1_txt h1 {
    font-size: 10vw;
    line-height: 12vw; }
  .home_pg1_btng {
    margin-left: 0;
    margin-top: 2vh; }
  .home_pg1_btn {
    display: inline-block;
    background-color: #fff;
    width: 14vw;
    height: 6vw;
    font-size: 4vw;
    text-align: center;
    border-radius: 50px;
    line-height: 6vw;
    margin: 0 0.5vw;
    color: #0052b2;
    font-weight: bold; }
  .home_pg1_yellowbox {
    display: none; }
  .home_pg1_bluebox2 {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #0052b2;
    height: 50vh;
    width: 100%;
    -webkit-transform: skewX(0deg) scaleY(0);
    -ms-transform: skewX(0deg) scaleY(0);
    transform: skewX(0deg) scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .home_pg1_bluebox2:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffb505;
    z-index: 2;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .home_pg1_bluebox2:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .home_pg1.active .home_pg1_bluebox2 {
    -webkit-transform: skewX(0deg) scaleY(1);
    -ms-transform: skewX(0deg) scaleY(1);
    transform: skewX(0deg) scaleY(1);
    top: -50vh;
    -webkit-transition: top .5s .8s, -webkit-transform .1s 0s;
    transition: top .5s .8s, -webkit-transform .1s 0s;
    -o-transition: transform .1s 0s, top .5s .8s;
    transition: transform .1s 0s, top .5s .8s;
    transition: transform .1s 0s, top .5s .8s, -webkit-transform .1s 0s; }
  .home_pg1.active .home_pg1_bluebox2:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s; }
  .home_pg1.active .home_pg1_bluebox2:before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .home_pg1_bluebox3 {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0052b2;
    height: 50vh;
    width: 100%;
    -webkit-transform: skewX(0deg) scaleY(0);
    -ms-transform: skewX(0deg) scaleY(0);
    transform: skewX(0deg) scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  .home_pg1_bluebox3:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ffb505;
    z-index: 2;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  .home_pg1_bluebox3:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
  .home_pg1.active .home_pg1_bluebox3 {
    -webkit-transform: skewX(0deg) scaleY(1);
    -ms-transform: skewX(0deg) scaleY(1);
    transform: skewX(0deg) scaleY(1);
    bottom: -50vh;
    -webkit-transition: bottom .5s .8s, -webkit-transform .1s 0s;
    transition: bottom .5s .8s, -webkit-transform .1s 0s;
    -o-transition: transform .1s 0s, bottom .5s .8s;
    transition: transform .1s 0s, bottom .5s .8s;
    transition: transform .1s 0s, bottom .5s .8s, -webkit-transform .1s 0s; }
  .home_pg1.active .home_pg1_bluebox3:after {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s; }
  .home_pg1.active .home_pg1_bluebox3:before {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; } }

.home_pg3 {
  /*position: relative;*/
  background-image: url("../images/index/bg2.png");
  background-position: top;
  background-size: cover;
  /*padding-top: 25vh;*/ }

.home_pg3_svg {
  position: absolute;
  width: 100%;
  height: 50vh;
  background-image: url("../images/index/b2Svg.png");
  background-size: cover;
  bottom: 0;
  left: 0; }

.home_pg3 h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #0052b2;
  padding-top: 20vh;
  padding-bottom: 8vh; }

.home_team {
  font-size: 0; }

.teamItem {
  vertical-align: top;
  position: absolute;
  /*display: inline-block;*/
  width: 25%;
  /*left: 15px;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 405px;
  /*background-color: #fff;*/
  padding: 0 15px;
  color: #777;
  font-size: 16px;
  line-height: 24px; }

.teamOne {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 100%; }

.teamItem.all {
  z-index: 9487;
  /*left: 15px;*/ }

.teamAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../images/index/teamAll.png");
  background-size: cover; }

.all_img {
  text-align: center; }

.teamAll h3 {
  text-align: center;
  color: #ffb505;
  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 50px; }

.allMore {
  position: relative;
  background-color: #fff;
  color: #0052b2;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 35px 8px 15px; }

.teamPic {
  width: 100%;
  height: 160px; }

.teamPic img {
  width: 100%; }

.teamInfo {
  padding: 30px 15px 15px;
  position: relative;
  color: #666; }

.teamName {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #0052b2;
  padding-bottom: 10px; }

.teamTxt {
  font-size: 14px; }

.teamMore {
  position: absolute;
  top: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #0052b2;
  color: #ffb505;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 35px 8px 15px;
  left: 0px; }

.moreSkew {
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #ffb505;
  color: #0052b2;
  line-height: 40px;
  text-align: center; }

.moreSkew:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 15px;
  border-color: transparent transparent #ffb505 transparent; }

.moreSkew:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 15px 0 0;
  border-color: #ffb505 transparent transparent transparent; }

@media screen and (max-width: 1200px) {
  .home_team ul {
    text-align: center; }
  .teamItem {
    vertical-align: top;
    position: static;
    display: inline-block;
    width: 80%;
    /*left: 15px;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    /*background-color: #fff;*/
    margin: 0 auto 15px; }
  .teamOne {
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100%; }
  .teamOne:after {
    display: block;
    content: '';
    clear: both; }
  .teamPic {
    width: 50%;
    height: auto;
    float: left; }
  .teamPic img {
    width: 100%;
    vertical-align: top; }
  .teamInfo {
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 15px 15px;
    float: left;
    text-align: left;
    height: 100%; }
  .teamMore {
    position: absolute;
    top: initial;
    left: initial;
    right: 25px;
    bottom: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    background-color: #0052b2;
    color: #ffb505;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 35px 8px 15px; } }

.home_pg4_bg {
  position: absolute;
  top: 0;
  right: -55%;
  width: 55%;
  height: 100vh;
  background-image: url("../images/index/bg4.png");
  background-size: cover;
  background-position: left; }

.home_pg4.active .home_pg4_bg {
  right: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

.home_pg4_bluebox1 {
  position: absolute;
  width: 30%;
  top: 0;
  height: 100vh;
  background-color: #0052b2;
  left: -15vw;
  width: 40vw;
  -webkit-transform: skewX(23deg) scaleY(0);
  -ms-transform: skewX(23deg) scaleY(0);
  transform: skewX(23deg) scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 3; }

.home_pg4.active .home_pg4_bluebox1 {
  -webkit-transform: skewX(23deg) scaleY(1);
  -ms-transform: skewX(23deg) scaleY(1);
  transform: skewX(23deg) scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s; }

.home_pg4_txt {
  position: absolute;
  left: 20vw;
  top: 35vh;
  -webkit-transform: skewX(-23deg);
  -ms-transform: skewX(-23deg);
  transform: skewX(-23deg);
  opacity: 0; }

.home_pg4.active .home_pg4_bluebox1 .home_pg4_txt {
  opacity: 1;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s; }

.home_pg4_txt h2 {
  color: #fff;
  font-size: 3vw; }

.home_pg4_txt p {
  color: #ffb505;
  font-size: 1.5vw;
  margin-top: 3vh; }

.home_pg4_yellowbox {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 25%;
  background-color: #ffb505;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 4; }

.home_pg4.active .home_pg4_yellowbox {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1); }

.home_pg4_yellowbox:before {
  display: block;
  content: '';
  position: absolute;
  left: -2vw;
  height: 100vh;
  width: 0.4vw;
  background-color: #70daf2; }

.home_pg4_yellowbox:after {
  display: block;
  content: '';
  position: absolute;
  right: -2vw;
  height: 100vh;
  width: 0.4vw;
  background-color: #70daf2;
  z-index: 99; }

.home_pg4_whitebox {
  position: absolute;
  width: 100%;
  height: 5vw;
  bottom: 2vw;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(23%, #fff), color-stop(23%, #ffb505), color-stop(25%, #ffb505), color-stop(25%, #fff), to(#fff));
  background-image: -webkit-linear-gradient(left, #fff 0%, #fff 23%, #ffb505 23%, #ffb505 25%, #fff 25%, #fff 100%);
  background-image: -o-linear-gradient(left, #fff 0%, #fff 23%, #ffb505 23%, #ffb505 25%, #fff 25%, #fff 100%);
  background-image: linear-gradient(to right, #fff 0%, #fff 23%, #ffb505 23%, #ffb505 25%, #fff 25%, #fff 100%);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  z-index: 5; }

.home_pg4.active .home_pg4_whitebox {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  -webkit-transition-delay: 1.55s;
  -o-transition-delay: 1.55s;
  transition-delay: 1.55s; }

.home_pg4_bluebox2 {
  position: absolute;
  width: 100%;
  height: 5vw;
  bottom: 2vw;
  background-color: #0052b2;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left; }

.home_pg4.active .home_pg4_bluebox2 {
  -webkit-transition: 1.05s;
  -o-transition: 1.05s;
  transition: 1.05s;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.home_pg4_bluebox2 h3 {
  text-align: right;
  color: #fff;
  line-height: 5vw;
  padding-right: 3vw;
  font-size: 3vw; }

.pointCard {
  font-size: 0;
  text-align: right;
  position: relative;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5; }

.pointCard li {
  display: inline-block;
  width: 25%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*justify-content: center;*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 0;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 150%;
  background-repeat: no-repeat;
  background-position: 97% 3%; }

.cardP1 {
  font-size: 26px;
  margin-top: 50%; }

.cardP2 {
  font-size: 20px;
  margin-left: -20px; }

.cardP3 {
  margin: 30px auto 60px;
  font-size: 40px; }

.pointCard li:nth-child(1) .card .cardP3 {
  color: #FFD884;
  text-shadow: -1px -1px 0 #fc8359, 1px -1px 0 #fc8359, -1px 1px 0 #fc8359, 1px 1px 0 #fc8359, 2px 2px 2px #fc8359; }

.pointCard li:nth-child(2) .card .cardP3 {
  color: #fc8359;
  text-shadow: -1px -1px 0 #FFD884, 1px -1px 0 #FFD884, -1px 1px 0 #FFD884, 1px 1px 0 #FFD884, 2px 2px 2px #FFD884; }

.pointCard li:nth-child(3) .card .cardP3 {
  color: #70DAF2;
  text-shadow: -1px -1px 0 #0052B2, 1px -1px 0 #0052B2, -1px 1px 0 #0052B2, 1px 1px 0 #0052B2, 2px 2px 2px #0052B2; }

.cardCost {
  font-size: 48px; }

.cardPoint {
  font-size: 26px; }

.cardFree {
  background-color: #fff;
  padding: 1px;
  border-radius: 50%; }

.cardBuy {
  display: block;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 15px; }

.pointCard li:nth-child(1) .card {
  background-color: #ffd884;
  background-image: url("../images//index/card1.png");
  color: #f7682f; }

.pointCard li:nth-child(1) a {
  color: #ffd884; }

.pointCard li:nth-child(2) .card {
  background-color: #fc8359;
  background-image: url("../images/index/card2.png");
  color: #ffd884; }

.pointCard li:nth-child(2) a {
  color: #fc8359; }

.pointCard li:nth-child(3) .card {
  background-color: #70daf2;
  background-image: url("../images/index/card3.png");
  color: #0052b2; }

.pointCard li:nth-child(3) a {
  color: #0052b2; }

@media screen and (max-width: 1200px) {
  .home_pg4_bg {
    display: none; }
  .home_pg4_bluebox1 {
    position: absolute;
    width: 100%;
    top: 15vh;
    height: 8vw;
    background-color: #0052b2;
    left: 0;
    -webkit-transform: skewX(0deg) scaleX(0);
    -ms-transform: skewX(0deg) scaleX(0);
    transform: skewX(0deg) scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    z-index: 3; }
  .home_pg4.active .home_pg4_bluebox1 {
    -webkit-transform: skewX(0deg) scaleX(1);
    -ms-transform: skewX(0deg) scaleX(1);
    transform: skewX(0deg) scaleX(1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }
  .home_pg4.active .home_pg4_bluebox1 .home_pg4_txt {
    opacity: 1;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s; }
  .home_pg4_yellowbox {
    position: absolute;
    left: 0;
    top: initial;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: #ffb505;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    z-index: 4; }
  .home_pg4.active .home_pg4_yellowbox {
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1); }
  .home_pg4_yellowbox:after {
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 2vw;
    height: 20%;
    width: 100%;
    background-color: #70daf2;
    z-index: 99; }
  .home_pg4_yellowbox:before {
    display: none; }
  .home_pg4_whitebox {
    display: none; }
  .pointCard {
    text-align: center;
    position: relative;
    overflow: hidden; }
  .cardP1 {
    font-size: 2vw; }
  .cardP2 {
    font-size: 20px;
    margin-left: -20px; }
  .cardP3 {
    margin: 3vw auto 4.2vw;
    font-size: 3vw; }
  .cardCost {
    font-size: 4vw; }
  .cardPoint {
    font-size: 2vw; }
  .cardFree {
    font-size: 1.5vw;
    background-color: #fff;
    padding: 1px;
    border-radius: 50%; }
  .cardBuy {
    display: block;
    background-color: #fff;
    padding: 1vw 1.5vw;
    border-radius: 15px; }
  .home_pg4_txt {
    width: 100%;
    left: 0;
    top: 0vh;
    -webkit-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    transform: skewX(0deg);
    opacity: 0;
    text-align: center; }
  .home_pg4_txt h2 {
    color: #fff;
    font-size: 5vw;
    line-height: 6.4vw; }
  .home_pg4_txt p {
    color: #ffb505;
    font-size: 1.5vw;
    margin-top: 3vh; }
  .home_pg4_bluebox2 {
    bottom: 0; }
  .home_pg4_bluebox2 h3 {
    text-align: center;
    padding-right: 0; } }

.home_pg5 {
  background-color: #0052b2; }

.home_pg5_whitebox1 {
  width: 100%;
  position: absolute;
  height: 8vw;
  top: 20vh;
  left: 0;
  background-color: #fff;
  z-index: 2;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left; }

.home_pg5.active .home_pg5_whitebox1 {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.home_pg5_yellowbox1 {
  height: 100vh;
  width: 13vw;
  background-color: #ffb505;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: skewX(-23deg) scaleY(0);
  -ms-transform: skewX(-23deg) scaleY(0);
  transform: skewX(-23deg) scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 1; }

.home_pg5.active .home_pg5_yellowbox1 {
  -webkit-transform: skewX(-23deg) scaleY(1);
  -ms-transform: skewX(-23deg) scaleY(1);
  transform: skewX(-23deg) scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  transition-delay: 1.3s; }

.home_pg5_yellowbox2 {
  height: 100vh;
  width: 30vw;
  background-color: #ffb505;
  position: absolute;
  right: 5%;
  top: 0;
  -webkit-transform: skewX(-23deg) scaleY(0);
  -ms-transform: skewX(-23deg) scaleY(0);
  transform: skewX(-23deg) scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  z-index: 1; }

.home_pg5.active .home_pg5_yellowbox2 {
  -webkit-transform: skewX(-23deg) scaleY(1);
  -ms-transform: skewX(-23deg) scaleY(1);
  transform: skewX(-23deg) scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s; }

.home_pg5_yellowbox2 h3 {
  position: absolute;
  bottom: 0%;
  right: 0%;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  color: #0052B2;
  font-size: 7vw;
  font-weight: bold; }

.home_pg5_yellowbox2:after {
  display: block;
  content: '';
  position: absolute;
  right: -2vw;
  height: 100%;
  width: 0.4vw;
  background-color: #70daf2; }

.home_pg5_whitebox2 {
  width: 35%;
  background-color: #fff;
  height: 100vh;
  position: absolute;
  left: 0;
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top; }

.home_pg5.active .home_pg5_whitebox2 {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s; }

.home_pg5 h2 {
  position: absolute;
  padding-left: 15px;
  top: calc(20% + 4vw);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffb505;
  font-size: 48px;
  z-index: 3;
  opacity: 0; }

.home_pg5.active h2 {
  opacity: 1;
  -webkit-transition-delay: 1.7s;
  -o-transition-delay: 1.7s;
  transition-delay: 1.7s; }

#home_map {
  position: relative;
  margin-top: 35vh;
  border-radius: 10px;
  -webkit-box-shadow: 30px -20px #ffb505;
  box-shadow: 30px -20px #ffb505;
  z-index: 5;
  overflow: hidden; }

.home_pg5_footer {
  padding-top: 10px;
  padding-left: 15px;
  color: #fff;
  font-size: 20px;
  line-height: 36px; }

@media screen and (max-width: 1200px) {
  .home_pg5 {
    text-align: center; }
  .home_pg5_yellowbox1 {
    height: 100vh;
    width: 13vw;
    -webkit-transform: skewX(0deg) scaleY(0);
    -ms-transform: skewX(0deg) scaleY(0);
    transform: skewX(0deg) scaleY(0); }
  .home_pg5.active .home_pg5_yellowbox1 {
    -webkit-transform: skewX(0deg) scaleY(1);
    -ms-transform: skewX(0deg) scaleY(1);
    transform: skewX(0deg) scaleY(1);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s; }
  .home_pg5_yellowbox2 {
    height: 100vh;
    width: 20vw;
    right: 0;
    top: 0;
    -webkit-transform: skewX(0deg) scaleY(0);
    -ms-transform: skewX(0deg) scaleY(0);
    transform: skewX(0deg) scaleY(0);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .home_pg5.active .home_pg5_yellowbox2 {
    -webkit-transform: skewX(0deg) scaleY(1);
    -ms-transform: skewX(0deg) scaleY(1);
    transform: skewX(0deg) scaleY(1); }
  .home_pg5 h2 {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    z-index: 3;
    opacity: 0; }
  #home_map {
    position: relative;
    margin-top: 35vh;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: 20px 20px #ffb505;
    box-shadow: 20px 20px #ffb505;
    z-index: 5;
    overflow: hidden; }
  .home_pg5_footer {
    padding-top: 30px;
    padding-left: 0px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 36px; } }
