// 變數
$about-font: "Questrial",
' Microsoft JhengHei',
'微軟正黑體',
sans-serif;
$h2-size: 3.5em;
$h3-size: 2em;
$business: 1.5em;
$info-bgcolor: #ffb505;
$footer-bgcolor: #ffb505;
$about-padding: 1em;
/*lightbox*/

$light_p:26px;
$a_color:#444;
$wrap_color:#ccc;