body {
    background-image: url("../images/index-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: "微軟正黑體"
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#fed-bed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

#front-end {
    text-align: center;
    line-height: 4em;
    cursor: pointer;
    font-size: 3em;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #0052B1;
    color: #fff;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.904);
}

#back-end {
    text-align: center;
    line-height: 4em;
    cursor: pointer;
    font-size: 3em;
    position: relative;
    color: #fff;
    width: 200px;
    height: 200px;
    background-color: #0052B1;
    color: #FFB405;
    box-shadow: inset 0 0 0 10px rgba(252, 194, 59, 0.932);
}

svg {
    padding: 5vw;
    width: 50%;
    /*transform: translateX(10vmin) translateY(10vmin);*/
}

svg>* {
    fill: #1c1c1c;
    stroke-width: 0.85px;
}


/*hover暫停效果*/

body:hover:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1vh;
    color: #1c1c1c;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    animation: tip 2.5s forwards;
}


/*文字顏色*/

.st0 {
    fill: none;
}

.st1 {
    fill: #FFFFFF;
}

.st2 {
    fill: #FFB405;
}

.st3 {
    fill: #0052B1;
}

@keyframes tip {
    0%,
    100% {
        opacity: 0;
    }
    10%,
    80% {
        opacity: 1;
    }
}

#front-end::before,
#front-end::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#front-end::before,
#front-end::after {
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
}

#front-end::before {
    animation-delay: -4s;
}

#front-end:hover::after,
#front-end:hover::before {
    background-color: rgba(255, 196, 0, 0.61);
}


#back-end::before,
#back-end::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#back-end::before,
#back-end::after {
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
}

#back-end::before {
    animation-delay: -4s;
}

#back-end:hover::after,
#back-end:hover::before {
    background-color: rgba(255, 255, 255, 0.658);
}

@keyframes clipMe {
    0%,
    100% {
        clip: rect(0px, 220px, 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, 220px, 0px);
    }
    50% {
        clip: rect(218px, 220px, 220px, 0px);
    }
    75% {
        clip: rect(0px, 220px, 220px, 218px);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


@media screen and (max-width: 768px) {
    svg {
        width: 90%;
    }
    #fed-bed {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
    }
    #front-end {
        margin: 2%;
    }

    #back-end {
        margin: 2%;
    }
}