//s1體育場正在蓋ing
.an-first > img,
.an-first > div {
  position: absolute;
  opacity: 0;
}

.an-first > img {
  width: auto;
}

.an-first.start > img,
.an-first.start > div {
  opacity: 1;
  transform: translate(0, 0);
  animation-duration: 4s;
}

.an-first.start .an-first-area-1 {
  animation-name: area;
}

.an-first.start .an-first-area-2 {
  animation-name: area-2;
}

.an-first.start .an-first-area-3 {
  animation-name: area-3;
}

.an-first.start .an-first-area-4 {
  animation-name: area-4;
}

.an-first.start .an-first-fire {
  animation-name: first-fire;
}

.an-first.start .an-first-building {
  animation-name: first-building;
}

.an-first.start .an-first-building-2 {
  animation-name: first-building-2;
}

.an-first.start .an-first-crane {
  animation-name: first-crane;
}
@media screen and (max-width: 1200px) {
  .an-first {
    width:500px;
    height: calc((500px / 3.2) * 3)
  }
}

@media screen and (max-width: 768px) {
  .an-first {
    width: 360px;
    height: calc((360px / 3.2) * 3);
  }
}
.block-image-video {
  position: relative;
  height: calc((500px / 3.2) * 3);
}
.block-image-video:hover .block-video {
  cursor: url(../../../images/about-material/about-animation/video/arrow-quattro-8c19783f05e08cb519ba717790202f1c8af49e67fc94211cc97e28261c1be3ec.svg)
      30 45,
    auto;
}
.block-image-video:hover .block-video {
  box-shadow: 0 4px 30px 0 rgba(211, 208, 47, 0.781);
}
.block-video {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 100%;
  transition: box-shadow 0.5s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.5s ease, transform 0.2s ease;
  transition: box-shadow 0.5s ease, transform 0.2s ease,
    -webkit-transform 0.2s ease;
  overflow: hidden;
}
.block-video .video-item {
  position: absolute;
  width: 135%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.an-first-area-1 {
  left: 0;
  bottom: 35%;
  max-width: 95%;
  transform: translateY(-20%);
}

.an-first-area-2 {
  left: 0;
  bottom: 28%;
  max-width: 94%;
  transform: translateY(20%);
}

.an-first-area-3 {
  left: 0;
  bottom: 18%;
  max-width: 100%;
  transform: translateY(25%);
}

.an-first-area-4 {
  left: 8%;
  bottom: 0;
  max-width: 65%;
  transform: translateY(15%);
}

.an-first-fire {
  right: 32%;
  bottom: 43%;
  max-width: 9%;
  transform: translateY(25%);
}

.an-first-building {
  right: 22%;
  top: 20%;
  max-width: 20%;
  transform: translate(28%, -26%);
}

.an-first-building-2 {
  right: 12%;
  top: 4%;
  max-width: 12%;
  transform: translate(45%, -15%);
}

.an-first-crane {
  bottom: 57%;
  left: 34%;
  max-width: 20%;
  transform: translate(15%, -10%);
}

@keyframes area {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  25% {
    transform: translateY(5%);
    opacity: 1;
  }
}

@keyframes area-2 {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  25% {
    transform: translateY(-20%);
    opacity: 1;
  }
}

@keyframes area-3 {
  0% {
    transform: translateY(25%);
    opacity: 0;
  }
  30% {
    transform: translateY(-25%);
    opacity: 1;
  }
}

@keyframes area-4 {
  0% {
    transform: translateY(15%);
    opacity: 0;
  }
  10% {
    transform: translateY(15%);
    opacity: 0;
  }
  35% {
    transform: translateY(-15%);
    opacity: 1;
  }
}

@keyframes first-fire {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  15% {
    opacity: 0;
    transform: translateY(25%);
  }
  35% {
    opacity: 1;
    transform: translateY(-25%);
  }
}

@keyframes first-building {
  0% {
    transform: translate(28%, -26%);
    opacity: 0;
  }
  12% {
    transform: translate(28%, -26%);
    opacity: 0;
  }
  27% {
    transform: translate(-28%, 26%);
    opacity: 1;
  }
}

@keyframes first-building-2 {
  0% {
    transform: translate(45%, -15%);
    opacity: 0;
  }
  15% {
    transform: translate(45%, -15%);
    opacity: 0;
  }
  35% {
    transform: translate(-45%, 15%);
    opacity: 1;
  }
}

@keyframes first-crane {
  0% {
    opacity: 0;
    transform: translate(15%, -10%);
  }
  20% {
    opacity: 0;
    transform: translate(15%, -10%);
  }
  45% {
    opacity: 1;
    transform: translate(-15%, -10%);
  }
}

//s1體育場正在蓋ing
//s2手臂動畫
.an-crane {
  width: 570px;
  height: calc((570px / 3.3) * 3);
  position: relative;
  cursor: pointer;
}

.an-crane > img,
.an-crane > div {
  position: absolute;
}

.an-crane > img {
  width: auto;
}

.an-crane.start > img,
.an-crane.start > div,
.an-crane.start .an-crane-bg-shadow,
.an-crane.start .an-crane-1-wrap,
.an-crane.start .an-crane-2-wrap {
  opacity: 1;
  animation-duration: 2s;
}

.an-crane.start .an-crane-bg-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg;
}

.an-crane.start .an-crane-bg-shadow {
  animation-name: crane-bg-shadow;
}

.an-crane.start .an-crane-area-wrap {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-bg-area;
}

.an-crane.start .an-crane-area-2 {
  transform: translate(0, 0);
  opacity: 1;
  animation-name: crane-area-2;
}

.an-crane.start .an-crane-1-wrap {
  animation-name: crane-1;
}

.an-crane.start .an-crane-2-wrap {
  animation-name: crane-2;
}

.an-crane.start .an-crane-3-wrap {
  animation-duration: 4s;
  animation-name: crane-block;
  animation-iteration-count: infinite;
}

.an-crane.activate .an-crane-1-wrap {
  animation: crane-1-2 5s infinite;
}

.an-crane.activate .an-crane-2-wrap {
  animation: crane-1-3 4s infinite;
}

.an-crane.activate .an-crane-area-wrap {
  animation: crane-bg-area-2 4s infinite;
}

.an-crane.activate .an-crane-area-2 {
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (max-width: 767px) {
  .an-crane {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 1200px) {
  .an-crane {
    width:500px;
    height: calc((500px / 3.2) * 3)
  }
}

@media screen and (max-width: 768px) {
  .an-crane {
    width: 360px;
    height: calc((360px / 3.2) * 3);
  }
}

.an-crane-bg-wrap {
  max-width: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 63%;
  opacity: 0;
  transform: translate(20%, -20%);
}

.an-crane-bg-wrap > img {
  position: absolute;
}

.an-crane-bg {
  width: 100%;
  top: 0;
  left: 0;
}

.an-crane-bg-shadow {
  width: 100%;
  left: 0;
  top: 18%;
}

.an-crane-area-wrap {
  left: 0;
  top: 30%;
  max-width: 100%;
  width: 100%;
  max-height: 43%;
  height: 100%;
  opacity: 0;
  transform: translate(25%, -25%);
}

.an-crane-area-wrap > img {
  position: absolute;
}

.an-crane-area {
  left: 0;
  top: 0;
  max-width: 100%;
}

.an-crane-1-wrap {
  position: absolute;
  right: 21%;
  top: -16%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 18%;
}

.an-crane-2-wrap {
  position: absolute;
  top: 0%;
  left: -60%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 95%;
}

.an-crane-3-wrap {
  position: absolute;
  top: 22%;
  left: -28%;
  transform: rotate(0deg);
  transform-origin: bottom right;
  max-width: 35%;
}

.an-crane-1 {
  max-width: 100%;
}

.an-crane-2 {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.an-crane-3 {
  max-width: 28px;
  position: relative;
  z-index: 2;
}

.an-crane-block {
  position: absolute;
  min-width: 130px;
  transform: translate(-90%, -75%);
}

@media screen and (max-width: 768px) {
  .an-crane-block {
    min-width: 60px;
  }
}

.an-crane-area-2 {
  max-width: 50%;
  left: 3%;
  top: 24%;
  opacity: 0;
  transform: translate(-60%, -20%);
}

@keyframes crane-bg {
  0% {
    opacity: 0;
    transform: translate(20%, -20%);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes crane-bg-shadow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
}

@keyframes crane-bg-area {
  0% {
    opacity: 0;
    transform: translate(25%, -25%);
  }
  10% {
    opacity: 0;
    transform: translate(25%, -25%);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes crane-bg-area-2 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes crane-bg-area-3 {
  0% {
    transform: translate(0, 0);
  }
  60% {
    transform: translate(10px, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes crane-area-2 {
  0% {
    opacity: 0;
    transform: translate(-60%, -20%);
  }
  10% {
    opacity: 0;
    transform: translate(-60%, -20%);
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes crane-1 {
  0% {
    transform: rotate(80deg);
  }
  70% {
    transform: rotate(0deg);
  }
}

@keyframes crane-1-2 {
  0% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes crane-1-3 {
  0% {
    transform: rotate(0deg);
    top: 0;
    left: -60%;
  }
  60% {
    transform: rotate(35deg);
    top: 6px;
    left: -75%;
  }
  100% {
    transform: rotate(0);
    top: 0;
    left: -60%;
  }
}

@keyframes crane-2 {
  0% {
    transform: rotate(80deg);
  }
  85% {
    transform: rotate(0deg);
  }
}

@keyframes crane-block {
  0% {
    transform: rotate(12deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(12deg);
  }
}

//==========ball=================
.ball-animation {
  animation: breatheBall 3s ease-in alternate infinite;
}

@keyframes breatheBall {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
