*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	/*outline: 1px solid red;*/
}
/*-------------------------------------*/
#bar{
	width: 120px;
	position: absolute;
	right: 0;
	top:0;
}

#bar a{
	text-decoration:none;
}

/*-------------------------------------------*/
/*sing*/
#sing_in{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(0deg,rgba(219,219,219,.5) 0%,rgba(320,320,320,.5) 100%);
	position: fixed;
	top:0;
	right: 0;
	display: none;
}

#sing_wrap{
	width: 25%;
	max-width: 500px;
	border:1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 16px 4px #ccc;
	margin: auto;
	text-align: center;
	position: relative;
	background-color: #fff;
	top:200px;
	padding:15px;
}

#sing_in h1{
	font-size: 26px;
	padding: 10px;
}

#close_1,
#close_2{
	display: inline-block;
	padding:3px;
	position: absolute;
	right: 10px;
	top:10px;
}

#table_login{
	width: 100%;
}

#table_login td{
	width: 100%;
	padding:15px;
	font-size: 18px;
}


#table_login input{
	padding:3px;
	border-radius: 5px;
}

#close_1,
#close_2,
#enroll_btn,
#login_btn{
	cursor: pointer;
}


/*---------------------------------------*/
/*enroll*/
#enroll{
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(0deg,rgba(219,219,219,.5) 0%,rgba(320,320,320,.5) 100%);
	position: fixed;
	top:0;
	right:0;
	display: none;

}

#enroll_wrap{
	width: 25%;
	max-width: 500px;
	border:1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 16px 4px #ccc;
	margin: auto;
	text-align: center;
	position: relative;
	background-color: #fff;
	top:200px;
	padding:15px;

}

#enroll h1{
	font-size: 26px;
	padding: 10px;
}


#check{
	font-size: 14px;
	color:#f22;
}
.enroll_li{
	height: 36px;
	/*outline: 1px solid red;*/
	padding:12px;
}

#enroll input{
	padding:3px;
	border-radius: 5px;
}

#sing_wrap input[type="button"],
#enroll_wrap input[type="submit"]{

	background-color: rgb(254,180,4,.7);
	letter-spacing: 2px;
	padding:3px 10px;
	border:transparent;

}
