@import "base/reset";
@import "base/var";
@import "components/buttons";
@import "mixins/mixins";
@import "layout/header";
@import "layout/desktop";
@import "layout/small";
@import "layout/footer";
@import "pages/bookingreceipt";