*{
    // outline: 1px solid red;
}
.bg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #707884;
  }
  .book_and_team{
    position: relative;
    top:80px;
    width: 900px;
    margin: 0 auto;
    background-color: rgba(34, 34, 34, 0.6);
    // height: 380px;
    h2{
        font-size: 36px;
        margin-bottom: 15px;
    }
  }
  .book_and_team:after{
      display: block;
      content: '';
      clear: both;
  }
.select_book,.select_team{
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    color:#fff;
    padding: 60px 0;
        p{
            line-height: 24px;
        }
     .select_btn{
         margin-top: 30px;
         border: 1.5px solid #fff;
         display: inline-block;
         padding: 5px 10px;
         cursor: pointer;
         border-radius: 5px;
         transition: .3s;
         font-weight: bold;
         &:hover{
             background-color: #fff;
             color: rgba(34, 34, 34, 1);
         }
     }
}
.select_book{
    margin-left: 45px;
    // margin-right: 45px;
    float: left;
}
.select_team{
    margin-right: 45px;
    float: right;
}
.group.ticket{
    opacity: 0;
    // height: 500px;
    border-radius: 10px;
    header{
        background-color: #0052B2 !important;
        text-align: center;
        // line-height: 30px;
        // border:0px !important;
        width: auto;
        line-height: 30px;
        
    }
}
.group.ticket.right{
    opacity: 1;
}
.group_form{
    font-family: '微軟正黑體';
    // padding: 0 50px;
    box-sizing: border-box;
    background-color: #F8F8F8;
    border-radius: 10px;
    .team_name{
        position: relative;
        padding: 15px 50px;
        border-bottom: 2px dashed #D3D6DA;
        height: 97px;
        box-sizing: border-box;
        input{
            display: block;
            width: 100%;
            margin: 5px 0;
            padding: 5px;
            // font-size: 24px;
            text-align: left;
            
            transition: .3s;  
            border: 0px;
            background-color: transparent;
            background-color: #fff;
            color:#707884; 
            // border-bottom: 1px solid #707884;  
        }
        &:after {
            content: '';
            width: 16px;
            height: 16px;
            background-color: #f6f6f6;
            position: absolute;
            bottom: -8px;
            right: -8px;
            border-radius: 50%;
            box-shadow: inset 12px 0px 18px -11px rgba(3, 3, 3, .5);
          }
          &:before {
            content: '';
            width: 16px;
            height: 16px;
            background-color: #f6f6f6;
            position: absolute;
            bottom: -8px;
            left: -8px;
            border-radius: 50%;
            box-shadow: inset -12px 0px 18px -11px rgba(3, 3, 3, .5);
          }
    }
    .team_info{
        padding: 10px 50px 20px;
        // height: 350px;
        box-sizing: border-box;
        vertical-align: top;
        border-radius: 10px;
    }
    .team_mem,.team_img{
        margin: 10px auto;
        label{
            margin-bottom: 10px;
        }
    }
    .team_mem{
        text-align: left;
        select{
            // color:#fff;
            padding: 5px 5px;
            width: 100%;                
            font-size: 12px; 
            color: #707884;      
        }
    }
    .team_img{
        color:#707884; 
        input{
            width: 100%;
        }
    }

    label{
        display: block;
        color:#0052B1;
        text-align: left;

        font-family: '微軟正黑體';
    }

    textarea{
        display: block;
        background-color: #fff;
        resize: none;
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        padding: 10px 5px;
        border:0px;
        margin: 10px auto; 
        color:#707884;     
        
    }
    input[type="submit"]{
        font-size: 16px;
        background-color: #FFC131;
        outline: 0px;
        border: 1px solid #FFC131 ;
        padding: 5px 15px;
        cursor: pointer;
        color:#0052B1;
        border-radius: 10px;
    }
}