@import "layout/header";
@import "base/var";
@import "mixins/mixins";
@import "layout/desktop";
@import "layout/small";
@import "layout/footer";
@import "components/buttons";

header{
	position: relative!important;
}

header + section {
    padding-top:0px!important;
}

.icon-a{
    line-height: 1;
    font-size:0;
}

section{
	margin: 0 auto;
	color:#fff;
	background-color:#fff;
	overflow: hidden;
}
.group-wrapper{
	background-color:#0052b2;
	line-height: 30px;
}
.first-wrapper{
	display: flex;
    flex-flow:  row wrap;
    justify-content: space-evenly;
  align-items: center;
  background-color: #0052b2;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'HanWangZonYi';
  width: 100%;
}

.group-info-title{
	color:#fff;
    font-size: 45px;
    vertical-align: sub;
}
#group-mem-list{
	display: flex;
	margin: 20px 0;
}
.mem-head{
	margin: 0 5px;
}

.line{
	width:3px;
	background-color:#fff;
	margin:5px 5px;
}
.group-details{
    padding: 50px 0;
}
.group-owner{
	vertical-align: sub;
    margin: 10px;
    font-size: 14px;
}
.group-hr{
	width:100%;
	margin:20px 0;
}
.group-info-image{
	height: 100%;
	width: calc(100% - 500px);
}

.group-info-image img{
	vertical-align: top;
  height: 100%;
  width: 100%;
  object-fit:  cover;
}
.icon_area{
	display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.join-button{
    background-color: #ffb505;
    border:2px solid #ffb505;
    color:#0052B2;
    border-radius: 50px;
    padding: 10px 35px;
    vertical-align: top;
    transition: .3s;
    &:hover{
        border:2px solid #fff;
        background-color: transparent;
        color:#fff;
    }
}
.icon{
	cursor: pointer;
	width: 35px;
    height: 35px;
    vertical-align: top;
}


.mem-head{
	width:50px;
	height:50px;
	border-radius: 50%;
}

.mem-head img{
    border-radius: 50%;
	width: 100%;
	height:100%;
}


.group-txt{
	width:100%;
    margin: 20px 0;
    overflow-wrap: break-word;
}





.forum-wrapper{
	background-color:#e2e2e2;
	// height:800px;
    width: 100%;
    margin: auto;
	font-family: 'HanWangZonYi';
	position: relative;
    overflow: hidden;
}
.forum-board {
  position: relative;
  width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  }
.forum-box1{
	display: block;
    background: linear-gradient(to right,#fff 0%, #fff 50%,  #ffb505 50%, #ffb505 100%);
    width: 300px;
    height:100%;
    box-sizing: border-box;
    border-style: solid;
    transform: translateX(-180px) skewX(-18deg);
    left: 0;
    position: absolute;
}
.forum-box1:after{
	content: '';
    display: block;
    width: 5px;
    background: #70daf2;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    left: 40%;
}


// .forum-box2{
//     transform: rotate(180deg);
//     border-color:  transparent #fff transparent transparent;
//     border-style: solid;
//     border-width: 500px 310px 0px 0px;
//     position: absolute;
//     left: 0;
// }

.forum-title{
    color: #0052b2;
    width: 80%;
    margin:0 auto; 
    padding: 50px 0;
    line-height: 50px;
    font-size: 3em;
    text-align: center;
}
.forum{
    background-color: rgba(255,255,255,1);
    padding: 50px 8% 0px;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;

}
.message-box{
    padding: 0 5px;
    box-sizing: border-box;
    margin-bottom:40px; 
    color:#000;
    width: 100%;
    position: relative;
}

.message{
	// display: inline-block;
    width: 100%;
}

.mem-head01{
    display: inline-block;
    vertical-align: top;
    object-fit: contain;
    width: 80px;
    height:80px;
}

.mem-head01 img{
    border-radius: 50%;
	width: 100%;
	height:100%;
}
.mem-id{
    
    margin-bottom: 10px;
}
.mem-mid{
    display: inline-block;;
    box-sizing: border-box;
    padding: 0 15px;
    width: calc( 100% - 90px);
    overflow-wrap: break-word;
}
.message-time{
    color: #aaa;
    font-size: 14px;
    position: absolute;
    top:0;
    right: 5px;
}
.message-box01{
	width: 100%;
    box-sizing: border-box;
    vertical-align: bottom;
    padding: 25px 5px 50px;

}

.forum-border{
	overflow: auto;
    height: 400px;
    border-bottom:1px solid #aaa;
}
textarea{
    width: calc(100% - 125px);
    // width:80%;
     // margin: 20px 15px;
    padding-left: 5px;
    padding-top: 5px;
    display:inline-block;
    background-color: rgb(238,238,238);
    border-radius: 5px;
    font-size:16px;
    line-height: 25px;
    padding-bottom: 5%;
    border: 0px;
    resize: none;
    vertical-align: bottom;
}


.submit{
    background: #ffb505;
    margin-left: 5px;
    padding: 5px 35px;
    display: inline-block;
    box-sizing: border-box;
    width: 110px;
    border-radius: 20px;
    border: 2px solid #ffb505;
    color:#0052B2;
    transition: .3s;
    &:hover{
        color:#ffb505;
        background-color: transparent;
    }
}


@media screen and (min-width: 1200px) {
.group-box1{
	display: block;
    background: #ffb505;
    width: 250px;
    height: 100%;
    box-sizing: border-box;
    border-style: solid;
    transform: translateX(-80px) skewX(-18deg);
    right: 0;
    position: absolute;
}

.group-box1:after{
	content: '';
    width: 5px;
    background: #70daf2;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    box-sizing: border-box;
    right: 14%;
}
.group-info-image{
    height: 550px;
}
.first-wrapper:after{

    transform: rotate(180deg);
    border-color: #ffb505 transparent transparent transparent;
    border-style: solid;
    border-width: 35em 17em 0px 0px;
    position: absolute;
    right: 0;
}
.forum{
	width: 80%;
}
.message-time {
    display: inline-block;
    text-align: right;
}

.mem-id{
    vertical-align: top;
}
.forum-title {
    // position: absolute;
    // top: 5%;
    // left: 21.8%;
    text-align: left;
    // padding-left: 30px;
}
}

@media screen and (max-width: 1200px) {
.group-details {
    // background-color: rgba(0,0,0,0.5);
    // right: 0;
}

.forum-board { //ok
    width: 100%;
}
.message-time {
    float: right;
}
.message-box {
    margin: 50px 0;
}


}
@media screen and (max-width: 768px) {
    .group-info-image{
        width: 100%;
    }
    .forum{
        width: 100%;
    }
    .forum-box1{
        display: none;
    }
    .mem-head01{
        width: 30px;
        height: 30px;
    }
    .mem-head{
        width: 30px;
        height: 30px;
    }
    .group-info-title{
        font-size: 24px;
    }
    .join-button,.submit{
        font-size: 14px !important;
    }
    .icon{
        width: 30px;
        height: 30px;
    }
    textarea{
        width: 100%;
        margin-bottom: 15px;
    }
    .mem-id,.message-time{
        font-size: 12px;
    }
    .mem-mid{
        width: calc(100% - 40px);
    }
    
}
