@import "layout/header";
@import "base/var";
@import "mixins/mixins";
@import "layout/desktop";
@import "layout/small";
@import "layout/footer";
@import "components/buttons";
@import "layout/team";
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}
*{
	text-decoration: none;
	font-family: 'HanWangZonYi';
}
.group-body{
	background: url("../images/climb.jpg") no-repeat center center fixed;
	background-size: cover;
	-ms-overflow-style: none;
    height: 100%;
 	width: 100vw;
 	overflow: auto;
 	opacity:0.9;
}

header {
	+ section {
		padding-top: 120px;
	}
}

.select_bar{
	margin: 20px auto;
	background:#ffb505;
	padding:30px;
	border-radius: 15px;
	font-family: 'HanWangZonYi';
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}
.selectDate{
	font-color: #fff;
}
.button{
	text-align:center;
	font-size: 18px;
	cursor: pointer;
}


.button_a{
	border-radius: 5px;
	padding: 10px 10px;
	color: #fff;
	text-align:center;
	font-size: 18px;
	box-sizing: border-box;
}

.myGroup{
	background-color: #f7682f;
}

.createGroup{
	background-color: #0052b2;
}

span{ margin: 20px; }
option{
  background-color: #000;
}

option{
  background-color: #000;
  margin: 20px;
}

.selectSport {
   overflow: hidden;
}


 select{
   background: transparent;
   border: none;
   font-size: 1.2em;
   margin:5px;
   cursor: pointer;
}

.black input{
	height: 20px;

}

.black   { background-color: #000;
			color: #fff;
			font-size: 16px; 
			border: none;
			cursor: pointer;}
.black select { color: #fff; }

.groupbtn{
	margin: 10px;
}

.select{
	padding: 10px 20px;;
	border-radius: 5px;
	margin: 10px;
}



.group-list{
	display: flex;
	flex-flow:row wrap ;
	align-content: center;
	justify-content: center;
	margin:50px auto;
	font-family: 'HanWangZonYi';


}

.groupblock{
	position: relative;
	vertical-align: top;
	width: 25%;
	box-sizing: border-box;
	padding: 0 15px;
	color: #777;
	font-size: 16px;
	line-height: 24px;
	margin-bottom:30px;
}
a{
	color: #777;
}

.group01{
	width:100%;
	padding-bottom: 40%;
	vertical-align: top;
	box-sizing: border-box;
	position: relative;
	background-color: #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.group-more{
	position: absolute;
    top: 160px;
    transform: translateY(-50%);
    background: linear-gradient(to right, #0052b2 121px, transparent 122px);
    font-size: 18px;
    padding: 8px 50px 8px 15px;
    overflow: hidden;
    color: #ffb505;
}
.more-skew{
	position: absolute;
	width:10px;
	height: 100%;
	top:0;
	right: 15px;
	background-color: #ffb505;
	color: #0052b2;
	line-height: 40px;
	text-align: center;
}
.morebg {
    position: relative;
    padding: 8px 15px;
    overflow: hidden;
    }
.group-more:after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #ffb505;
    transform: skewX(-20deg);
    transform-origin: center;
    top: 0;
    left: -150%;
    z-index: -1;
    transition: .3s;
}
.more-skew:after{
	display: block;
	content: '';
	position: absolute;
	top:0;
	left:-15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 40px 15px;
	border-color: transparent transparent #ffb505 transparent;
}
.more-skew:before{
	display: block;
	content: '';
	position: absolute;
	top:0;
	right:-15px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 40px 15px 0 0;
	border-color: #ffb505 transparent transparent transparent;
}
.groupblock a:hover .group-more{
	color:#0052b2;
}
.groupblock a:hover .group-more.all{
	color:#ffb505;
}
.groupblock a:hover .group-more:after{
	width: 100%;
	left:-9%;
}
.group-img {
	width: 100%;
	height: 160px;
}
.group-img img{
	width:100%;
	height: 160px;
	object-fit: cover;
}

.group-date{
	background-color: #ffb505;
	color: #0052b2;
	text-align:center;
	padding:10px;
	position: absolute;
	top: 0;
	right: 0;
}
#group-day{
	display:block;
	font-size: 28px;
	vertical-align: middle;

}
#group-month{
	font-size: 20px;
	vertical-align: middle;
	line-height: 20px;
}


.group-title{
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #0052b2;
	padding-bottom: 10px;
}


.group-info{
	padding: 30px 15px 15px;
}

@media screen and (min-width: 1200px) {

 .cl-3 {
    width: 25%;
}

.group-list{
	width:1200px;
}
}

@media screen and (min-width: 900px) {

 .cl-3 {
    width: 25%;
}



.groupbtn{
	margin: 10px;
	float:right;
}

.select_bar{
	width:1200px;
	padding:15px;
}
.filters-select{
	width:10%;
}
.button_a{
	margin: 5px;
}
}

@media screen and (max-width: 1200px) {

header + section {
    padding-top: 50px;
}
.select_bar{
	width:80%;
}
}

@media screen and (max-width: 600px) {

header + section {
    padding-top: 80px;
}

.groupbtn{
	margin: 10px;
    font-size: 0;
}

.cl-12{
	width: 100%;
}

.select_bar{
	width:80%;
	padding:10px 0;
}

.filters-select{
	width:100%;
}
.select{
	display:block;
}

.button_a{
	width: calc(50% - 5px);
	display: inline-block;
}
.createGroup{
	margin-left: 10px;
}
.groupblock{
	padding: 0 50px;
}

}




#create_in{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(219, 219, 219, 0.3), rgba(55, 137, 200, 0.4));
  position: fixed;
  top: 0;
  right: 0;
  display: none;
}

#create_wrap{
  width: 100%;
  max-width: 1000px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 1px #888;
  text-align: center;
  position: relative;
  background-color: #fff;
  top: 200px;
  left: 0;
  margin: auto;
  padding: 15px;
}

#create_in p{
  font-size: 26px;
    padding: 10px;
    color: #0052b2;
    text-shadow: #fff 1px 1px, #fff 1px -1px, #fff -1px 1px, #fff -1px -1px;
    letter-spacing: 5px; }

#tableCreate{
	width: 100%;
}

#tableCreate td {
  width: 100%;
  padding: 5px 0;
  font-size: 18px; }

#tableCreate input {
  padding: 3px;
  border-radius: 5px;
  cursor: pointer; }


#create_wrap input[type="button"]{
  background-color: rgba(254, 180, 4, 0.7);
  letter-spacing: 1px;
  padding: 3px 10px;
  border: transparent; }

.joincontent{
	display: inline-block;
    border-radius: 50%;
    background-color: #0052b2;
    color: #fff;
    padding: 50px;
    position: relative;
    margin: 10px;
}

#close_3 {
  display: inline-block;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;}
.joincontent_wrap{
	width: 100%;
    margin: 10px auto;
}
.step_line{
	background-color: #0052b2;
    max-width: 90%;
    max-height: 5px;
    position: absolute;
    padding: 5px;
    margin: 150px auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 768px) {
  #screate_in{
    margin-top: -50%;
    margin-right: -15px; } }