*{
    // outline: 1px solid palegreen;
    
}
body{
    background-color: #F8F8F8;
    overflow-x: hidden;
}
header{
    position: relative !important;
}
.point_wrapper{
    width: 1200px;
    margin: auto;
}
input.CARD_NO,
input.CARD_METHOD
{
    display:none;
}
@keyframes title2{
    from{
        transform:scaleX(0);
    }
    to{
        transform:scaleX(1);
    }
}
.payment_title{
    position: relative;
    text-align: center ;
    font-size: 48px ;
    background-color: #0052B2;
    color:#fff;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 50px;
    padding-bottom: 25px;
}
  .title_bg{
        position: absolute;
        transform: scaleX(0);
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
        transform-origin: right;
        background-color: #FFB405;
        animation: title2 1s forwards;
    }
.payment_select_title{
    font-size: 16px;
    color: #0052B2;
    margin-bottom: 15px;
    font-family: 'HanWangZonYi';
    
}
.payment_select{
    float: left;
    padding: 0px 50px 0 15px;
    box-sizing: border-box;
    width: 50%;
    font-size: 0;
    border-right:1.5px solid #ccc; 
}
.payment_method:nth-child(3){
    margin: 0 5px;
}
.payment_method{
    display: inline-block;
    width:calc((100% - 10px)/3);
    // padding: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border: 5px solid transparent; 
    background-color: #fff;
    margin-bottom: 15px;
}
.payment_method img{
    width: 100%;
    vertical-align: top;
}
.payment_confirm{
    float: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    box-sizing: border-box;
    width: 50%;
}
.wrapper:after{
    display:block;
    content: '';
    clear: both;
}
.confirm_title{
    color:#0052B2;
    margin-bottom: 15px;
    font-size: 18px;
    // font-weight: bold;
    font-family: 'HanWangZonYi';
}
.confirm_list{
    padding: 10px 0;
    border-top: 1.5px solid #CCCCCC;
    border-bottom: 1.5px solid #CCCCCC;
    margin: -1.5px 0;
    font-size: 0;
    color: #343434;
}
.confirm_left{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 30%;
}
.confirm_right{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    width: 70%;
    text-align: right
}
.payment_points_list,
.payment_points_title{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    transition: .3s;
    box-sizing: border-box;
    position: relative;
    color: #FFB405;
    font-family: '微軟正黑體';
    font-weight: bold;
    
}
.outline{
    position: absolute;
    width: calc(100% + 3px);
    height: calc(100% + 3px);
    top:-1.5px;
    left: -1.5px;
    border: 1.5px solid #FFB405;
    box-sizing: border-box;
    // margin: -2px 0;
    transition: .2s;
    z-index: 2;
    opacity: 0;
}
.outline2{
    position: absolute;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    top:-5px;
    left: -5px;
    border: 5px solid #FFB405;
    box-sizing: border-box;
    // margin: -2px 0;
    transition: .2s;
    z-index: 2;
    opacity: 0;
}
.payment_method.active{
    .outline2{
        opacity: 1; 
        &:after{
            display: block;
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 7.5px 13.0px 7.5px;
            border-color: transparent transparent #FFB405 transparent;
        }
     }
     
}
.payment_points_list.active{
    background-color: #E7E7E7;
    .outline{
       opacity: 1; 
    }
    .points_checked{
        &:after{
            opacity: 1;
        }
    }
    
}
.payment_points_list{
    border-bottom: 1.5px solid #CCCCCC; 
    border-top: 1.5px solid #CCCCCC; 
    border-left: 1.5px solid transparent; 
    border-right: 1.5px solid transparent; 
    background-color: #fff;
    margin-top: -1.5px;
    color:#343434;
    cursor: pointer;
    transition: .3s;
    font-size: 18px;
    .payment_points_left{
        border-right: 1px solid #ccc;
    }
}
.payment_points_title .payment_points_left{
    padding-left: 30px;

}

.payment_points_left{
    padding-left: 30px;
    box-sizing: border-box;
    width:30%;
}
.payment_points_right{
    padding-left: 30px;
    box-sizing: border-box;
    width: 70%;
}
.POINTS_NO{
    // display: none;
}
.points_checked{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    display: inline-block;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1.5px solid #FFB405;
    left: 10px ;
    vertical-align: middle;

    &:after{
        display:inline-block;
        content:'';
        width:5px;
        height: 5px;
        border-radius: 50%;
        background-color: #FFB405;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        opacity: 0;
    }
}
.confirm_btn{
    color:#fff;
    background-color: #FFB405;
    padding: 10px 15px ;
    font-size:14px; 
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid #FFB405;
    transition: .3s;
}
.confirm_btn:hover{
    color:#FFB405;
    background-color: transparent;
}
.pay_note{
    padding: 20px 0;
    font-size: 14px;
    font-weight: bold;
    color:#FFB405;
}
.pay_finish{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(2,2,2,.8);
    text-align: center;
    z-index: 999;
}
.text_bg{
    display: inline-block;
    text-align: left;
    font-size: 80px;
    font-family: 'HanWangZonYi';
    letter-spacing: 5px;
    position: relative;
    top:50%;
    transform: translateY(-50%);
}
    .text{
        display: inline-block;
        text-align: left;
        color:rgba(255, 255, 255, .1);
        background-image: linear-gradient(to right,#FFB405 0%,#FFB405 20%, #FFD783 20%, #FFD783 40%,#fff 40%,#fff 60%,
                                            #70D9F1 60%,#70D9F1 80%,#0052B1 80%,#0052B1 100%);
        background-size: 500px;
        -webkit-background-clip: text;
        -o-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        overflow: hidden;
        animation: bgpos 1.5s forwards,
                  chacolor 3s 1s forwards; 
        // transform-origin: left;
        white-space: nowrap;
        position: relative;
    }
    
    @keyframes bgpos{
        from{
            width: 0;
            background-size: 90%;
        }
        to{
            width:100%;
            background-size: 100%;
        }
    }
    @keyframes chacolor{
        from{
            
            background-position-x: 0px;
        }
        to{
            
            background-position-x: 50px;
        }
    }
    @media screen and (max-width: 992px) {
        header{
                    position: fixed !important;
                }
        .point_wrapper{
            width: 100%;
            padding: 65px 0 0;
        }
    }
    @media screen and (max-width: 768px) {
        .payment_select,
        .payment_confirm{
                width: 100%;
                padding: 25px 15px;
                border-right: 0px;

            }
        .payment_title{
                font-size: 24px;
                text-align: center;
                margin-bottom: 30px;
                // margin-top: 65px;
         }   
    }
