// *{
//     outline: 1px solid green;
// }
.bad_fp{
    position: relative;
    width:100%;
    padding-top:44%;
    height:0;
    background-color: #fff;
    // overflow: hidden;
}
.bad_fp_rec{
    width:21%;
    padding-top: 44%;
    position: absolute;
    left:0;
    top:0;
    background-color: #ffd783;
}
.bad_fp_tri{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 44vw 0 0 44vw;
    border-color: transparent transparent transparent #ffd783;
    position: absolute;
    top:0;
    left:21%;
}
.bad_fp_bgimg1{
    width:50%;
    position: absolute;
    left:2%;
    bottom:0;
    opacity: 0;
    animation:bgimg1 1.2s forwards;
}
@keyframes bgimg1{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
.bad_fp_bgtri{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50vw 50vw 0 50vw;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top:0;
    right:-23%;
}
.bad_fp_bgimg2{
    width:69%;
    position: absolute;
    right:0;
    top:0;
    opacity: 0;
    animation:bgimg2 1s forwards;
}
@keyframes bgimg2{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}
.bad_fp_bgimg3{
    width:76%;
    position: absolute;
    top:-2%;
    left:2%;
    opacity: 0;
    animation:bgimg3 .5s forwards;
}
@keyframes bgimg3{
    from{
        opacity:0;
        top:-2%;
        left:2%;
    }
    to{
        opacity: 1;
        top:0;
        left:0;
    }
}
.bad_fp_bgimg3_m{
    display: none;
}
.bad_fp_bgimg4{
    width:21%;
    position: absolute;
    bottom:-10%;
    left:36%;
    z-index: 1;
    opacity: 0;
    animation: bgimg4 1s forwards;
}
@keyframes bgimg4{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.bad_fp_bgimg1 img,
.bad_fp_bgimg2 img,
.bad_fp_bgimg3 img,
.bad_fp_bgimg4 img{
    width:100%;
}
.bad_fp_tri2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18vw 18vw;
    border-color: transparent transparent #ffd783 transparent;
    position: absolute;
    bottom:0;
    right:0;
}
.bad_fp h1,
.bad_fp h2 {
    position: absolute;
    color: #0052b2;
    text-shadow: #fff 0px 3px, #fff 0px -3px, #fff 3px 0px, #fff -3px 0px;
    top: 50%;
    right: 15%;
    margin-right: 8%;
    font-size: 88px;
    z-index: 2;
}
.bad_fp h2 {
    top: 65%;
    right: 15%;
    margin-right: 0;
    font-size: 66px;
}
@media screen and (max-width:1200px){
    .bad_fp h1{
        font-size: 66px;
    }
    .bad_fp h2{
        font-size: 44px;
    }
}
@media screen and (max-width:767px){
    .bad_fp{
        height: 75vh;
        padding-top: 60px;
        overflow: hidden;
    }
    .bad_fp_rec{
        display: none;
    }
    .bad_fp_tri{
        left:0;
        top:auto;
        bottom:0;
        border-width:120vw 0 0 120vw;
    }
    .bad_fp_bgimg1{
        width:127%;
        left:-50%;
        bottom:-3%;
        // top:106px;
        transform: skewX(3deg);
    }
    .bad_fp_bgimg2{
        width:130%;
        position: absolute;
        right:auto;
        left:10%;
        top:60px;
        opacity: 0;
        animation:bgimg2 1s forwards;
    }
    .bad_fp_bgimg3{
        display: none;
    }
    .bad_fp_bgimg3_m{
        display: block;
        width:125%;
        position: absolute;
        left:3%;
        bottom:-35%;
        z-index: 3;
        opacity: 0;
        animation:bgimg_m .8s forwards;
    }
    @keyframes bgimg_m {
        from{
            left:3%;
            bottom:-35%;
            opacity: 0;
        }
        to{
            opacity: 1;
            left:1%;
            bottom:-37%;
        }
    }
    .bad_fp_bgimg3_m img{
        width:100%;
    }
    @keyframes bgimg3{
        from{
            opacity:0;
            left:-30%;
            bottom:-20%;
        }
        to{
            opacity: 1;
            left:-30%;
            bottom:-20%;
        }
    }
    .bad_fp_bgimg4{
        display: none;
    }
    .bad_fp_tri2{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 45vw 35vw;
        border-color: transparent transparent #ffb405 transparent;
        position: absolute;
        bottom:0;
        right:0;
    }
    .bad_fp h1,
    .bad_fp h2 {
        position: absolute;
        color: #0052b2;
        text-shadow: #fff 0px 3px, #fff 0px -3px, #fff 3px 0px, #fff -3px 0px;
        top: auto;
        bottom:25%;
        right: 15%;
        margin-right: 8%;
        font-size: 36px;
        z-index: 4;
    }
    .bad_fp h2 {
        top: auto;
        bottom:19%;
        right: 15%;
        margin-right: 0;
        font-size: 24px;
    }
}
.site_info{
    background-color: #ffd783;}
.assess{
    background-color: transparent;
}
.group_page{
    background-color: #ffd783;    
}
.site_info_tri2{
    border-color: transparent transparent transparent #ffb405;    
}
.assess_tri1{
    border-color: #ffd783 transparent transparent transparent;
}
.assess_tri2{
    border-color: transparent transparent #ffd783 transparent;    
}
.assess_tri3{
    border-color: transparent #ffb405 transparent transparent;
}