// *{
//     outline:1px solid green;
// }
body{
    background-color: #fff;
}
img{
    vertical-align: center;
}
.bkb_fp{
    position: relative;
}
.bkb_fp:after{
    display:block;
    content:'';
    clear: both;
}
.bkb_fp_bgimg{
    float:right;
    width:81.2%;
    opacity: 0;
    animation:bkb_bgimg 1.3s forwards;
}
.bkb_fp_bgimg img{
    width:100%;
}
@keyframes bkb_bgimg{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.bkb_fp_blue{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65vw 74vw 0 0;
    border-color: #0052b2 transparent transparent transparent;
    left:0;
    top:0;
    z-index: 1;
}
.bkb_fp_black{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16vw 20vw 0 16vw;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    top:0;
    left:10%;
}
.bkb_fp_black2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20vw 28vw;
    border-color: transparent transparent #000 transparent;
    position: absolute;
    bottom:0;
    right:0;
    z-index: 2;
}
.kobe{
    position: absolute;
    width:48%;
    left:-100%;
    bottom:-100%;
    z-index: 1;
    opacity:0;
    animation:kobe .5s forwards;
}
@keyframes kobe{
    from{
        left:-100%;
        bottom:-100%;
        opacity: 0;
    }
    to{
        left:13%;
        bottom:0;
        opacity: 1;
    }
}
.kobe img{
    width:100%;
}
.bkb_fp h1,
.bkb_fp h2{
    display: block;
    position: absolute;
    color:#0052b2;
    text-shadow: #fff 0px 3px,#fff 0px -3px,#fff 3px 0px,#fff -3px 0px;
    top:49%;
    right:15%;
    margin-right: 8%;
    font-size: 88px;
    z-index: 3;
}
.bkb_fp h2{
    top:65%;
    right:15%;
    margin-right: 0;
    font-size: 66px;
    z-index: 3;
}

@media screen and (max-width:767px){
    .bkb_fp{
        width:100%;
        height:75vh;
        padding-top: 60px;
        overflow: hidden;
    }
    .bkb_fp_bgimg{
        width:200%;
        height:75vh;
        position: absolute;
        right:-50%;
    }
    .bkb_fp_bgimg img{
        width:100%;
        height:75vh;
    }
    .bkb_fp_blue{
        border-width: 100vw 100vw 0 0;
        top:60px;
    }
    .bkb_fp_black{
        border-width: 25vw 29vw 0 25vw;
        top:60px;
        left:10%;
        z-index: 2;
    }
    .bkb_fp_black2{
        border-width: 0 0 40vw 40vw;
    }
    .kobe{
        width:125%;
        animation:kobe_m .5s forwards;
    }
    @keyframes kobe_m{
        from{
            left:-100%;
            bottom:-100%;
            opacity: 0;
        }
        to{
            left:-15%;
            bottom:15%;
            opacity: 1;
        }
    }
    .bkb_fp h1,
    .bkb_fp h2{
        position: absolute;
        color:#0052b2;
        text-shadow: #fff 0px 3px,#fff 0px -3px,#fff 3px 0px,#fff -3px 0px;
        top:auto;
        bottom:25%;
        right:15%;
        margin-right: auto;
        margin:auto;
        font-size: 36px;
        z-index: 2;
    }
    .bkb_fp h2{
        top:auto;
        bottom:19%;
        right:15%;
        margin-right: 0;
        font-size: 24px;
        z-index: 2;
    }
}
.site_info{
    background-color: #ffb405;
}
.site_info h3{
    color:#000;
}
.assess{
    background-color: #fff;
}
.assess_table label{
    background-color:#0052b2;
    color:#fff;
}
.assess_wrap h3{
    color:#fff;
}
.group_page{
    background-color: #0052b2;
}
.group_page_content h3{
    color:#fff;
}
.site_info_tri2{
    border-color: transparent transparent transparent rgba(255,255,255,.2);    
}
.assess_tri1{
    border-color: #ffb405 transparent transparent transparent;
}
.assess_tri2{
    border-color: transparent transparent rgba(255,180,5,.5) transparent;    
}
.assess_tri3{
    border-color: transparent #ffb405 transparent transparent;
}