@import "mixins/mixins";
img{
    vertical-align: middle;
}
// *{
//     outline: #0f0 1px solid;
// }

.bownling_first_page{
    width:100%;
    position: relative;
    background-color: #ea4c89;
    // background-color: #F00;
}
.bownling_first_page:after{
    display:block;
    content:'';
    width:100%;
    padding-top: 3%;
    height:0;
    background-color: #70d9f1;
    clear: both;
    position:absolute;
    bottom:0;
    z-index: 5;
}
.bownling_first_page:before{
    display: block;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15vw 25vw;
    border-color: transparent transparent #ea4c89 transparent;
    position: absolute;
    bottom:6.3%;
    right:0;
    z-index: 2;
}
#bowlingbgimg{
    width:66%;
    position: absolute;
    right:0;
    opacity: 0;
    animation: bowlingbgc 1s forwards;
}
@keyframes bowlingbgc{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
// .bownling_first_content{
//     width:1200px;
//     margin:auto;
//     position: absolute;
//     z-index: 2;
//     right:0;
//     left:0;
//     top:50%;
// }
#bowlingcan{
    width:21.7%;
    position: relative;
    left:25%;
    bottom:0;
    animation: bowlingcan 1.5s forwards;
    opacity: 0;
}
@keyframes bowlingcan{
    0%{
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}
#peteweber{
    width:46%;
    position: absolute;
    bottom: 6.3%;
    left:10%;
    opacity: 0;
    animation: peteweber 2s forwards;
}
@keyframes peteweber{
    0%{
        opacity: 0;
        left:10%;
    }
    100%{
        opacity: 1;
        left:15%;
    }
}
.bwl_h1,
.bwl_h2{
    display:block;
    color:#0052b2;
    position: absolute;
    top:49%;
    right:15%;
    font-family:'HanWangZonYi';
    text-align: right;
    margin-right: 8%;
    font-size: 88px;
    text-shadow: #fff 0px 3px,#fff 0px -3px,#fff 3px 0px,#fff -3px 0px
}

.bwl_h2{
    top:65%;
    right:15%;
    margin-right: 0;
    font-size: 66px;
}
@media screen and (max-width:1200px){
    .bwl_h1{
        font-size: 66px;
    }
    .bwl_h2{
        font-size: 44px;
    }
}

@media screen and (max-width:747px){
    .bownling_first_page{
        height:75vh;
        overflow: hidden;
        padding-top: 60px;
        // background-color: #fff;
    }
    .bownling_first_page:before{
        // display: none;
        border:0;
        width:20%;
        height:73vh;
        left:0;
        top:60px;
        bottom:auto;
        right:auto;
        background-color: #ea4c89;
    }
    
    .bownling_first_page:after{
        padding-top: 5%;
    }
    #bowlingbgimg{
        width:auto;
        height:73vh;
        position: absolute;
        right:-85%;
        opacity: 0;
        animation: bowlingbgc 1s forwards;
    }
    #bowlingcan{
        width:auto;
        height:73vh;
        position: relative;
        left:-5%;
        bottom:0;
        animation: bowlingcan 1.5s forwards;
        opacity: 0;
        z-index: 2;
    }
    #peteweber{
        width:auto;
        height:40vh;
        position: absolute;
        bottom: 2vh;
        left:-20%;
        opacity: 0;
        animation: peterweber_m 1.8s forwards;
        z-index: 5;
    }
    @keyframes peterweber_m {
        from{
            opacity: 0;
            left:-20%;
        }
        to{
            opacity: 1;
            left:-15%;
        }
    }
    .bwl_h1,
    .bwl_h2{
        z-index: 6;
        display:block;
        font-size: 40px;
        color:#0052b2;
        position: absolute;
        top:45%;
        right:5%;
        font-family:'HanWangZonYi';
        text-align: right;
        margin-right: 8%;
        text-shadow: #fff 0px 3px,#fff 0px -3px,#fff 3px 0px,#fff -3px 0px
    }
    .bwl_h2{
        top:55%;
        right:5%;
        margin-right: 0;
        font-size: 30px;
    }
}
.site_info{
    background-color: #ea4c89;}
.assess{
    background-color: #70d9f1;
}
.group_page{
    background-color: #70d9f1;    
}