.clm_fp{
    position: relative;
    width:100%;
}
.clm_fp:after{
    display: block;
    content:'';
    clear: both;
}
.clm_fp_bgimg{
    width:100%;
    // position: absolute;
    opacity: 0;
    animation:clmbgimg .8s forwards;
}
@keyframes clmbgimg{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.clm_fp_bgimg img{
    width:100%;
}
.clm_fp_orgtop{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33vw 33vw 0 0;
    border-color: #f6682f transparent transparent transparent;
    position: absolute;
    top:0;
    left:0;
}
.clm_fp_orgbot {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 26vw 26vw;
    border-color: transparent transparent #f6682f transparent;
    position: absolute;
    bottom: 0%;
    right: 0;
}
.clm_fp h1,
.clm_fp h2 {
    position: absolute;
    color: #0052b2;
    text-shadow: #fff 0px 3px, #fff 0px -3px, #fff 3px 0px, #fff -3px 0px;
    top: 50%;
    right: 15%;
    margin-right: 8%;
    font-size: 88px;
}
.clm_fp h2 {
    top: 65%;
    right: 15%;
    margin-right: 0;
    font-size: 66px;
}
@media screen and (max-width:1200px){
    .clm_fp h1{
        font-size: 55px;
    }
    .clm_fp h2{
        font-size: 33px;
    }
}
// @media screen and (max-height:823px){
    
//     .clm_fp_bgimg img{
//         width:140%;
//         position: relative;
//         left:-5%;
//     }
// }
@media screen and (max-height:736px){
    
    .clm_fp_bgimg img{
        width:115%;
        position: relative;
        // left:-2%;
    }
}
@media screen and (max-width:767px){
    .clm_fp{
        height:75vh;
        overflow: hidden;
        padding-top: 60px;
    }
    .clm_fp_bgimg{
        width:255%;
        height:75vh;
        position: absolute;
        left:-40%;
    }
    // .clm_fp_bgimg img{
    //     width:115%;
    // }
    .clm_fp_orgtop{
        border-width: 40vw 40vw 0 0;
        top:60px;
    }
    .clm_fp_orgbot {
        border-width: 0 0 40vw 40vw;
    }
    .clm_fp h1,
    .clm_fp h2 {
        position: absolute;
        color: #0052b2;
        text-shadow: #fff 0px 3px, #fff 0px -3px, #fff 3px 0px, #fff -3px 0px;
        top: auto;
        bottom:25%;
        right: 15%;
        margin-right: 8%;
        font-size: 36px;
    }
    .clm_fp h2 {
        top: auto;
        bottom:19%;
        right: 15%;
        margin-right: 0;
        font-size: 24px;
    }
}

.site_info{
    background-color: #f6682f;
}
.assess{
    background-color: #fff;
}
.group_page {
    background-color: #ffb783;
}
.site_info_tri2 {
    border-color: transparent transparent transparent #ffb783;    
}
.assess_tri1 {
    border-color: #f6682f transparent transparent transparent;
}
.assess_tri2 {
    border-color: transparent transparent #f6672f70 transparent;
}
.assess_tri3 {
    border-color: transparent #f6682f transparent transparent;
}
.bgcball{
    width:40%;
}