
header {
    width: 100%;
    font-family: 'HanWangZonYi';
    src: url(../font/HanWangZonYi.woff);
    position: absolute;
    z-index: 99; }

header:after {
display: block;
content: '';
clear: both; }

.logo {
float: left;
margin-left: 11%;
margin-top: 3%;
width: 17%; }

.logo img {
width: 100%; }

header ul {
float: right;
width: 43.8%;
margin-right: 5.2%;
margin-top: 1.5%; }

header ul li {
float: left;
margin-right: 5.3%;
font-size: 1.3vw;
padding-top: 6.5%; }

header ul li a {
text-decoration: none;
color: #0052b2;
text-shadow: #fff 0px 2px, #fff 0px -2px, #fff 2px 0px, #fff -2px 0px; }

header ul li:last-child {
line-height: 1;
padding-top: 5.3%;
width: 6%; }

#loginicon {
width: 100%; }
