

.wrapper{
	width: 1200px;
	margin:0 auto;
	position: relative;
	height: 100%;
}
@media screen and (max-width: 1200px) {
    .wrapper {
      width: 100%; }
    }
header {
width: 100%;
font-family: 'HanWangZonYi';
// src: url(../font/HanWangZonYi.woff);
position: absolute;
z-index: 99; }

header:after {
display: block;
content: '';
clear: both; }

.humberger_btn{
    display: none;
}

.logo {
float: left;
margin-left: 15px;
margin-top: 15px;
width:265px; 
}

.logo img {
width: 100%; 
vertical-align: top;}

header ul {
float: right;
margin-top: 40px;
}

header ul li {
float: left;
margin-right: 30px;
position: relative;
z-index: 2;
}

header a {
display: block;
position: relative;
text-decoration: none;
color: #0052b2;
letter-spacing: 5px;
text-shadow: #fff 1px 1px, #fff 1px -1px, #fff -1px 1px, #fff -1px -1px,;
z-index: 3; 
font-size: 20px;
}
header a:after{
content: '';
position: absolute;
bottom: -20%;
left:-20%;
width: 90%;
height: 50%;
transform: skewX(-40deg);
background-color: #ffb505;
z-index: -1;
opacity: 0;
display: block;
}
header ul li a:hover:after{
opacity: 1;
left:10px;
transition: .5s;

}
.login{
float: right; 
margin-top:40px ;
margin-right: 15px;  
position: relative;
z-index: 2;
}
// header ul li:last-child {
// line-height: 1;
// padding-top: 5.3%;
// width: 6%; }

#loginicon {
width: 100%; }

@media screen and (max-width:1200px){
    .logo{
        width:205px; 
    }
    header a{
        font-size: 16px;
    }
}
@media screen and (max-width:768px){
    header{
        background-color: rgba(255,255,255,.8);
        position: fixed;
        height: 60px;
    }
    .humberger_btn{
        display: block;
        float: left;
        width:60px;
        height: 60px;
        position: relative;
        z-index: 3;
    }
    .humberger_line{
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        // background-color: #ffb505;
        border: 1px solid #ffb505;
        border-radius: 2px;
        width: 30px;
        height: 5px;
        transition: .5s;
    }
    .humberger_line.top{
        top:20px;
    }
    .humberger_line.mid{
        top:50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .humberger_line.bot{
        bottom:20px;
    }
    .humberger_btn.active .humberger_line.top{
        top:50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform-origin: center;
        background-color: #ffb505;
    }
    .humberger_btn.active .humberger_line.mid{
        opacity: 0.3;
        background-color: #ffb505;
        height: 20px;
        border-radius: 50%; 
        border: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.7,0.7);
    }
    .humberger_btn.active .humberger_line.bot{
        bottom:initial;
        top:50%;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        background-color: #ffb505;
    }
    .logo{
        text-align: center;
        display: block;
        position: absolute;
        left: 50%;
        top:50%;
        margin: 0;
        transform: translate(-50%,-50%);
        width: 100px;
        float: none;
    }
    .humberger_btn.active ~ ul{
        left: 0;
    }
    header ul{
        position: absolute;
        float: none;
        margin: 0;
        top:60px;
        width: 100%;
        left: -100%;
        height: 100vh;
        background-color: #fff;
    }
    header ul li {
        float: none;
        margin: 0;
        text-align: center;
        font-size: 20px;
        padding-top: 6.5%; 
        }
    header ul li a:after{
        display: none;
    }     
    .login{
        margin-top: 0;
        top:50%;
        transform: translateY(-50%);
    }
}