@media screen and (max-width: 1200px) {
  section #messageall {
    width: 80%;
    height: 50%;
  }
  section #message {
    width: 100%;
  }
  section .field {
    width: 100%;
  }
  .li_ans {
    font-size: 5.5vw;
  }
  .rli_ans {
    font-size: 5.5vw;
  }
}

@media screen and (max-width: 768px) {}