*{
    outline:green solid 1px;
}
img{
    vertical-align: middle;
}
.site_info_pg{
    width:100%;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.site_info_pg_bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
}
.site_info_pg_bg img{
    width:100%;
    opacity: 0;
    animation: bgimg .5s 1.8s forwards;
}

@keyframes bgimg{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.site_info_pg_bluebox1 {
    position: absolute;
    width: 30%;
    top: -100%;
    left:-20%;
    height: 0;
    padding-top: 100vh;
    background-color: #0052b2;
    transform: skewX(23deg);
    animation: bluebox1 .5s forwards;
}

@keyframes bluebox1{
    0%{
        top:-100%;
        left:-20%;
    }
    100%{
        top:0;
        left:0;
    }
}
.site_info_pg_txt{
    position: absolute;
    top:0;
    right:0;
    transform: skewX(-23deg);
}
.site_info_pg_yellowbox {
    position: absolute;
    width: 25%;
    top: 0;
    height: 0;
    padding-top: 100vh;
    background-color: #ecb42c;
    transform: skewY(0deg);
}
.site_info_pg_yellowbox:before {
    display: block;
    content: '';
    position: absolute;
    left: -2vw;
    height: 100vh;
    top:0;
    width: 0.4vw;
    background-color: #70daf2;
}

.site_info_pg_yellowbox:after {
    display: block;
    content: '';
    position: absolute;
    right: -2vw;
    height: 100vh;
    top:0;
    width: 0.4vw;
    background-color: #70daf2;
    z-index: 99;
}

.site_info_pg_whitebox {
    position: absolute;
    width: 0;
    height: 5vw;
    bottom: 2vw;
    background-color: #fff;
    background-image: auto;
    animation: whitebox .6s .5s forwards;
}

@keyframes whitebox{
    0%{
        width:0;
    }
    100%{
        width:100%;
        background-image: linear-gradient(to right, #fff 0%, #fff 23%, #ffb505 23%, #ffb505 25%, #fff 25%, #fff 100%);
    }
}

.site_info_pg_bluebox2 {
    position: absolute;
    width: 100%;
    height: 5vw;
    bottom: 2vw;
    left:-100%;
    background-color: #0052b2;
    // transform: scaleX(0);
    transform-origin: left;
    animation: blubox2 1.5s .5s forwards;
}
@keyframes blubox2{
    0%{
        left:-100%;
    }
    100%{
        left:0;
    }
}

.site_info_pg_bluebox2 h3 {
    font-size: 2vw;
    line-height: 5vw;
    float: right;
    padding-right: 5%;
    font-family: 'HanWangZonYi';
    color: white;
    opacity: 0;
    animation: bluebox2_h3 2.5s 1.5s forwards;
}

@keyframes bluebox2_h3{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.site_info_wrap{
    width:1200px;
    margin:auto;
    position: relative;
    top:0;
    left:0;
    right:0;
    height:100vh;
}
#basketball_site,
#bowling_site,
#badminton_site,
#climbimg_site{
    position: absolute;
    width:17%;
    display: block;
}

.link{
    position: absolute;
    display: block;
    content:'';
    border-radius: 9487%;
    width: 25%;
    padding-top: 25%;
    height:0;
    right:0;
    bottom:0;
    background-color: #fff;
    border:.5vw solid #ff0000
}

.link_text {
    position: absolute;
    display: block;
    border-radius: 9487%;
    text-align: center;
    right: 0;
    left:0;
    top:50%;
    transform: translateY(-50%);
}
#basketball_site h2,
#bowling_site h2,
#badminton_site h2,
#climbimg_site h2 {
    position: absolute;
    font-size: 1.5vw;
    display: block;
    width:100%;
    text-align: center;
    color:white;
    height: 1.5vw;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
#basketball_site img,
#bowling_site img,
#badminton_site img,
#climbimg_site img{
    width:100%;
}
#basketball_site{
    top:25%;
    left:12%;
}

#bowling_site {
    top: 25%;
    right:36%;
}

#badminton_site {
    top: 55%;
    left:23%;
}

#climbimg_site {
    top: 55%;
    left:59%;
}