*{
    // outline:1px solid red;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
html {
    overflow: -moz-hidden-unscrollable;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    height: 100%;
	width: 100vw;
	overflow: auto;
}
.site_info{
    width:100%;
    position: relative;
    overflow: hidden;
}
.site_info_wrap{
    width:1200px;
    margin:auto;
    position: relative;
    padding-top: 1%;
    z-index: 1;
}
.site_info_wrap:after{
    display:block;
    content:'';
    clear: both;
}
.site_info_wrap h3,
.assess_wrap h3,
.group_page h3{
    font-size: 48px;
    font-family:'HanWangZonYi';
    color:#70d9f1;
    line-height: 3;
}
.slider{
    width:57%;
    float:left;
    overflow:hidden;
    position: relative;
}
.slider ul{
    position: relative;
    width:100%;
    left:0;
    transition: 1s;
    text-align: left;
}
.slider ul:after{
    display: block;
    content:'';
    clear: both;
}
.slider_li{
    outline:0;
    height:485px;
    overflow: hidden;
}
.slider ul li img{
    width:100%;
    display:block;
    margin-top: 20px;
}
.info{
    width:40%;
    float:left;
    padding-bottom: 156px;
    padding-left: 3%;
}
.info h3{
    line-height: 2;
    color:#0052b2;
}
.info p{
    font-size: 18px;
    font-family:'HanWangZonYi';
    line-height: 1.5;
}
.info_desc{
    height:80px;
    overflow:hidden;
    display:-webkit-box;
    text-overflow:ellipsis;
    -webkit-line-clamp: 3;      // 想顯示的行數 lines you want to display
    -webkit-box-orient: vertical;
    line-height: 3;       //解決firefox不支援-webkit-line-clamp的問題
    max-height: 3*3;      //解決firefox不支援-webkit-line-clamp的問題
}
.info p:nth-child(3),
.info p:nth-child(4){
    line-height: 2;
}
.info p:nth-child(3){
    margin-top: 35px;
}
.reservation,
.group{
    cursor: pointer;
    width:45%;
    background-color: #0052b2;
    color:#fff;
    font-family:'HanWangZonYi';
    font-size: 18px;
    padding: 12px 0 12px;
    border: 0;
    outline: 0;
    border-radius: 9487px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom:25px;
}
.group{
    background-color: #fff;
    color:#0052b2;
}
.site_select{
    font-size: 0;
    border-top: 1px solid #0052b2;
}
.site_item{
    display:inline-block;
    width:33.3%;
    padding-top: 0%;
    text-align: center;
    cursor: pointer;
}
.site_item_img{
    width:100%;
    padding-top: 85%;
    height:0;
    position: relative;
}
.site_item_img img{
    width:90%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
}
.site_button{
    width:90%;
    font-size: 16px;
    margin:auto;
    outline:0;
    cursor: pointer;
    background-color: transparent;
    padding:5% 0;
    position: relative;
    font-family:'HanWangZonYi';
    // border-radius: 9487px;
    // border:#70d9f1 5px solid;
    // border:0;
    transition: .5s;
    text-align: center;
}
.site_info_tri1{
    position: absolute;
    display:block;
    content:'';
    right:-100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30vw 40vw;
    border-color: transparent transparent rgba(255,255,255,.2) transparent;
}
.site_info_tri2{
    position: absolute;
    display:block;
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33vw 0 0 45vw;
    border-color: transparent transparent transparent #70d9f1;
    left:-100%;
    bottom:0;
}
.assess{
    width:100%;
    // background-color: #70d9f1;
    position: relative;
    overflow: hidden;
}
.assess_tri1{
    left:-100%;
    display:block;
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 33vw 45vw 0 0;
    border-color: #0052b1 transparent transparent transparent;
}
.assess_tri2{
    display:block;
    content:'';
    position: absolute;
    width: 0;
    height: 0;
    right:-100%;
    bottom:0;
    z-index: 0;
    border-style: solid;
    border-width: 0 0 13vw 15vw;
    border-color: transparent transparent #ea4c89 transparent;
}

.assess_tri3 {
    display: none;
    content: '';
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15vw 13vw 0;
    border-color: transparent #f26fa2 transparent transparent;
}
.assess_wrap{
    width:1200px;
    margin: auto;
    z-index: 1;
    position: relative;
}
.assess_wrap h3{
    color:#fff;
}
.assess_table{
    position: relative;
    // background-color: #fff;
    width:90%;
    margin: auto;
    font-family: '微軟正黑體';
    font-weight: bold;
    padding-bottom: 150px;
}
.assess_table:after{
    display: block;
    content:'';
    clear: both;
}
.assess_table label{
    width:31.33%;
    background-color: #fff;
    margin:0 1% 0 1%;
    display: block;
    float:left;
    text-align:center;
    font-family:'HanWangZonYi';
    color:#0052b2;
    font-size: 30px;
    line-height: 2;
    margin-bottom: 50px;
    cursor: pointer;
}
.assess_table input{
    position: absolute;
    width:1px;
    opacity: 0;
}
.assess_table table{
    width:98%;
    margin:auto;
    height:350px;
    overflow-y: scroll;
    display:block;
}
.sport_tr{
    line-height: 1;
    padding-bottom: 2%;
    display: block;
    font-size: 0;
}
.sport_td{
    text-align: center;
    vertical-align: top !important;
    display: inline-block;
    font-size: 18px;
}
.sport_memPic {
    width: 10%;
    padding-top: 10%;
    height:0;
    border-radius: 9487%;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.sport_memPic img{
    position: absolute;
    width:100%;
    // height:100%;
    top:0;
    left:0;
    // border-radius: 9487%;
    // display: block;
}
.memPic{

}
.rank{
    // width:200px;
    display:block;
}
.rank img{
    width:5%;
    margin:0 1%;
    vertical-align: middle;
}
.sport_td:nth-child(2) {
    font-size: 20px;
    width:20%;
    padding-top:4%;
}
.sport_td:nth-child(3){
    width:50%;
    text-align: left;
    font-size: 16px;
    line-height: 1;
}
.sport_td:nth-child(4){
    font-size: 16px;
    color:#0052b2;
    width:20%;
    padding-top:4%;
}
.rank{
    color:yellow;
    font-size: 20px;
}
.group_page{
    width:100%;
    // background-color: #70d9f1;
    position: relative;
    overflow: hidden;
}
.bgcball{
    position: absolute;
    // left:50px;
    animation: ball 2s 0s both;
    // z-index: 0;
    width:42%;
    left:-100%;
    transform: rotate(0deg);
    bottom:0;
}
// @keyframes ball {
//     0% {
//         left: -1000px;
//         transform: rotate(0deg);
//     }
//     100% {
//         left: 50px;
//         transform: rotate(360deg);
//     }
// }

.bgcball img{
    width:100%;
}
.group_page_content{
    width:1200px;
    margin:auto;
    position: relative;
    // z-index: 1;
    // padding-top: 150px;
}
.group_page_content h3{
    color:#ea4c89;
    text-align: right;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    // padding-bottom: 100px;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
.home_team{
	font-size: 0;
	float: inherit;
    width: 100%;
    padding:5% 0 5% 0;
}
.teamAll h3{
	text-align: center;
	color: #ffb505;
	font-size: 2vw;
	margin-top: 15px;
	margin-bottom: 45px;
	font-style: oblique;
	font-family: 'HanWangZonYi';
}
.bookin_list tr td span img{
    width:16px;
}
.morebg{
    padding:10% 20%;
}
.teamDate,
.teamMem,
.teamTxt{
    // font-size: 1.5vw;
    // line-height: 1.5;
    color:#aaaaaa;
}
@media screen and (max-width:1200px){
    .site_info_wrap{
        width:90%;
    }
    
    .site_info_wrap h3,
    .assess_wrap h3,
    .group_page h3{
        font-size: 36px;
        line-height: 2;
    }
    .slider{
        width:60%;
        // margin:auto;
        float:left;
    }
    .info{
        width:37%;
        // padding-right: 3%;
        padding-bottom: 80px;
    }
    .assess_wrap{
        width:90%;
        margin: auto;
        z-index: 1;
        position: relative;
    }
    .assess_table{
        width:100%;
        padding-bottom: 10%;
    }
    .assess_table table{
        width:98%;
    }
    .group_page_content{
        width:90%;
    }
    .group_page_tri{
        top:-180%;
    }
    .teamAll h3{
        text-align: center;
        color: #ffb505;
        font-size: 2vw;
        margin-top: 15px;
        margin-bottom: 35px;
        font-style: oblique;
        font-family: 'HanWangZonYi';
    }
    .morebg{
        padding:5% 10%;
    }
    .teamDay{
        font-size: 2vw;
        line-height: 1;
    }
    .teamMonth{
        font-size: 1.5vw;
        line-height: 1;
    }
    .teamName{
        font-size: 2vw;
        padding-bottom: 0;
    }
    .teamDate,
    .teamMem,
    .teamTxt{
        font-size: 1.5vw;
        line-height: 1.5;
        color:#aaaaaa;
    }
    // .site_info_tri1{
    //     border-width: 0 0 60vw 70vw;}
    // .site_info_tri2{
    //     border-width: 66vw 0 0 50vw;
    // }
    // .assess_tri1{
    //     border-width: 66vw 50vw 0 0;}
    // .assess_tri2{
    //     border-width: 0 0 23vw 25vw;}
    // .group_page_tri{
    //     top:-180%;
    //     border-width: 0 25vw 23vw 0;}
}
@media screen and (max-width:767px){
    .site_info_wrap{
        width:90%;
    }
    .site_info_wrap h3,
    .assess_wrap h3,
    .group_page h3{
        font-size: 6vw;
        line-height: 2;
    }
    .group_page h3{
        padding-top: 5%;
        font-size: 7vw;
        text-align: center;
    }
    .slider{
        width:100%;
        margin:auto;
        float:initial;
    }
    .slider ul{
        position: relative;
        width:100%;
        left:0;
        transition: 1s;
        text-align: center;
    }
    .slider li{
        widows: 20%;
    }
    .slider ul li img{
        width:100%;
    }
    .info{
        width:100%;
        padding-left: 0;
        padding-bottom: 50px;
    }
    .info p{
        font-size: 14px;
    }
    .reservation,
    .group{
        width:48%;
        padding:0 1% 0 1%;
        line-height: 5vh;
    }
    .site_item{
        width:48%;
        padding:10% 1% 0 1%;
    }
    
    .home_team{
        font-size: 0;
        float: inherit;
        width: 100%;
        padding:0 0 5% 0;
    }
    .assess_table label{
        font-size: 14px;
        margin-bottom: 2%;
        letter-spacing: 1px;
        font-weight: 100;
        cursor: pointer;
    }
    .sport_tr{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .sport_td:last-child{
        display: none;
    }
    .sport_td:nth-child(1){
        width:20%;
    }
    .sport_td:nth-child(2){
        width:30%;
    }
    .sport_td:nth-child(3){
        order:4;
        width:100%;
        padding:5% 0 5% 0;
        line-height: 1.5;
    }
    .sport_td:nth-child(4){
        width:50%;
        // order:3;
    }
    .assess_wrap{
        width:80%;
        margin: auto;
        z-index: 1;
        position: relative;
    }
    .assess_table{
        width:100%;
        padding-bottom: 20%;
    }
    .assess_table table{
        width:100%;
        height:500px;
        overflow:scroll;
    }
    .group_page_content{
        width:80%;
    }
    .group_page_tri{
        top:-180%;
    }
    .site_info_tri1{
        border-width: 0 0 60vw 70vw;
        top:auto;
        bottom:0;
    }
    .site_info_tri2{
        border-width: 66vw 0 0 50vw;
    }
    .assess_tri1{
        border-width: 66vw 50vw 0 0;}
    .assess_tri2{
        border-width: 0 0 33vw 25vw;}
    .assess_tri3{
        border-width: 0 25vw 23vw 0;
    }
    .morebg{
        padding:5% 10%;
    }
    .teamGroup{
        width:100%;
    }
    .all_img{
        display: block;
    }
    .teamAll{
        background-image: url(../images/index/teamAll.png);
    }
    .teamItem,
    .teamItem.all{
        width:100%;
        // margin:auto;
    }
    .teamItem.all{
        display: none;
    }
    .teamOne{
        padding-bottom: 120%;
    }
    .teamDay{
        font-size: 6vw;
        line-height: 1;
    }
    .teamMonth{
        font-size: 6vw;
        line-height: 1;
    }
    .teamName{
        font-size: 6vw;
        padding-bottom: 10px;
    }
    .teamDate,
    .teamMem,
    .teamTxt{
        font-size: 4vw;
        line-height: 1.5;
        color:#aaaaaa;
    }
    .bgcball{
        display:none;
    }
    .slider_li{
        outline:0;
        height:250px;
        overflow: hidden;
    }
}