.home_team{
	font-size: 0;
	float: left;
	width: 75%;
}
.home_team::after{
	display: block;
	content:'';
	clear: both;
}
.teamItem{
	vertical-align: top;
	display: inline-block;
	width:25%;
	box-sizing: border-box;
	padding:0 15px;
	color:#777;
	font-size: 16px;
	line-height: 24px;
	font-family: 'HanWangZonYi';
	margin-bottom: 30px;
	
}
.teamOne{
	width:100%;
	background-color: #fff; 
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	height: 0;
	padding-bottom:150%;
	overflow: hidden;
	position: relative;
}
.teamItem.all{
	z-index: 2;
	float: left;
}
.teamAll{
	padding-bottom:150%;
	width: 100%;
	height:0;
	background-image: url('../images/index/teamAll.png');
	background-size: cover;

}
.teamAll a{
	display: block;
	width: 50%;
	margin: 0 auto;
	// overflow: hidden;
	// height: 100%;
}
.all_img{
	text-align: center;
	width: 100%;
}
.all_img img{
	width: 30%;
	margin-top: 45%;
}
.teamAll h3{
	text-align: center;
	color: #ffb505;
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 45px;
	font-style: oblique;
	font-family: 'HanWangZonYi';
}
.teamMore.all{
	position: relative;
	background-color: #fff;
	color: #ffb505;
	font-size: 18px;
	width: 50%;
	margin: 0 auto;
}

.teamDate_top{
	position: absolute;
	width: 25%;
	height:0;
	padding-bottom: 25%;
	top:0;
	right:0;
	text-align: center;
	background-color: #ffb505;
}
.dateGroup{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color:#0052b2;
}
.teamMonth{
	font-size: 18px;
}
.teamDay{
	font-size: 26px;
}
.teamPic{
	width: 100%;
	height: 0;
	padding-bottom: 59.2632431%;
	overflow: hidden;
}
.teamPic img{
	width: 100%;
}
.teamInfo{
	text-align: left;
	padding: 30px 15px 15px;
	position: relative;
}
.teamName{
	font-size: 20px;
	line-height: 30px;
	font-weight: bold;
	color: #0052b2; 
	padding-bottom: 10px;
	font-style: oblique;
}
.teamTxt{
	font-size: 14px;
}
.teamMore{
	position: absolute;
	top:0;
	left:0;
	transform: translateY(-50%);
	background-color: #0052b2;
	color: #ffb505;
	font-size: 18px;
	width: 50%;
}
.morebg{
	position: relative;
	padding: 8px 15px;
	overflow: hidden; 
}
.morebg:after{
	display: block;
	content: '';
	position: absolute;
	width: calc(100%);
	height: 100%;
	background-color: #ffb505;
	transform: skewX(-20deg);
	transform-origin: center;
	top:0;
	left: -110%;
	z-index: -1;
	transition: .3s;
}
.teamMore.all .morebg:after{
    background-color: #0052b2;
}
.moreSkew{
	position: absolute;
	width:20%; 
	height: 100%;
	top:0;
	right: -10%;
	background-color: #ffb505;
	color: #0052b2;
	line-height: 40px;
	text-align: center;
	transform: skewX(-20deg);
	transform-origin: center;
}
.teamItem a:hover .teamMore{
	color:#0052b2;
}
.teamItem a:hover .teamMore.all{
	color:#ffb505;
}
.teamItem a:hover .morebg:after{
	left:-9%;
}
@media screen and (max-width: 1200px) {
	.teamMore{
		font-size: 1.3vw;
	}
	.teamMore.all{
		font-size: 1.3vw;
	}
}

@media screen and (max-width: 767px) {
	#fp-nav{
		display: none;
	}
	.teamMore.all .moreSkew{
		display: none;
	}
	.teamMore.all{
		background-color: #ffb505;
		color:#0052b2;
		font-size: 18px;
	}
	.teamMore{
		font-size: 18px;
	}
	.home_pg3{
		text-align: center;
	}
	.home_pg3 h2{
		padding-top: 15vh;
		margin-bottom: 3vh;
		font-size: 24px;
	}
	.teamItem.all{
		float: none;
		width: 80%;
		margin: 20px auto 10px;
	}
	.teamAll{
		padding-bottom:0;
		width: 100%;
		height:auto;
		background-image:none;
	}
	.all_img{
		display: none;
	}
	.home_team {
		width: 100%;
	}
	.teamGroup{
		width: 75%;
		margin: 0 auto;
	}
}
